.cal1 {
    margin: 30px auto;
    max-width: 700px;
    font-family: 'Droid Sans Mono';
    font-size: 14px;
    .clndr {
        .clndr-controls {
            display: inline-block;
            background: map-get($mau, main);
            color: white;
            width: 100%;
            height: 60px;
            position: relative;
            line-height: 60px;
            .month {
                float: left;
                width: 33%;
                text-align: center;
                font-size: 20px;
            }
            .clndr-control-button {
                float: left;
                width: 33%;
                .clndr-next-button {
                    background: #091c3d;
                    font-size: 0;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    &:hover {
                        &::after {
                            background: rgba(255, 255, 255, .1);
                        }
                    }
                    &::after {
                        border-radius: 50%;
                        font-family: Linearicons-Free;
                        font-size: 18px;
                        content: '\e876';
                        background: #233657;
                        padding: 10px;
                        font-weight: 700;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
                .clndr-next-button.inactive {
                    opacity: 0.5;
                    &:hover {
                        background: none;
                        cursor: default;
                    }
                }
                .clndr-previous-button {
                    background: #091c3d;
                    font-size: 0;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    &::before {
                        content: '\e875';
                        font-family: Linearicons-Free;
                        color: white;
                        font-size: 18px;
                        margin-left: 10px;
                        border-radius: 50%;
                        padding: 10px;
                        background: #233657;
                        cursor: pointer;
                        font-weight: 700;
                    }
                    &:hover {
                        &::before {
                            background: rgba(255, 255, 255, .1);
                        }
                    }
                }
                .clndr-previous-button.inactive {
                    opacity: 0.5;
                    &:hover {
                        background: none;
                        cursor: default;
                    }
                }
            }
            .clndr-control-button.rightalign {
                text-align: right;
                width: 34%;
            }
        }
        .clndr-table {
            table-layout: fixed;
            width: 100%;
            .header-days {
                height: 50px;
                font-size: 18px;
                background: map-get($mau, main);
                .header-day {
                    vertical-align: middle;
                    text-align: center;
                    color: #fff;
                    &:last-child {
                        border-right: 1px solid map-get($mau, main);
                    }
                }
            }
            tr {
                width: 100%;
                height: 85px;
                font-weight: 500;
                .day {
                    width: 100%;
                    text-align: center;
                    &:first-child {
                        border-left: 1px solid map-get($mau, main);
                    }
                    &:last-child {
                        border-right: 1px solid map-get($mau, main);
                    }
                    .day-contents {
                        box-sizing: border-box;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 100%;
                        color: map-get($mau, main);
                        font-size: 15px;
                    }
                }
                // .day.last-month {
                //     .day-contents {
                //         background: white !important;
                //         // color: gray !important;
                //     }
                // }
                .day.today {
                    .day-contents {
                        color: white !important;
                        border-radius: 0;
                        background: map-get($mau, main);
                    }
                }
                .day.event {
                    .day-contents {
                        color: white !important;
                        border-radius: 50%;
                        background: map-get($mau, main-2);
                    }
                }
                .day.inactive {
                    .day-contents {
                        color: gray !important;
                    }
                }
                .day.my-inactive {
                    background: #ddd;
                }
                .empty {
                    &:last-child {
                        border-right: 1px solid map-get($mau, main);
                    }
                }
                .adjacent-month {
                    .day-contents {
                        color: gray !important;
                    }
                    &:last-child {
                        border-right: 1px solid map-get($mau, main);
                    }
                }
                &:last-child {
                    .day {
                        border-bottom: 1px solid map-get($mau, main);
                    }
                    .my-day {
                        border-bottom: 1px solid map-get($mau, main);
                    }
                    .empty {
                        border-bottom: 1px solid map-get($mau, main);
                    }
                    .my-empty {
                        border-bottom: 1px solid map-get($mau, main);
                    }
                }
            }
        }
    }
}

.clndr-next-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.clndr-previous-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.clndr-next-year-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.clndr-previous-year-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.clndr-next-button.inactive {
    opacity: 0.5;
    cursor: default;
}

.clndr-previous-button.inactive {
    opacity: 0.5;
    cursor: default;
}

.clndr-next-year-button.inactive {
    opacity: 0.5;
    cursor: default;
}

.clndr-previous-year-button.inactive {
    opacity: 0.5;
    cursor: default;
}

.calendar-home {
    h5.title-calendar {
        color: map-get($mau, main-2);
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
    }
    width: 700px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 100px;
    .link-data-calendar {
        .images {
            text-align: center;
        }
    }
    .list-event {
        #monthNow {
            position: relative;
            color: map-get($mau, main) !important;
            #yearNow {
                position: absolute;
                top: 0;
                left: 0;
                color: #808080;
                font-size: 42px;
                font-weight: 700;
                opacity: .4;
            }
        }
        tbody {
            display: block;
            width: 100%;
            tr {
                &:last-child {
                    td {
                        border-bottom: 1px solid map-get($mau, main);
                    }
                }
            }
            td {
                position: relative;
                span {
                    position: absolute;
                    font-size: 14px;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: map-get($mau, main);
                }
                border-top: 1px solid map-get($mau, main);
            }
            .day--event {
                font-size: 40px;
                color: map-get($mau, main-2);
                font-weight: 700;
                padding: 10px 30px;
                padding-bottom: 20px;
            }
            .title--event {
                font-size: 17px;
                width: 700px;
            }
        }
    }
}