section.learning-space
	.container
		.block-title--main(data-title="Location")
			h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Location
		.max-750px
			p Location SNA’s Him Lam Campus is located at No. 20 Street, Him Lam, Nam Sai Gon, District Binh Chanh, HCMC with a total area of 10,000m2 with 100 rooms including 73 classrooms and 17 function rooms. It is situated about 15 minute s’ drive from the city centre, closing to District 7 – newly developed, tree-lined Phu My Hung area.
			ul.row.ai-c.list-info-location
				li.col-sm-4
					.title 2km
					.desc Mall
				li.col-sm-4
					.title 100m
					.desc Park
				li.col-sm-4
					.title 6km
					.desc District 1 Center Business District
			.ta-c.mb-25px
				a.btn.btn-cl-main-2(href="https://www.google.com/maps?ll=10.730219,106.68729&z=15&t=m&hl=vi&gl=US&mapclient=embed&cid=15163647371590658639" target="_blank") MAP TO SNA
			p SNA’s campus is very new, having been completed in 2017 and is located in District 7, a thriving and modern area of Ho Chi Minh city. The campus boasts dedicated IT suites, art rooms, science labs, a STEM room (Science Technology Engineering and Mathematics), gymnasium, a football field and a covered swimming pool among our many facilities and learning spaces.