section.children-protect.bg-section(position-top-right)
	.about-content
		.container
			.row.item.text-right.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
				.col-md-6.box-img
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/children-protect/Security-SNA.jpg", alt="Security-SNA")
				.col-md-6.box-content
					h3.title-protect INTERNATIONAL STANDARD SAFEGUARDING POLICIES
					h5.desc-title Our Commitment to Students and Parents
					.desc
						p Our Commitment to Students and Parents
						p We are committed to our duty to safeguard and promote the welfare and protect the well-being of our students and staff. We aim to ensure a safe learning and working environment for students, staff, parents and visitors alike. We take our responsibilities in relation to safeguarding and child protection very seriously.
						p We welcome parents, families, and visitors to our school. All adults who work with our students, including visiting professionals, are appropriately checked and/or supervised. This also supports our emergency evacuation processes which are in place.