section.children-protect.bg-section(position-top-right)
	.container
		.row.item.text-right.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/children-protect/Security-SNA.jpg", alt="Security-SNA")
			.col-md-6.box-content
				h2 Vision
				.desc
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, nobis dolores odio facilis officiis cupiditate earum vitae minima, voluptatem laboriosam nesciunt veniam, fugiat nulla porro incidunt unde neque obcaecati autem!