section.story.container
    .row.achievement
        .col-sm-6.col-lg-3.list-item
            .img.ov-h
                img.lazyload.blur-up.ofcv(data-src="../assets/images/story/story1.png", alt="")
            .content
                h4 Ton Nu Cam Quynh
                p STUDENT REPRESENTATIVE OF HO CHI MINH CITY 2018
        .col-sm-6.col-lg-3.list-item
            .img.ov-h
                img.lazyload.blur-up.ofcv(data-src="../assets/images/story/story2.png", alt="")
            .content
                h4 Nguyen Hoang Nguyet Minh
                p PLANTINUM AWARD - ENGLISH ELOQUENCE CONTEST - 5A2
        .col-sm-6.col-lg-3.list-item
            .img.ov-h
                img.lazyload.blur-up.ofcv(data-src="../assets/images/story/story3.png", alt="")
            .content
                h4 Alex Tran Quang Vinh Tu
                p PLANTINUM AWARD - ENGLISH ELOQUENCE CONTEST - 4A1
        .col-sm-6.col-lg-3.list-item
            .img.ov-h
                img.lazyload.blur-up.ofcv(data-src="../assets/images/story/story4.png", alt="")
            .content
                h4 Ethan Tran Minh Huy
                p PLANTINUM AWARD - ENGLISH ELOQUENCE CONTEST - 2A1
        .col-sm-6.col-lg-3.list-item
            .img.ov-h
                img.lazyload.blur-up.ofcv(data-src="../assets/images/story/story5.png", alt="")
            .content
                h4 Michael Le Mai Gia Duc
                p PLANTINUM AWARD - ENGLISH ELOQUENCE CONTEST - 3A1
        .col-sm-6.col-lg-3.list-item
            .img.ov-h
                img.lazyload.blur-up.ofcv(data-src="../assets/images/story/story6.png", alt="")
            .content
                h4 Vicky Huynh Vo Thi Hanh
                p PLANTINUM AWARD - ENGLISH ELOQUENCE CONTEST - G1A1
        .col-sm-6.col-lg-3.list-item
            .img.ov-h
                img.lazyload.blur-up.ofcv(data-src="../assets/images/story/story7.png", alt="")
            .content
                h4 Phi Trung Viet
                p STEM AMBASSADOR
                span Young scientist of NHG 2018. Stem Ambassador 2019
        .col-sm-6.col-lg-3.list-item
            .img.ov-h
                img.lazyload.blur-up.ofcv(data-src="../assets/images/story/story7.png", alt="")
            .content
                h4 Ngo Trinh Bao Nhi
                p STEM AMBASSADOR