section.story-student-5.container
	.row
		.col-lg-4.col-md-4.col-sm-6.list-item
			a(href="")
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="../assets/images/story/yeahbook1.png", alt="")
					h3 2016
				.link
					p Click to review
		.col-lg-4.col-md-4.col-sm-6.list-item
			a(href="")
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="../assets/images/story/yeahbook2.png", alt="")
					h3 2017
				.link
					p Click to review
		.col-lg-4.col-md-4.col-sm-6.list-item
			a(href="")
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="../assets/images/story/yeahbook3.png", alt="")
					h3 2018
				.link
					p Click to review