section.bac-home.container-fluid.bg-section(position-top-right)
	.container.inner-bac
		h2.title-bac MANAGEBAC USER GUIDE FOR PARENTS
		.content-lv-1
			h3 I. Signing In
		.content-lv-2
			p Access Manabebac by this link 
				|
				a(href="http://sna.managebac.com")
					| http://sna.managebac.com
			p On the login screen, you will see the following fields:
			p Log in with your e-mail address and the password you’ve set.
		.content-lv-1
			h3 II. Navigating ManageBac
		.content-lv-2
			h5 1. Select your child’s name from the top of the Menu.
		.content-lv-3
			p This allows you to select which child you wish to view if you have more than one child registered on ManageBac. Once you have selected a child, you will see an overview of recent and upcoming activities.
		.content-lv-2
			h5 2. Calendar
		.content-lv-3
			p The Calendar tab lets you see your child’s academic and activity dates in calendar form.
		.content-lv-2
			h5 3. Attendance
		.content-lv-3
			p The Attendance tab shows the attendance information for your child and details how many absences he or she has.
		.content-lv-2
			h5 4. Messages
		.content-lv-3
			p The Messages tab shows the messages written by teachers and students in each of your child’s classes. Parents can view messages and file attachments but are unable to add comments or post messages here.
		.content-lv-2
			h5 5. Progress
		.content-lv-3
			p The Progress tab details your child’s academic progress in each class, and lets you view past report cards and future academic plans. Click on a class to view which units are being taught and view task/assignment grades left by the teacher.
		.content-lv-2
			h5 6. Timetables
		.content-lv-3
			p Click the Timetables tab to view your child’s class attendance records. Click Download PDF to get a PDF export of your child’s class timetable. You can also click to Submit Excusals for absent excusals directly on this page.
		.content-lv-2
			h5 7. Portfolio
		.content-lv-3
			p Click on the Portfolio tab to view the work that your child has uploaded to their classes. If your child is in IB Primary Years, you can use the Portfolio to leave notes for the teacher.
		.content-lv-2
			h5 8. Reports
		.content-lv-2
			h5 9. IB Parent’s Association
		.content-lv-3
			h5
				a(href="https://www.ibo.org/become-an-ib-school/timeline-and-stages/candidate-phase/") *SNA is an IB candidate school
			p The IB Parents Association tab keeps you connected with teachers and other parents. It allows you to send messages and be notified of upcoming parent events.
		.content-lv-1
			h3 III. Updating Your E-mail, Password & Contact Information
		.content-lv-2
			p Once you have logged in successfully, you can update your personal details by clicking on your name. Click Change Password to update your ManageBac login password. The password will not save until you see a green box, we recommend using a password that contains a combination of four simple but random words.
		.tutor-login
			.content-lv-1
				h3 *Below you will find a video user guide to help you login and use accounts on ManageBac. 
			.row.video-tutor-login
				.box-video
					#login-en(data-url="https://www.youtube.com/watch?v=zWJ_c99PSFE")
				.box-video
					#login-vi(data-url="https://www.youtube.com/watch?v=Zzfo9KGqQuw")
				.box-video
					#login-kr(data-url="https://www.youtube.com/watch?v=0PCqUWCInGM")