section.about-content
	.container
		.row.item.no-limit.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-content
				h2 Counseling Services
				.desc
					p.ta-justify The Counseling Office at SNA aims to support student development based on the diverse needs of all children and adolescents. The counseling program is developed and modified yearly which provides comprehensive guidance to students and parents through small group meetings and one-on-one sessions. We aspire to guide and support students and parents in understanding students’ learning, social and emotional development, and career planning. The school counselors enhance students’ knowledge, skills, and necessary preparation to become globally responsible citizens by working collaboratively with the school professionals, parents and community.
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/counseling/cound1.jpg", alt="Vision Mission 1")
		.row.item.no-limit.text-left.wow.fadeInDown.counseling-bottom(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/counseling/cound2.jpg", alt="Vision Mission 1")
			.col-md-6.box-content
				h2 Academic and Career Counseling
				.desc
					p.ta-justify The Academic and Career Counseling program is a comprehensive and systematic advisory program that guides and supports students develop through their 4 years plan in high school, starting from grade 9. We believe that students will successfully develop in the program which is the “best fit” to them. To attain that, the Academic and Career Counselors will encourage and guide students to improve their skills of self-reflection, self-discovery, career planning. and decision making. We hope that parents and students will invest more time to fully understand the academic and career counseling and college information to make the most appropriate decision for students’ future by utilizing our counseling services.

 