section.ss-news
	.container
		.row.news-cover
			.col-md-4.col-sm-6.list-items
				a(href="news-detail.html")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video1.jpg", alt="")
						.content
							h3.lcl.lcl-2 GIẢI MÃ Ý NGHĨA LOGO TRƯỜNG QUỐC TẾ BẮC MỸ SNA
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video2.jpg", alt="")
						.content
							h3.lcl.lcl-2 THIẾU NIÊN NÓI - TẬP 14 FULL: Diệu Nhi, Phương Mỹ Chi bấn loạn vì cha con Đàm Vĩnh Hưng
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video3.jpg", alt="")
						.content
							h3.lcl.lcl-2 CÁC BÀ MẸ NỔI TIẾNG HỌC ONLINE CÙNG CON NHƯ THẾ NÀO? 
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video4.jpg", alt="")
						.content
							h3.lcl.lcl-2  PHỤ HUYNH SNA THAM GIA CHƯƠNG TRÌNH THIẾU NIÊN NÓI TẬP 11
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video5.jpg", alt="")
						.content
							h3.lcl.lcl-2 CÙNG BAN GIÁM HIỆU SNA LÊN KẾ HOẠCH HỌC TẬP CHO CON!
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video6.jpg", alt="")
						.content
							h3.lcl.lcl-2 HAPPY WORLD ART DAY
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video7.jpg", alt="")
						.content
							h3.lcl.lcl-2 BẠN KHỎE KHÔNG? Ca khúc dành tặng những người hùng chống dịch Covid-19 / Minh Khang - Thúy Hạnh
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video8.jpg", alt="")
						.content
							h3.lcl.lcl-2 A BIG SURPRISE FOR ALL SNA STUDENTS
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video9.jpg", alt="")
						.content
							h3.lcl.lcl-2 CƠ HỘI VÀNG “SĂN” HỌC BỔNG ĐẶC BIỆT TRƯỜNG SNA
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video10.jpg", alt="")
						.content
							h3.lcl.lcl-2 Dicover Online Teaching Method of SNA’S Teachers
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video11.jpg", alt="")
						.content
							h3.lcl.lcl-2 Health Education at SNA
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(src="../assets/images/library-video/video12.jpg", alt="")
						.content
							h3.lcl.lcl-2 International Schools of North America Introduction
