section.related
    .container
        .related-news
            h2 Related News
            .row
                .col-lg-4
                    a.related-item(href="#")
                        .related-img.ov-h
                            img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news-detail/r1.jpg" alt="related1")
                        .related-content
                            .related-title.lcl.lcl-2 KIỂM TRA ĐẦU VÀO TRONG MÙA DỊCH, KHÔNG CÒN LÀ KHÓ KHĂN!
                            div.related-text.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
                            span.icon-more Read more
                .col-lg-4
                    a.related-item(href="#1")
                        .related-img.ov-h
                            img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news-detail/r3.jpg", alt="related3")
                        .related-content
                            .related-title.lcl.lcl-2 TIPS CHĂM SÓC CON TRONG MÙA DỊCH COVID-19
                            .related-text.lcl.lcl-4 Bố mẹ có biết? Trước khi hoàn tất thủ thục nhập học tại SNA, các “sĩ tử” ở các cấp đều cần tham gia vào bài kiểm tra đầu vào để được khảo sát thực lực, đánh giá khả năng ngôn ngữ của các em, nhằm mang đến một môi trường học tập phù hợp nhất.
                            span.icon-more Read more
                .col-lg-4
                    a.related-item(href="#2")
                        .related-img.ov-h
                            img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news-detail/r2.jpg", alt="related2")
                        .related-content
                            .related-title.lcl.lcl-2 CÁC BÀ MẸ NỔI TIẾNG HỌC ONLINE CÙNG CON NHƯ THẾ NÀO?
                            .related-text.lcl.lcl-4 Nghệ sĩ Ốc Thanh Vân và Người mẫu Thúy Hạnh chia sẻ về quá trình học online cùng con trong mùa dịch Covid-19. Hai bà mẹ nổi tiếng đã luôn ở bên nhắc nhở và giúp đỡ các bé về giờ giấc, đường truyền mạng... trong quá trình học.
                            span.icon-more Read more
