section.related.news
	.container
		.related-news
			.block-title--main.text-left(data-title="News & Event")
				h2 News & Event
					a(href="news.html")
						span Read more
		.features.row.list-items
			.col-lg-4.item
				a.related-item(href="news-detail.html")
					.img.ov-h.related-img
						img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news/newsall1.jpg" alt="news all 1")
					.related-content
						h3.lcl.lcl-2 TIPS CHĂM SÓC CON TRONG MÙA DỊCH COVID-19
						div.related-text.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
						span.icon-more Read more
			.col-lg-4.item
				a.related-item(href="news-detail.html")
					.img.ov-h.related-img
						img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news/newsall.jpg" alt="news all 2")
					.related-content
						h3.lcl.lcl-2 KIỂM TRA ĐẦU VÀO TRONG MÙA DỊCH, KHÔNG CÒN LÀ KHÓ KHĂN!
						div.related-text.lcl.lcl-4 Bố mẹ có biết? Trước khi hoàn tất thủ thục nhập học tại SNA, các “sĩ tử” ở các cấp đều cần tham gia vào bài kiểm tra đầu vào để được khảo sát thực lực, đánh giá khả năng ngôn ngữ của các em, nhằm mang đến một môi trường học tập phù hợp nhất.
						span.icon-more Read more
			.col-lg-4.item
				a.related-item(href="news-detail.html")
					.img.ov-h.related-img
						img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news/newsall3.jpg" alt="news all 3")
					.related-content
						h3.lcl.lcl-2 KIỂM TRA ĐẦU VÀO TRONG MÙA DỊCH, KHÔNG CÒN LÀ KHÓ KHĂN!
						div.related-text.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
						span.icon-more Read more