section.ib-program.customer.bg-section(position-top-right)
	.container
		.nav-menu.customer
			ul
				li.active
					a(href="faculty.html") Overview
				li
					a(href="homeroom.html") Homeroom teachers
				li
					a(href="subject.html") Subject Teachers
				li
					a(href="assistant.html") Teaching Assistants