section.about-content
	.container
		.row.item.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-content
				h2 Mission
				.desc
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, nobis dolores odio facilis officiis cupiditate earum vitae minima, voluptatem laboriosam nesciunt veniam, fugiat nulla porro incidunt unde neque obcaecati autem!
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/vision-mission/1.jpg", alt="Vision Mission 1")
		.row.item.text-right.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/vision-mission/2.jpg", alt="Vision Mission 1")
			.col-md-6.box-content
				h2 Vision
				.desc
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, nobis dolores odio facilis officiis cupiditate earum vitae minima, voluptatem laboriosam nesciunt veniam, fugiat nulla porro incidunt unde neque obcaecati autem!
		.row.item.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-content
				h2 Educational Philosophy
				.desc
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, nobis dolores odio facilis officiis cupiditate earum vitae minima, voluptatem laboriosam nesciunt veniam, fugiat nulla porro incidunt unde neque obcaecati autem!
					p At SNA we strive to empower our students with the skills, values, and knowledge that enable them to believe in their capacity to lead, walk their own path, and know how it feels to learn, discover, and experience.  The IB learner profile attributes are the mirror image of our educational beliefs and values. Therefore, they are the central part of all our teaching and learning practices. 
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/vision-mission/3.jpg", alt="Vision Mission 1")