section.news.news--page
	.container-custom
		.news--page__wrapper
			.news--page__wrapper--right
				h2 NỔI BẬT
				.features.row.list-items
					.col-sm-6.item
						a(href="news-detail.html")
							.img.ov-h
								img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news1.jpg", alt="")
							.related-content
								h3.lcl.lcl-2 HỌC SINH SNA SẼ TỐT NGHIỆP CHƯƠNG TRÌNH TÚ TÀI QUỐC TẾ IB
								p.lcl.lcl-4 Từ năm học 2020-2021, học sinh Trường Quốc tế Bắc Mỹ (SNA) sẽ theo học chương trình Tú tài Quốc tế (International Baccalaureate Diploma Programme - IBDP), dự kiến tốt nghiệp khóa đầu tiên vào tháng 6-2022.
								span.icon-more Xem Thêm
					.col-sm-6.item
						a(href="news-detail.html")
							.img.ov-h
								img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news2.jpg", alt="")
							.related-content
								h3.lcl.lcl-2 TIPS CHĂM SÓC CON 
								p.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
								span.icon-more Xem thêm
				h2 TẤT CẢ TIN TỨC
				.features.row.list-items
					.col-sm-6.item
						a(href="news-detail.html")
							.img.ov-h
								img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news1.jpg", alt="")
							.related-content
								h3.lcl.lcl-2 HỌC SINH SNA SẼ TỐT NGHIỆP CHƯƠNG TRÌNH TÚ TÀI QUỐC TẾ IB
								p.lcl.lcl-4 Từ năm học 2020-2021, học sinh Trường Quốc tế Bắc Mỹ (SNA) sẽ theo học chương trình Tú tài Quốc tế (International Baccalaureate Diploma Programme - IBDP), dự kiến tốt nghiệp khóa đầu tiên vào tháng 6-2022.
								span.icon-more Xem Thêm
					.col-sm-6.item
						a(href="news-detail.html")
							.img.ov-h
								img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news2.jpg", alt="")
							.related-content
								h3.lcl.lcl-2 TIPS CHĂM SÓC CON 
								p.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
								span.icon-more Xem thêm
					.col-sm-6.item
						a(href="news-detail.html")
							.img.ov-h
								img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news1.jpg", alt="")
							.related-content
								h3.lcl.lcl-2 HỌC SINH SNA SẼ TỐT NGHIỆP CHƯƠNG TRÌNH TÚ TÀI QUỐC TẾ IB
								p.lcl.lcl-4 Từ năm học 2020-2021, học sinh Trường Quốc tế Bắc Mỹ (SNA) sẽ theo học chương trình Tú tài Quốc tế (International Baccalaureate Diploma Programme - IBDP), dự kiến tốt nghiệp khóa đầu tiên vào tháng 6-2022.
								span.icon-more Xem Thêm
					.col-sm-6.item
						a(href="news-detail.html")
							.img.ov-h
								img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news2.jpg", alt="")
							.related-content
								h3.lcl.lcl-2 TIPS CHĂM SÓC CON 
								p.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
								span.icon-more Xem thêm
					ul.pagination
						li.pagination-prev
							a( data-url="something" href="#" )
						li
							a( data-url="something" href="#") 1
						li.active
							a( data-url="something" href="#") 2
						li
							a( data-url="something" href="#") 3
						li.pagination-dot
							a( data-url="something" href="#") ...
						li
							a( data-url="something" href="#") 13
						li
							a( data-url="something" href="#") 14
						li
							a( data-url="something" href="#") 15
						li.pagination-next
							a( data-url="something" href="#")
			.news--page__wrapper--left
				.catalog
					.title
						p LOREM IPSUM
					.content
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
						p.lcl.lcl-1
							a(href="") lorem ipsum
				.tagcloud
					.title
						p TAGS CLOUD
					p
						a(href="") teacher
						a(href="") talkshow
						a(href="") Ngay hoi giao dinh tue duc lan 5
						a(href="") hello