.faculty {
	padding-bottom: 50px;

	p {
		font-size: 22px;
		color: map-get($mau, main);
	}

	p+p {
		margin-top: 10px;
	}

	@media (max-width: 575.98px) {
		padding-bottom: 25px;

		p {
			font-size: 14px;
		}
	}
}