section.about-content
	.container
		.row.item.no-limit.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-content
				h2 Languages
				.desc
					p.ta-justify Language competency adds to our well-being and self-confidence. At SNA we provide an opportunity for language learning and critical study in English, Vietnamese, and Korean, as well as supporting Independent Language studies for students from other mother tongue backgrounds. Our SNA community recognizes the importance of language not only in determining academic success, but also in nurturing international mindedness and preparing our students to be global citizens.
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/counseling/cound1.jpg", alt="Vision Mission 1")
		.row.item.no-limit.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-img
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/counseling/cound1.jpg", alt="Vision Mission 1")
			.col-md-6.box-content
				h2 Inclusion Education
				.desc
					p.ta-justify SNA’s Inclusion Program supports students with academic and social challenges and students with mild behavior and emotional difficulties which impact classroom learning. Students enrolled in the Inclusion Program need greater attention than other Learning Support programs. Thus, the Inclusion staff attempt to work with each student and understand their needs and requirements within a classroom setting and assist teachers with any queries they may have with regards including students in classroom activities, assignments or exams..
			
		.row.item.no-limit.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-content
				h2 Wellbeing and Counselling
				.desc
					p.ta-justify Being a child in the 21st century can be a challenging experience that can sometimes prove stressful. However, the emotional well-being of our students is of utmost importance at SNA. Therefore, starting in August 2019, we shall be providing in-school support via our Student Welfare Counsellor. The role of this person is to provide advice and guidance on a variety of individual student needs and concerns. Students will be able to either drop-in or make an appointment to discuss their concerns in a safe and confidential environment.
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/counseling/cound1.jpg", alt="Vision Mission 1")
		
		