.main-banner__slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					.video
						.video-responsive
							.banner-youtube-api(data-url="https://www.youtube.com/watch?v=kiV3Gf8tDlA")
					.btn-read-more.container
						.btn.wow.slideInRight(data-wow-duration="1.3s" data-wow-delay=".3s") FIND OUT MORE
			-for(i=1;i<4;i++)
				.swiper-slide
					a(href="#")
						.img
							img.ofcv(src="./assets/images/main-banner/"+i+".jpg", alt="")
						.btn-read-more.container
							.btn.wow.slideInRight(data-wow-duration="1.3s" data-wow-delay=".3s") FIND OUT MORE
		.swiper-pagination