.booking-fixed
	a.iframeBooking(data-fancybox data-src="https://www.picktime.com/2eafeb9d-872d-4200-9641-6ceff405a6e2")
		figure
			img.lazyload.blur-up(data-src="./assets/booking-fixed.png", alt="Book an appointment with International Schools of North America")