section.core_slider-style--1
	.container
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<9;i++)
					.swiper-slide
						.img.ov-h
							img.ofcv(src="./assets/images/_core-slider-style-1--text/"+i+".jpg", alt="ITEM-SLIDER")
						.content
							.block-title--main.after-absolute(data-title="Lorem ipsum dolor")
								h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Lorem ipsum dolor
							p.ta-justify Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, esse saepe? Dignissimos dolores consectetur tempora, reprehenderit laboriosam nam recusandae. Ut odio ullam veritatis facilis recusandae fuga et necessitatibus explicabo. Alias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure natus nobis quo pariatur rerum, officia iusto voluptatibus sapiente quaerat facere. Praesentium officia officiis, porro odit illum ullam consequatur placeat.
		.swiper-button-next
		.swiper-button-prev