section.discover
	.container
		.wrap-rotate-text
			h2 Discover
		.row
			.col-md-6
				.item
					a(href="#")
						.title-discover.top Work at SNA
						.img.ov-h
							img.lazyload.blur-up.ofcv(data-src="./assets/images/discover/1.jpg", alt="Discover-01")
			.col-md-6
				.item
					a(href="#")
						.img.ov-h
							img.lazyload.blur-up.ofcv(data-src="./assets/images/discover/2.jpg", alt="Discover-02")
						.title-discover.bottom E-Brochure