section.discover
	.container
		.wrap-rotate-text
			h2 Discover
		.row
			.col-sm-6.left
				.item.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
					a(href="#")
						.title-discover.lcl.lcl-1.top Work at SNA
						.img.ov-h
							img.lazyload.blur-up.ofcv(data-src="./assets/images/discover/1.jpg", alt="Discover-01")
			.col-sm-6.right
				.item.wow.fadeInUp(data-wow-duration="1.3s" data-wow-delay=".3s")
					a(href="#")
						.img.ov-h
							img.lazyload.blur-up.ofcv(data-src="./assets/images/discover/2.jpg", alt="Discover-02")
						.title-discover.lcl.lcl-1.bottom E-Brochure