section.fast-link
	.container
		.inner
			.row.no-gutters
				.col-md-6
					a(href="#")
						.box-link.wow.fadeInLeft(data-wow-duration="1.3s" data-wow-delay=".3s")
							h4 VISIT SNA
							h5 Visit us
				.col-md-6
					a(href="#")
						.box-link.wow.fadeInRight(data-wow-duration="1.3s" data-wow-delay=".3s")
							h4 CONTACT SNA
							h5 Contact us