footer
	.container
		.row.big-row
			.col-lg-3.big-col
				.logo-footer
					img.lazyload.blur-up(data-src="./assets/logo-footer.png", alt="LOGO-FOOTER")
				.list-contact-footer
					ul
						li
							.icon
								img.svg(src="./assets/icons/address-white.svg", alt="address")
							.text Street 20, Him Lam Residential Area, Binh Chanh District, Ho Chi Minh City
						li
							.icon
								img.svg(src="./assets/icons/phone-white.svg", alt="phone")
							.text 0964 466 014
						li
							.icon
								img.svg(src="./assets/icons/mobile-phone-white.svg", alt="mobile-phone")
							.text +842873019799
						li
							.icon
								img.svg(src="./assets/icons/mail-white.svg", alt="mail")
							.text info@sna.edu.vn
				.info-footer
					p International Schools of North America is a candidate school* for the International Baccalaureate (IB) Primary Years Programme / Middle Years Programme / Diploma Programme and pursuing authorization as an IB World School.
					p Only schools authorized by the International Baccalaureate can offer any of its four academic programmes: the Primary Years Programme (PYP), the Middle Years Programme (MYP), the Diploma Programme or the IB Career-related Certificate (IBCC). Candidate status gives no guarantee that authorization will be granted.
			.col-lg-9.big-col
				.row.small-row.list-menu-footer
					.col-lg-3.small-col.item-link-footer
						h5 Who are we
						ul 
							li
								a(href="#") Faculty
							li
								a(href="#") Welcome to SNA
							li
								a(href="#") Vision & Mission
							li
								a(href="#") Accreditations and Authorizations
							li
								a(href="#") SNA Community
							li
								a(href="#") Work at SNA
							li
								a(href="#") E-Brochures
							li
								a(href="#") Campus Virtual Tour
					.col-lg-3.small-col.item-link-footer
						h5 Admissions
						ul
							li
								a(href="#") Admissions Policy
							li
								a(href="#") Admissions Procedure
							li
								a(href="tuition-fees.html") Tuition Fees
							li
								a(href="#") Annual  Calendar
							li
								a(href="#") Book a visit
					.col-lg-3.small-col.item-link-footer
						h5 Facilities
						ul
							li
								a(href="#") Learning Space
							li
								a(href="#") Food Service
							li
								a(href="children-protection-and-safeguarding.html") Child Protection and Safeguarding
							li
								a(href="#") Transportation
							li
								a(href="#") Library
					.col-lg-3.small-col.item-link-footer
						h5 IB Program
						ul
							li
								a(href="#") IB Program PYP
							li
								a(href="#") IB Program MYP
							li
								a(href="#") IB Program DP
					.col-lg-3.small-col.item-link-footer
						h5 Student Life
						ul
							li
								a(href="activities.html") Extracurricular Activities
							li
								a(href="#") Outreach Curriculum
							li
								a(href="#") Summer Program
							li
								a(href="#") Dormitory
							li
								a(href="#") Counseling service
							li
								a(href="#") Student Support Services
					.col-lg-3.small-col.item-link-footer
						h5 SNA Stories
						ul
							li
								a(href="#") SNA Students
							li
								a(href="#") SNA Parents
							li
								a(href="#") SNA Alumni
							li
								a(href="#") SNA Alumni
							li
								a(href="#") SNA Staffs
					.col-lg-3.small-col.item-link-footer
						h5 Parent Guide
						ul
							li
								a(href="#") E-Handbook
							li
								a(href="manage-bac.html") Manage Bac
					.col-lg-3.small-col.item-link-footer
						h5 News & Media
						ul
							li
								a(href="news.html") News and Events
							li
								a(href="library-photo.html") Photo
							li
								a(href="library-video.html") Video
						h5
							a(href="contact.html") Contact
				.map-footer
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7840.093494128736!2d106.687805!3d10.730878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd27018f1aaf26a4f!2sInternational%20Schools%20of%20North%20America!5e0!3m2!1svi!2sus!4v1590982630175!5m2!1svi!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
				.copy-right
					.text © 2019 SNA. All rights reserved
					.footer-social
						ul
							li
								a(href="#")
									img.svg(src="./assets/icons/facebook-white.svg", alt="FACEBOOK")
							li
								a(href="#")
									img.svg(src="./assets/icons/youtube-white.svg", alt="YOUTUBE")
							li
								a(href="#")
									img.svg(src="./assets/icons/likedin-white.svg", alt="LIKEDIN")
