footer
	.container
		.row.big-row
			.col-lg-3.big-col
				.logo-footer
					img.lazyload.blur-up(data-src="./assets/logo-footer.png", alt="LOGO-FOOTER")
				.list-contact-footer
					ul
						li
							.icon
								img.svg(src="./assets/icons/address-white.svg", alt="address")
							.text Street 20, Him Lam Residential Area, Binh Chanh District, Ho Chi Minh City
						li
							.icon
								img.svg(src="./assets/icons/phone-white.svg", alt="phone")
							.text 0964 466 014
						li
							.icon
								img.svg(src="./assets/icons/mobile-phone-white.svg", alt="mobile-phone")
							.text +842873019799
						li
							.icon
								img.svg(src="./assets/icons/mail-white.svg", alt="mail")
							.text info@sna.edu.vn
				.info-footer
					p International Schools of North America is a candidate school* for the International Baccalaureate (IB) Primary Years Programme / Middle Years Programme / Diploma Programme and pursuing authorization as an IB World School.
					p Only schools authorized by the International Baccalaureate can offer any of its four academic programmes: the Primary Years Programme (PYP), the Middle Years Programme (MYP), the Diploma Programme or the IB Career-related Certificate (IBCC). Candidate status gives no guarantee that authorization will be granted.
			.col-lg-9.big-col
				.row.small-row.list-menu-footer
					.col-lg-3.small-col.item-link-footer
						h5 Who are we
						ul 
							li
								a(href="faculty.html") Faculty
							li
								a(href="who-are-we.html") Welcome to SNA
							li
								a(href="vision-mission.html") Vision & Mission
							li
								a(href="accreditations-and-authorizations.html") Accreditations and Authorizations
							li
								a(href="community.html") SNA Community
							li
								a(href="working.html") Work at SNA
							li
								a(href="brochure.html") E-Brochures
							li
								a(href="virtual-tour.html") Campus Virtual Tour
					.col-lg-3.small-col.item-link-footer
						h5 Admissions
						ul
							li
								a(href="admissions-policy.html") Admissions Policy
							li
								a(href="pyp.html") Admissions Procedure
							li
								a(href="tuition-fees.html") Tuition Fees
							li
								a(href="annual-calendar.html") Annual  Calendar
							li
								a(href="book-a-visit.html") Book a visit
					.col-lg-3.small-col.item-link-footer
						h5 Facilities
						ul
							li
								a(href="learning-space.html") Learning Space
							li
								a(href="food-sevice.html") Food Service
							li
								a(href="children-protection-and-safeguarding.html") Child Protection and Safeguarding
							li
								a(href="transportation.html") Transportation
							li
								a(href="library.html") Library
					.col-lg-3.small-col.item-link-footer
						h5 IB Program
						ul
							li
								a(href="ib-program-pyp.html") IB Program PYP
							li
								a(href="ib-program-myp.html") IB Program MYP
							li
								a(href="ib-program-dp.html") IB Program DP
					.col-lg-3.small-col.item-link-footer
						h5 Student Life
						ul
							li
								a(href="activities.html") Extracurricular Activities
							li
								a(href="curriculum.html") Outreach Curriculum
							li
								a(href="summerprogram.html") Summer Program
							li
								a(href="dormitory.html") Dormitory
							li
								a(href="counseling.html") Counseling service
							li
								a(href="student-sp.html") Student Support Services
					.col-lg-3.small-col.item-link-footer
						h5 SNA Stories
						ul
							li
								a(href="story.html") SNA Students
							li
								a(href="story-parent.html") SNA Parents
							li
								a(href="story-alumni.html") SNA Alumni
							li
								a(href="story-staffs.html") SNA Staffs
					.col-lg-3.small-col.item-link-footer
						h5 Parent Guide
						ul
							li
								a(href="handbook.html") E-Handbook
							li
								a(href="manage-bac.html") Manage Bac
					.col-lg-3.small-col.item-link-footer
						h5 News & Media
						ul
							li
								a(href="news.html") News and Events
							li
								a(href="library-photo.html") Photo
							li
								a(href="library-video.html") Video
						h5
							a(href="contact.html") Contact
				.map-footer
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7840.093494128736!2d106.687805!3d10.730878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd27018f1aaf26a4f!2sInternational%20Schools%20of%20North%20America!5e0!3m2!1svi!2sus!4v1590982630175!5m2!1svi!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
				.copy-right
					.text © 2019 SNA. All rights reserved
					.footer-social
						ul
							li
								a(href="https://www.facebook.com/snavietnam/",target="_blank")
									img.svg(src="./assets/icons/facebook-white.svg", alt="FACEBOOK")
							li
								a(href="https://www.youtube.com/user/SchoolsNorthAmerica",target="_blank")
									img.svg(src="./assets/icons/youtube-white.svg", alt="YOUTUBE")
							li
								a(href="https://www.linkedin.com/school/i-sna/",target="_blank")
									img.svg(src="./assets/icons/likedin-white.svg", alt="LIKEDIN")
