header
	.container
		.row.no-gutters.ai-c
			.block-logo
				a(href="index.html")
					.logo
						img.lazyload.blur-up(data-src="./assets/logo.png", alt="logo")
			.top-header
				.t_header--list-contact
					ul
						li
							a(href="tel:0964466014")
								.icon
									img.svg(src="./assets/icons/mobile-phone.svg", alt="PHONE-NUMBER")
								.text 0964466014
							
						li
							a(href="tel:02873019799")
								.icon
									img.svg(src="./assets/icons/phone.svg", alt="PHONE-NUMBER")
								.text + 84 28 730 197 99
				.t_header--list-social
					ul
						li
							a(href="mailto:#")
								.icon
									img.svg(src="./assets/icons/mail.svg", alt="EMAIL")
						li
							a(href="#")
								.icon
									img.svg(src="./assets/icons/facebook.svg", alt="FACEBOOK")
						li
							a(href="#")
								.icon
									img.svg(src="./assets/icons/youtube.svg", alt="YOUTUBE")
						li
							a(href="#")
								.icon
									img.svg(src="./assets/icons/linkedin.svg", alt="LINKEDIN")
				.t_header--list-link
					ul
						li
							a(href="#") 360° Virtual Tour
						li
							a(href="javascript:void(0);") Quick Links
							ul
								li
									a(href="#") Managebac
								li
									a(href="#") Office 365
								li
									a(href="#") Destiny Library
				.t_header--search
					.icon
						img.svg(src="./assets/icons/search.svg", alt="SEARCH")