header
	.container
		.block-logo
			.logo
				a(href="index.html")
					img.lazyload.blur-up(data-src="./assets/logo.png", alt="logo")
				a(href="?nolick")
					img.lazyload.blur-up(data-src="./assets/log-ib.png", alt="logo")
		.toggle-menu-moblie.mobile
			span.menu-btn
				span
		.row.no-gutters.ai-c
			.top-header.col-12
				.t_header--list-contact
					ul
						li
							a(href="tel:0964466014")
								.icon
									img.svg(src="./assets/icons/mobile-phone.svg", alt="PHONE-NUMBER")
								.text 0964466014
							
						li
							a(href="tel:02873019799")
								.icon
									img.svg(src="./assets/icons/phone.svg", alt="PHONE-NUMBER")
								.text + 84 28 730 197 99
				.t_header--list-social
					ul
						li
							a(href="mailto:info@sna.edu.vn")
								.icon
									img.svg(src="./assets/icons/mail.svg", alt="EMAIL")
						li
							a(href="https://www.facebook.com/snavietnam/",target="_blank")
								.icon
									img.svg(src="./assets/icons/facebook.svg", alt="FACEBOOK")
						li
							a(href="https://www.youtube.com/user/SchoolsNorthAmerica",target="_blank")
								.icon
									img.svg(src="./assets/icons/youtube.svg", alt="YOUTUBE")
						li
							a(href="https://www.linkedin.com/school/i-sna/",target="_blank")
								.icon
									img.svg(src="./assets/icons/linkedin.svg", alt="LINKEDIN")
				.t_header--list-link
					ul
						li
							a(href="virtual-tour.html") 360° Virtual Tour
						li
							a(href="javascript:void(0);") Quick Links
							ul
								li
									a(href="https://sna.managebac.com/",target="_blank") Managebac
								li
									a(href="#") Office 365
								li
									a(href="#") Destiny Library
				.t_header--search
					.icon#search-sna
						img.svg(src="./assets/icons/search.svg", alt="SEARCH")
				.t_header--login
					a(href="login.html")
						.icon
							img.svg(data-src="./assets/icons/login.svg", alt="LOGIN")
				.t_header--language
					ul
						li.active
							a(href="#") VN
						li
							a(href="#") ENG
						li
							a(href="#") KR
			.b_header-input-search.col-12
				.input-search
					input(type="text",name="search",placeholder="Search . . .")
					.button-search
						input(type="submit", value="Search",name="btn-search")
				span.close-search
			.bottom-header.col-12
				nav.b_header--list-menu
					ul
						li
							a(href="who-are-we.html") Giới thiệu SNA
							ul
								li
									a(href="faculty.html") Faculty
								li
									a(href="who-are-we.html") Welcome to SNA
								li
									a(href="vision-mission.html") Vision & Mission
								li
									a(href="accreditations-and-authorizations.html") Accreditations and Authorizations
								li
									a(href="community.html") SNA Community
									ul
										li
											a(href="school-leadership-team.html") School Leadership Team
								li
									a(href="working.html") Work at SNA
								li
									a(href="brochure.html") E-Brochure
								li
									a(href="virtual-tour.html") Campus Virtual Tour
						li
							a(href="admissions-policy.html") Tuyển sinh
							ul
								li
									a(href="admissions-policy.html") Admissions Policy
								li
									a(href="pyp.html") Admissions Procedure
									ul
										li
											a(href="pyp.html") Admission Procedures - PYP
										li
											a(href="myp.html") Admission Procedures - MYP
										li
											a(href="dp.html") Admission Procedures - DP
								li
									a(href="tuition-fees.html") Tuition Fees
								li
									a(href="annual-calendar.html") Annual  Calendar
								li
									a(href="book-a-visit.html") Book a visit
						li
							a(href="learning-space.html") Cơ,sở,vật chất
							ul
								li
									a(href="learning-space.html") Learning Space
								li
									a(href="food-sevice.html") Food Service
								li
									a(href="children-protection-and-safeguarding.html") Child Protection and Safeguarding
								li
									a(href="transportation.html") Transportation
								li
									a(href="library.html") Library
						li
							a(href="ib-program-pyp.html") Tú tài Quốc tế – IB
							ul
								li
									a(href="ib-program-pyp.html") IB Program PYP
								li
									a(href="ib-program-myp.html") IB Program MYP
								li
									a(href="ib-program-dp.html") IB Program DP
						li
							a(href="activities.html") Đời sống Học đường
							ul
								li
									a(href="activities.html") Extracurricular Activities
								li
									a(href="curriculum.html") Outreach Curriculum
								li
									a(href="summerprogram.html") Summer Program
								li
									a(href="dormitory.html") Dormitory
								li
									a(href="counseling.html") Counseling service
								li
									a(href="student-sp.html") Student Support Services
						li
							a(href="story.html") Những câu chuyện SNA
							ul
								li
									a(href="story.html") SNA Students
								li
									a(href="story-parent.html") SNA Parents
								li
									a(href="story-alumni.html") SNA Alumni
								li
									a(href="story-staffs.html") SNA Staffs
						li
							a(href="handbook.html") Dành cho Phụ huynh
							ul
								li
									a(href="handbook.html") E-Handbook
								li
									a(href="manage-bac.html") Manage Bac
						li
							a(href="news.html") Tin tức & Truyền thông
							ul
								li
									a(href="news.html") News and Events
								li
									a(href="library-photo.html") Photo
								li
									a(href="library-video.html") Video
						li
							a(href="contact.html") Liên hệ