header
	.container
		.block-logo
			a(href="index.html")
				.logo
					img.lazyload.blur-up(data-src="./assets/logo.png", alt="logo")
		.toggle-menu-moblie.mobile
			span.menu-btn
				span
		.row.no-gutters.ai-c
			.top-header.col-12
				.t_header--list-contact
					ul
						li
							a(href="tel:0964466014")
								.icon
									img.svg(src="./assets/icons/mobile-phone.svg", alt="PHONE-NUMBER")
								.text 0964466014
							
						li
							a(href="tel:02873019799")
								.icon
									img.svg(src="./assets/icons/phone.svg", alt="PHONE-NUMBER")
								.text + 84 28 730 197 99
				.t_header--list-social
					ul
						li
							a(href="mailto:#")
								.icon
									img.svg(src="./assets/icons/mail.svg", alt="EMAIL")
						li
							a(href="#")
								.icon
									img.svg(src="./assets/icons/facebook.svg", alt="FACEBOOK")
						li
							a(href="#")
								.icon
									img.svg(src="./assets/icons/youtube.svg", alt="YOUTUBE")
						li
							a(href="#")
								.icon
									img.svg(src="./assets/icons/linkedin.svg", alt="LINKEDIN")
				.t_header--list-link
					ul
						li
							a(href="#") 360° Virtual Tour
						li
							a(href="javascript:void(0);") Quick Links
							ul
								li
									a(href="#") Managebac
								li
									a(href="#") Office 365
								li
									a(href="#") Destiny Library
				.t_header--search
					.icon
						img.svg(src="./assets/icons/search.svg", alt="SEARCH")
				.t_header--login
					a(href="#")
						.icon
							img.svg(data-src="./assets/icons/login.svg", alt="LOGIN")
				.t_header--language
					ul
						li.active
							a(href="#") VN
						li
							a(href="#") ENG
			.bottom-header.col-12
				nav.b_header--list-menu
					ul
						li
							a(href="who-are-we.html") Who are we
							ul
								li
									a(href="faculty.html") Faculty
								li
									a(href="who-are-we.html") Welcome to SNA
								li
									a(href="vision-mission.html") Vision & Mission
								li
									a(href="accreditations-and-authorizations.html") Accreditations and Authorizations
								li
									a(href="#") SNA Community
									ul
										li
											a(href="#") School Leadership Team
								li
									a(href="#") Work at SNA
								li
									a(href="#") E-Brochure
								li
									a(href="#") Campus Virtual Tour
						li
							a(href="#") Admissions
							ul
								li
									a(href="#") Admissions Policy
								li
									a(href="#") Admissions Procedure
									ul
										li
											a(href="#") Admission Procedures - PYP
										li
											a(href="#") Admission Procedures - MYP
										li
											a(href="#") Admission Procedures - DP
								li
									a(href="#") Tuition Fees
								li
									a(href="#") Annual  Calendar
								li
									a(href="#") Book a visit
						li
							a(href="#") Facilities
							ul
								li
									a(href="#") Learning Space
								li
									a(href="#") Food Service
								li
									a(href="#") Child Protection and Safeguarding
								li
									a(href="#") Transportation
								li
									a(href="#") Library
						li
							a(href="#") IB Program
							ul
								li
									a(href="#") IB Program PYP
								li
									a(href="#") IB Program MYP
								li
									a(href="#") IB Program DP
						li
							a(href="activities.html") Student Life
							ul
								li
									a(href="#") Extracurricular Activities
								li
									a(href="#") Outreach Curriculum
								li
									a(href="#") Summer Program
								li
									a(href="#") Dormitory
								li
									a(href="#") Counseling service
								li
									a(href="#") Student Support Services
						li
							a(href="story.html") SNA Stories
							ul
								li
									a(href="story.html") SNA Students
								li
									a(href="story-parent.html") SNA Parents
								li
									a(href="story-alumni.html") SNA Alumni
								li
									a(href="story-staffs.html") SNA Staffs
						li
							a(href="#") Parent Guide
							ul
								li
									a(href="#") E-Handbook
								li
									a(href="manage-bac.html") Manage Bac
						li
							a(href="news.html") News & Media
							ul
								li
									a(href="news.html") News and Events
								li
									a(href="library-photo.html") Photo
								li
									a(href="library-video.html") Video
						li
							a(href="contact.html") Contacts