section.Paginate
	ul
		li.pre
			a(href="http://")
				img.svg(src="./assets/icons/double-pre.svg")
		li.last-pre
			a(href="http://")
				img.svg(src="./assets/icons/pre.svg")
		li 
			a.active(href="http://") 1
		-for(i=1; i<5;i++)
			li 
				a(href="http://") 2
		li.next
			a(href="http://")
				img.svg(src="./assets/icons/next.svg")
		li.last-next
			a(href="http://")
				img.svg(src="./assets/icons/double-next.svg")
