section.pdf__slider.pb-0
	.container
		.block__pdf-slider.max-850px
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<8;i++)
						.swiper-slide
							.img.ov-h
								img.ofcv(src="./assets/images/pdf-slider/pdf-"+i+".jpg", alt="")
			.swiper-button-next
			.swiper-button-prev
		.link-download.max-850px
			a(href="https://sna.edu.vn/sites/sna.edu.vn/files/Brochure/New%20Brochure%202019-06Jan2020/Final%20Brochure%20SNA%202019-06Jan2020_8.6Mb.pdf") Preview PDF
		.page-desc.pb-0
			p A very warm welcome to the School for Future Leaders. Leadership is, no doubt, a matter of mind and heart. It involves persistence, compassion, understanding, creativeness, vision, and courage. Year by year SNA develops character and leadership traits in its student body. These elements are essential in true leaders. SNA students learn to lead themselves, then, they learn through inspiration and practice to lead others. It is a promise that SNA focuses on daily. Our students will grow into adults with the knowledge and emotional intelligence needed to make their parents and themselves proud of their accomplishments. They will help make this world a better place. For more information about SNA, download our brochure.