section.pdf__slider.pb-0
	.container
		.block__pdf-slider.max-850px
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<8;i++)
						.swiper-slide
							.img.ov-h
								img.ofcv(src="./assets/images/pdf-slider/pdf-"+i+".jpg", alt="")
			.swiper-button-next
			.swiper-button-prev
		.link-download.max-850px
			a(href="https://sna.edu.vn/sites/sna.edu.vn/files/Brochure/New%20Brochure%202019-06Jan2020/Final%20Brochure%20SNA%202019-06Jan2020_8.6Mb.pdf") Preview PDF