.quote__slider
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.block-item
						.img.ov-h
							img.ofcv(src="./assets/images/quote-slider/2.jpg", alt="Quote-Slider")
						.block-text
							.content
								.desc
									p SNA is like my second home, where I can get all kinds of concerns and help. Not only the students, I myself think that each day at SNA is a happy and meaningful day. It’s the activeness and ready-to-learn attitude of the students that brings me motivation to fulfill SNA vision, making the students become more and more perfect.
								.name Nguyễn Trung Kiên - Vietnamese Literature Teacher
				.swiper-slide
					.block-item
						.img.ov-h
							img.ofcv(src="./assets/images/quote-slider/1.jpg", alt="Quote-Slider")
						.block-text
							.content
								.desc
									p I work as a ESL support teacher for secondary education courses. I primarily work with grades 6 and 9 and assist with work in and out of the classroom. SNA has many opportunities for me to advance in my career as a teacher. There are many workshops and trainings that have taught me to apply new practices to the classroom and have inspired me to better myself as an educator. There is a great work atmosphere here as well with strong collaboration practices between all teachers. There are wonderful facilities on the campus.
									p I have a great classroom that is supplied with all the necessary facilities and I know I have support from the administration to get additional resources if I need them. The students also have access to all necessary facilities and they are respectful of the resources withy receive from the school. I know I have the flexibility to adapt to whatever my role requires of me. I know I have many opportunities to advance in my career and create the type of curriculum I know will be beneficial for the students. The support from Nguyen Hoang Group is crucial for me to be a better teacher because of the flexibility afforded me as a teacher.
								.name Kelsey Rose Irish - English Language Development
		.swiper-button-next
		.swiper-button-prev