.curriculum-ss1 {
	padding: 100px 0px;
	@media (max-width: 1024.98px) {
		padding: 50px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 25px 0px;
		p{
			font-size: 14px;
		}
	}

    .list-items {
        // max-width: 950px;
    }

    p {
        text-align: justify;
        margin: 0 0 20px;
    }

    hr {
        margin: 20px 0;
        display: block;
    }

    h2 {
        margin-bottom: 20px;
    }

    h4 {
        margin-bottom: 20px;
        padding-left: 10px;
        font-size: 22px;
    }

    .check {
        margin-bottom: 40px;

        li {
            &::after {
                width: 30px;
                height: 30px;
            }

            &::before {
                left: 5px;
            }
        }
    }
}

.curriculum-ss2 {
	margin-bottom: -70px;
	padding: 0;
	@media (max-width: 1024.98px) {
		margin-bottom: -30px;
	}
}