section.news-detail {
    position: relative;
    .container {
        border-bottom: 1px solid #0a1f44;
    }
    .inner-news-detail {
        position: relative;
        display: block;
        padding-top: 100px;
        margin: 0 80px 100px 80px;
        .img-news-detail {
            display: block;
            width: 100%;
        }
        .content-news-detail {
            h2.title-news-detail {
                padding-bottom: 20px;
            }
            .date-news-detail {
                span {
                    display: inline-block;
                    padding-bottom: 10px;
                    color: #B2B2B2;
                }
            }
            .text-news-detail {
                ul {
                    padding-bottom: 20px;
                    li {
                        padding-bottom: 10px;
                    }
                }
                p {
                    padding-bottom: 20px;
                }
                .contact-news-detail {
                    p {
                        padding-bottom: 0 !important;
                    }
                }
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                object-position: center;
                background-size: cover;
            }
        }
    }
}

@media(max-width: 1024px) {
    .inner-news-detail {
        padding-top: 0px !important;
        margin: 0 40px 50px 40px !important;
    }
}

@media(max-width:768px) {
    .inner-news-detail {
        padding-top: 0px !important;
        margin: 0 0 !important;
        .img-news-detail {
            display: block;
            width: 100%;
            height: 100% !important;
        }
        .content-news-detail {
            h2.title-news-detail {
                padding: 20px 0 !important;
            }
        }
    }
}