section.admission-policy.bg-section(position-top-right)
	.container
		.admission-cover
			h2 Primary Years Programme (PYP)

			a(href="#")
				h3 (*SNA is an IB candidate school)

			h4 (KG- Grades 1-5/PYP Years 1 to 5)

			p Prospective students from SNA Kindergarten or primary years, as well as students with siblings in any of our school programs, receive special consideration but are not guaranteed acceptance.

			p Other factors, including student achievement, completion of the admissions requirements, the number of openings available, along with the importance of fostering diversity in the classroom are also considered

			p The final decision regarding the acceptance of a student resides with the head of primary, admissions committee, and PYP coordinator.

			h2 Middle Years Program (MYP)

			a(href="#")
				h3 (*SNA is an IB candidate school)

			h4 (Grades 6 to 10/MYP Years 1 to 5)
			p SNA offers a bilingual program model at secondary following the MYP framework, which makes the middle years at SNA challenging and demanding. However, by offering an inclusive learning environment (language support, academic counseling, and a consistent assessment, reporting, and recording system) we constantly work towards making learning within the MYP framework available to all students who can access it.

			p Ensuring that candidates are willing and able to study in a bilingual program model is the fundamental admission step which determines the other steps of the admission procedure. (See admission procedure).

			p Applicants from SNA PYP and MYP, and students with siblings in any of our school programmes, receive special consideration, but they are not guaranteed acceptance.
			p The school prioritizes students who have been enrolled and have successfully completed all PYP or preceding years’ requirements and have shown commitment to the school educational beliefs and values.

			p Other factors, including student achievement, completion of the admissions requirements, the number of openings available and the importance of fostering diversity in the classroom are also considered. The final decision regarding the acceptance of a student resides with the head of secondary, admissions committee, and the MYP coordinator.

			h2 Diploma Program (DP)

			a(href="#")
				h3 (*SNA is an IB candidate school)

			h4 (Grade 11 and 12/DP Years 1 and 2)
			p Helping students and their parents/guardian make an informed decision about enrolling in the DP is an essential part of our admission policy for the Diploma Programme. For the 2020-2021 academic year, the following pathways are provided for Grade 11 students:
			ul 
				li IB Diploma Programme
				li SNA High School Diploma Program with IB courses.
				li MOET (Vietnamese Curriculum with IB English B)

			p We are looking for students: 
			ul 
				li who show motivation and interest in learning
				li whose academic performance has been above average. External candidates joining us from other schools will need to submit an additional document: student’s confidential report
				li whose conduct shows they are committed to our vision, mission, and philosophy
				li if a student has already completed the PYP and MYP programmes, the school considers this an advantage, but it is not a pre-requisite for admission 
				li all applicants are required to take the DP placement assessments.
					span  (
						a(href="#") See admission procedure
					span )
			h5 Internal Applicants
			p IBDP internal candidates go through the same admission procedure but the procedure for them starts from step. 4.  The primary purpose of the admission procedure is to consider the applicant's potential to succeed not only in their individual subjects but also in the core components of CAS, Theory of Knowledge and the Extended Essay.
			p Applicants from SNA PYP, MYP, and students with siblings in any of our school programs, receive consideration but they are not guaranteed acceptance. The final decision regarding the acceptance of a student resides with the head of secondary, admissions committee, and DP coordinator. 
			h5 External Applicants
			p External candidates are those who join us from other schools. The admission procedure for them is explained below.