section.library-home
	section.admission-procedures.bg-section(position-top-right)
		.container
			.nav-menu.list-tab
				ul
					li.item(toggle-for="item-1")
						a.lcl.lcl-1 Library
					li.item(toggle-for="item-2")
						a.lcl.lcl-1 Online Library