.tab-content
	section.about-content.content(tab-id="item-1")
		.container
			.row.item.text-right
				.col-md-6.box-img
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/library/1.jpg", alt="Library 1")
				.col-md-6.box-content
					h2 Primary Library 1
					.desc
						p The newly built primary library is becoming the heart of our primary school. It is great to see our young students run to it at morning recess or after lunch. They play board games and other games that develop collaboration and gross motor skills. It has quickly become the hub of the primary school.
						p Many reading resources have been purchased and used by both teachers and students to specially support our 6 transdisciplinary themes: Who we are, How we express ourselves, How the world works, Sharing the planet, How we organize ourselves, Where we are in place and time.
						p Additionally, the library has acquired National Geographic magazines providing our learning community with many age-appropriate resources through a social studies lens and through an ecological prism. While students expand their linguistic skills and a deeper understanding of issues faced by the interactions between humans, animals, and plants.
						p Every day after lunch, Ms. Caroline Fogiel is implementing a reading program with teachers and teachers' assistants. Students read in small leveled groups with the support of the adults. It is a valuable opportunity to provide individual attention and to develop a love of reading. Students are keen to delve into stories or to learn more about famous individuals, transportation cities, and religions. Our library certainly connects our learners to the world, developing their inquiry and critical thinking skills.
			.row.item.text-left
				.col-md-6.box-content
					h2 Main Library 2
					.desc
						p SNA's new state-of-the-art library offers students the opportunity to pursue their literary interests beyond the classroom environment. The elementary and secondary library house volumes in a variety of genres so as to appeal to the interests and desires of a diverse student body. Books with varied degrees of difficulty allow students to choose ability-appropriate material. The library contains reference materials as well as selections in fiction, nonfiction, biography, autobiography, and poetry.
						p Students can use the libraries as a resource for the writing research papers or for independent reading at their leisure.
						p The librarian on staff works with all classroom teachers in order to guide students and help them locate the most appropriate books to reference for class assignments. Additionally, students receive research assistance and guidance on efficient and productive internet research.
						p With 192m2, it is spacious enough to accommodate our student population yet cozy enough to provide a welcoming atmosphere for its patrons.
				.col-md-6.box-img
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/library/2.jpg", alt="Library 1")
	section.about-content.content(tab-id="item-2")
		.container
			.row.item.text-right
				.col-md-6.box-img
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/library/1.jpg", alt="Library 1")
				.col-md-6.box-content
					h2 Primary Library 3
					.desc
						p The newly built primary library is becoming the heart of our primary school. It is great to see our young students run to it at morning recess or after lunch. They play board games and other games that develop collaboration and gross motor skills. It has quickly become the hub of the primary school.
						p Many reading resources have been purchased and used by both teachers and students to specially support our 6 transdisciplinary themes: Who we are, How we express ourselves, How the world works, Sharing the planet, How we organize ourselves, Where we are in place and time.
						p Additionally, the library has acquired National Geographic magazines providing our learning community with many age-appropriate resources through a social studies lens and through an ecological prism. While students expand their linguistic skills and a deeper understanding of issues faced by the interactions between humans, animals, and plants.
						p Every day after lunch, Ms. Caroline Fogiel is implementing a reading program with teachers and teachers' assistants. Students read in small leveled groups with the support of the adults. It is a valuable opportunity to provide individual attention and to develop a love of reading. Students are keen to delve into stories or to learn more about famous individuals, transportation cities, and religions. Our library certainly connects our learners to the world, developing their inquiry and critical thinking skills.
			.row.item.text-left
				.col-md-6.box-content
					h2 Main Library 4
					.desc
						p SNA's new state-of-the-art library offers students the opportunity to pursue their literary interests beyond the classroom environment. The elementary and secondary library house volumes in a variety of genres so as to appeal to the interests and desires of a diverse student body. Books with varied degrees of difficulty allow students to choose ability-appropriate material. The library contains reference materials as well as selections in fiction, nonfiction, biography, autobiography, and poetry.
						p Students can use the libraries as a resource for the writing research papers or for independent reading at their leisure.
						p The librarian on staff works with all classroom teachers in order to guide students and help them locate the most appropriate books to reference for class assignments. Additionally, students receive research assistance and guidance on efficient and productive internet research.
						p With 192m2, it is spacious enough to accommodate our student population yet cozy enough to provide a welcoming atmosphere for its patrons.
				.col-md-6.box-img
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/library/2.jpg", alt="Library 1")