section.summer-1
	.container
		.row
			.col-12
				p &nbsp; &nbsp; &nbsp; &nbsp; SNA offers a full and comprehensive 6-week summer program. The Summer Program will be an invigorating journey to self-discovery in all aspects of their lives as it will further their development for future years to come. Through a rigorous, but fun, six-week course, students will engage in the IB curriculum that integrates inquiry-based learning and project-based learning to further students' academic skills and build English proficiency. Students will have opportunities to develop their critical thinking skills, self and social awareness, creativity and social values. Students will also have a chance to participate and attend weekly field trips of exploration. SNA summer course will bring students to a place where they can feel inspired and motivated to explore their talents. The end of each week will include an exciting curriculum and trip where students will surely gain a memorable summer. Students who enroll full time at SNA will benefit greatly from these preparatory courses.
				br
				p For more details on how to enroll, please contact us on +84 964 466 014.
section.big-title.summer-name
	.container
		.block-title--main(data-title="Activities")
			h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Activities