section.big-title.summer-name-2
    .container
        .block-title--main(data-title="Video")
            h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Video
section.summer-2
    .container
        .row
            .item.col-12
                .img
                    .youtube-api(data-url="https://www.youtube.com/watch?v=9RfO_VAuqC4")