section.big-title.summer-name-2
    .container
        .block-title--main(data-title="Video")
            h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Video
section.summer-2
    .container
        .row
            .item.col-12
                .img
                    <iframe width="1110" height="624" src="https://www.youtube.com/embed/9RfO_VAuqC4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>