section.food-sevice.bg-section
	.container
		.row
			.col-12.logo
				img.lazyload.blur-up.ofcv(data-src="./assets/images/food/logo.png", alt="")
			h2 A guide to Global Cafe
			.col-12.img.ov-h
				img.lazyload.blur-up.ofcv(data-src="./assets/images/food/food1.jpg", alt="")
			h3 Eat Well. Live Well
			p As a single-minded commitment to building strong bodies and better lives, "Eat Well. Live Well" helps establish the foundation for a long, healthier life. Our diverse families of food specialists bring delicious, healthy dining to any international school. Over the years we have become experts in the nutrition and well being of Children, Adults and Special Needs people across Viet Nam.
			p Our goal is to inspire and engage the SNA community in making conscious nutritional choices and that all aspects of food and drink in school promote the health and well-being of students, staff and visitors of the school.

			h3 Overview
			p With more than 10,000,000 meals served since 1998, Global Cafe has been operating in Viet Nam as a food service company in the private healthcare, and international school community. We currently serve more than 5000 healthy meals and fresh baked goods a day and have a company roster of over 100 people. We pride ourselves on being a dedicated specialist for those that insist on nutritious and fresh food. We currently operate the food service program in 7 International Schools and operate 3 kiosks and a restaurant at RMIT University.
			p We customize dining service solutions for your community of students, staff, and visitors which embrace issues of sustainability and social responsibility ensuring you get the best possible program for your School.
			p Our experience in food service makes us a valuable partner for any International School. Our strong relationship with the students, staff and parents ensures that we understand and meet the standards and expectations set forth by the School.
			p We believe that a healthy mind starts with a healthy body and as food service providers we have the responsibility to provide a variety of healthy and delicious foods to the children of our schools at a reasonable price. Ensuring they have everything they need to grow and learn effectively.
			h3 Our Standards
			p Global Cafe is proud of our many standards.
			ul.list-items
				li.item  Improved menus, balancing flavors and diets to provide delicious, healthy, nutritious and affordable food. Balancing flavors includes understanding the tastes of children and ensuring flavourful, uncomplicated foods that are easily enjoyed by all.
				li.item Renewed focus on health and hygiene, including proper cleaning schedules, techniques and staff training. All reinforced by our strong management team and international standards for food preparation and service.
				li.item Using only the freshest ingredients. Our focus on fresh foods means that we make almost all of menu items from scratch, daily and actively try to avoid using processed foods. With this philosophy we are able to control what ingredients go into our foods and ensure the highest quality and standards.
				li.item Our product vendors are the best in the country, providing the best quality meats and produce available. All vendors are certified and our company strives to use products that are VietGAP certified and follow the guidelines of the HCMC Safe Food Chain.
				li.item Global Cafe is committed to catering for our schools special events, functions and fundraisers. We have been a part of many special events and charities throughout the years, catering for anywhere from 100-1000 people over weekends and holidays. These events have been received with great reviews. Some of these functions include the Saigon Conferences, International Sporting Events/Tournaments, PD events, International Days, Open Days and Parent Teacher Interviews, School Christmas Parties to name a few. Global Cafe has always been available on short notice to serve the schools and its students. Global Cafe was the official food provider for the Bob Dylan Concert, providing food service for more than 5000 people.
				li.item Balancing the requirements for vegetarian dishes by increase our use of proteins within these dishes. This includes adding Tofu, Beans and Lentils to our vegetarian menu. Vegetarian food often lacks these protein substitutes, not fully balancing the nutritional requirements for vegetarian food.
				li.item We have worked very closely with the nursing departments of our schools to ensure our canteen is aware of the many allergens that affect the students. We have committed to providing a nut free canteen for the safety of the students and we have also an allergen index to our menus to clearly display potentially risky ingredients in our food.
				li.item Global Cafe has received positive reviews and feedback from SFC (Singapore Food Consultants), Fresh Studios and Cognita health and safety managers from Singapore and England.
				li.item Global Cafe is very transparent, providing documentation upon request. This includes SOP’s, Health Inspection Results, Staff Training and Health Certificates, Product Information and Test Results and Cleaning Procedures.
			.col-12.img.ov-h
				img.lazyload.blur-up.ofcv(data-src="./assets/images/food/food2.jpg", alt="")
			h3 Our Company and Staff
			h4 Food Service Network
			p With a network kitchens and service staff located all over HCMC, Global Cafe can guarantee continued food service and support from all of our locations despite situations such as power outages, bad weather, etc. Our locations are all connected to each other through our central office and onsite managers ensuring quick and smooth communications between sites.
			h4 Our Staff
			p Global Cafe currently has a roster of 130+ employees, trained in a variety of fields within food service industry, including chefs, service staff, managers, cleaners and cashiers. Staffing includes..
			h4 Chefs
			ul.list-items
				li.item Our team is headed by experienced Executive Chefs. They bring passion and excellence in creating nutritious and balanced meals and providing leadership in the kitchen.
				li.item During training we ensure our chefs are using the latest best practice techniques and food technology. <br> Regular training introduces new food philosophies and menu options while sharpening existing skills. We closely follow food trends and work to implement them into our daily menus and services.
			h4 On site Managers
			ul.list-items
				li.item Global Café’s on site manager are there to listen to the needs of our schools, their students, parents and staff.
				li.item Our Managers are able to communicate in English and Vietnamese .
				li.item On-site managers are responsible for management of Global Café’s operations including but not limited to:
				ul.list-items
					li.item Ensure students, visitors and staff are satisfied with their meals
					li.item Ensure that our meals maintain the highest level of excellence
					li.item Management of kitchen staff
					li.item Conflict resolutions
			h4 Service Staff
			ul.list-items
				li.item We always provide the appropriate amount of service staff to ensure smooth, hygienic and reliable food service. Global Cafe is known for its great customer service with friendly, knowledgeable staff from top to bottom.
			p All our staff are well presented in clean uniforms that are easily recognizable and all staff have been certified in food handling safety and are required to undergo health checks every 6 months as well as take part in internal team bonding and training programs.
			.col-12.img.ov-h
				img.lazyload.blur-up.ofcv(data-src="./assets/images/food/food3.jpg", alt="")
			h3 Our Food
			h4 Our Commitment to Fresh and Safe Foods
			ul.list-items
				li.item Our culinary trained chefs prepare foods from fresh ingredients, limiting the use of processed foods and avoiding artificial colors, flavorings, preservatives or trans fats.
				li.item We only purchase meats and produce that are VietGAP certified from vendors that meet our strict standards.
				li.item All foods supplied are obtained from an approved supplier and prepared in manner as to render them fit and safe for human consumption. Our first priority is the health and safety of our customers.
				li.item To support the communities of which we are a part, we make every effort to use seasonal fruits and vegetables grown by local farmers. This dedication to fresh, healthy cooking lets us meet a wide range of nutrition requirements and standards. We also provide a full range of exceptional catering services.
			ul.list-items
				li.item Better Food Combinations: Creating dishes whose flavors balance well with each other.
				li.item Healthier Foods: Global Cafe has been promoting healthier foods at all our locations. This includes using less oil and salt, increasing the amount of vegetables in our dishes and using lean meats.
				li.item Western Food Actually Tastes Like Western Food: We pride ourselves in ensuring authentic flavors. Our Asian and Western food options have traditional flavors.
				li.item Balanced Diets: All menu options are created to provide for a balanced diet. Our menu consists of a protein main (meat, tofu, lentil, etc.), a starch side (rice, pasta, potato) and a vegetable side. This system ensures proper balanced diets and prevents overloading on one particular nutritional item.
				li.item New Menu Options: Global Cafe is constantly researching, testing and developing new food options for our menus. Nobody wants to eat the same food over and over again; we want to create excitement and interest in our food by offering new menu options.
				li.item Standardized Recipes: Ensuring consistent portions and nutritional content of dishes produced.
			ul.list-items
				li.item Global Café does not use any nut related food item in our kitchen or food. In other words, we are completely nut free.
				li.item Menus are labeled with easy to read information regarding any severe food allergens.
				li.item Should any particular customer have a known allergy, they are required to notify our on-site manager.
				li.item Students and Staff with allergies have their particular meal made in a separate location away from the general preparation area.
