section.tuition-fees.bg-section(position-top-right)
	.container
		.home-fees
			h3.title-home SCHEDULE OF FEES
			p.text-fees-p Academic Year 2020 - 2021
		.main-fees
			.content-fees-1
				h5.title-content-fees TUITION FEES (CURRENCY UNIT: VNĐ)
				p.text-fees-p If an annual payment is made in one lump sum before 21/08/2020, 10% savings will be provided.
				.table-fees
					.block-main-table
						table
							thead
								tr
									th(rowspan="2") GRADE
									th(colspan="2") TUITION
									th(rowspan="2") IB ACTIVITIES
									th(rowspan="2") KIT SET(*)
									th(rowspan="2") BOOKS
									th(rowspan="2") TOTAL
								tr
									th Before 21/08/2020 (Saving 10%)
									th After 21/08/2020
							tbody
								tr
									td Grade 1 - PYP
									td 385,210,000
									td 423,731,000
									td 8,000,000
									td 10,000,000
									td -
									td 403,210,000
								tr
									td Grade 2 - PYP
									td 385,210,000
									td 423,731,000
									td 8,000,000
									td 10,000,000
									td -
									td 403,210,000
								tr
									td Grade 3 - PYP
									td 385,210,000
									td 423,731,000
									td 8,000,000
									td 10,000,000
									td -
									td 403,210,000
								tr
									td Grade 4 - PYP
									td 385,210,000
									td 423,731,000
									td 8,000,000
									td 10,000,000
									td -
									td 403,210,000
								tr
									td Grade 5 - PYP
									td 385,210,000
									td 423,731,000
									td 8,000,000
									td 10,000,000
									td -
									td 403,210,000
								tr
									td Grade 6 - PYP
									td 485,010,000
									td 533,511,000
									td 18,000,000
									td 15,000,000
									td -
									td 518,010,000
								tr
									td Grade 7 - PYP
									td 485,010,000
									td 533,511,000
									td 18,000,000
									td 15,000,000
									td -
									td 518,010,000
								tr
									td Grade 8 - PYP
									td 485,010,000
									td 533,511,000
									td 18,000,000
									td 15,000,000
									td -
									td 518,010,000
								tr
									td Grade 9 - PYP
									td 485,010,000
									td 533,511,000
									td 18,000,000
									td 15,000,000
									td -
									td 518,010,000
								tr
									td Grade 10 - PYP
									td 485,010,000
									td 533,511,000
									td 18,000,000
									td 15,000,000
									td -
									td 518,010,000
								tr
									td Grade 11 - MOET
									td 485,010,000
									td 533,511,000
									td -
									td 15,000,000
									td -
									td 500,010,000
								tr
									td Grade 12 - MOET
									td 485,010,000
									td 533,511,000
									td -
									td 15,000,000
									td -
									td 500,010,000
								tr
									td Grade 11 - COURSE
									td 528,660,000
									td 581,526,000
									td 12,000,000
									td 15,000,000
									td -
									td 555,660,000
								tr
									td Grade 12 - COURSE
									td 528,660,000
									td 581,526,000
									td 12,000,000
									td 15,000,000
									td -
									td 555,660,000
								tr
									td Grade 11 - DP
									td 576,720,000
									td 634,392,000
									td 12,000,000
									td 15,000,000
									td -
									td 603,720,000
								tr
									td Grade 12 - DP
									td 576,720,000
									td 634,392,000
									td 12,000,000
									td 15,000,000
									td -
									td 603,720,000
				h6.text-fees-h6 * KIT SET
				p.text-fees-p Kit set includes:  supplies, health insurance & medical care, uniforms (2 T-shirt, 1 shirt, 3 skirts/pants, 2 PE uniform, 1 jacket, 1 backpack, 1 tie and 1 hat).
			.content-fees-2
				h5.title-content-fees BOARDING FEES
				.table-fees
					.block-main-table
						table
							thead
								tr
									th GRADE LEVEL
									th BOARDING ANNUAL COST FROM MONDAY TO FRIDAY
									th BOARDING ANNUAL COST FOR WEEKENDS (not include meals)
							tbody
								tr
									td Grade 1 - 5
									td 90,200,000
									td 20,900,000
								tr
									td Grade 6 - 12	
									td 105,600,000
									td 25,300,000
				p.text-fees-p-i The semester is 50% of the total amount of annual fee
			.content-fees-3
				h5.title-content-fees DAY BOARDER MEAL FEES
				.table-fees
					.block-main-table
						table
							thead
								tr
									th GRADE LEVEL
									th ANNUAL DAY BOARDER MEAL FEE (breakfast, lunch, snack)
									th ANNUAL DAY BOARDER MEAL FEE (lunch only)
							tbody
								tr
									td Grade 1 - 5
									td 32,175,000
									td 16,087,500
								tr
									td Grade 6 - 12	
									td 37,125,000
									td 18,562,500
			.content-fees-4
				h5.title-content-fees SCHOOL TRANSPORTATION FEE
				.table-fees
					.block-main-table
						table
							thead
								tr
									th NO.
									th DISTANCE
									th 2 WAYS/YEAR
									th 1 WAYS/YEAR
							tbody
								tr
									td 1
									td Under 5km
									td 19,090,000
									td 11,454,000
								tr
									td 2
									td From 5km to 10km
									td 26,450,000
									td 15,870,000
								tr
									td 3
									td From 10km to 15km
									td 36,570,000	
									td 21,942,000
								tr
									td 4
									td From 15km to 20km
									td 48,300,000
									td 28,980,000
								tr
									td 5
									td From 20km to 25km
									td 62,560,000
									td 37,536,000
								tr
									td 6
									td From 25km to 30km
									td 74,520,000
									td 44,712,000
				h6.text-fees-h6 IMPORTANT NOTE
				p.text-fees-p-none - School transportation is available within HCM city limit.
				p.text-fees-p-none - The fee includes only weekly round-trip transportation.
				p.text-fees-p-none - The semester fee is 50% of the total amount of annual fee.
				p.text-fees-p - One-way transportation rate is equal to 60% of the total amount of the annual fee or semi-annual fee.
			.content-fees-5
				h5.title-content-fees APPLICATION FEE
				p.text-fees-p This is a one-time, non-refundable fee that must be paid when an application form is submitted.
				.table-fees
					.block-main-table
						table
							thead
								tr
									th GRADE LEVEL
									th APPLICATION FEE
							tbody
								tr
									td Grade 1 - 12
									td 5,600,000
			.content-fees-6
				h5.title-content-fees REGISTRATION & FACILITY USAGE FEES
				p.text-fees-p This is a one-time, non-refundable fee to guarantee the place for a new student.
				.table-fees
					.block-main-table
						table
							thead
								tr
									th GRADE LEVEL
									th REGISTRATION & FACILITY USAGE FEE
							tbody
								tr
									td Grade 1 - 10
									td 65,000,000
								tr
									td Grade 11 - 12
									td 40,000,000
			.content-fees-7
				h5.title-content-fees OTHER FEES
				.table-fees
					.block-main-table
						table
							thead
								tr
									th NO.	
									th CATEGORIES
									th FEE
							tbody
								tr
									td 1
									td Credit Evaluation fee
									td 6,800,000-13,500,000
								tr
									td 2
									td Service Transferring fee
									td 1,000,000
								tr
									td 3
									td Extra tuition fee for EAL classes
									td 40,000,000
								tr
									td 4*
									td National Graduation Exam review fee
									td 42,550,000
								tr
									td 5*
									td 3 days boarding fee during National Graduation Exam
									td 1,660,000
				p.text-fees-p * For 12 graders who study MOET
			.content-fees-8
				h5.title-content-fees TUITION DISCOUNTS
				p.text-fees-p - A 10% discount will be applied to tuition for the 2nd child and 15% discount for the 3rd and subsequent children of the same family attending SNA or other schools in NHG system (in order of enrollment).
				p.text-fees-p - A 50% discount will be applied to school transportation fee for the 2nd and subsequent children (at the same pick up location and after other discounts are applied).
				p.text-fees-p - Only one promotional offer is allowed per student and cannot be combined with other discount offers.
			.content-fees-9
				h5.title-content-fees TUITION PAYMENT
				.table-fees
					.block-main-table
						table
							tbody
								tr
									td ACCOUNT NAME
									td CONG TY CO PHAN GIAO DUC BAC MY
								tr
									td ACCOUNT NUMBER
									td 060143398393
								tr
									td BANK NAME
									td SACOMBANK - SAIGON BRANCH - PHAM NGOC THACH TRANSACTION OFFICE
			.content-fees-10
				h5.title-content-fees TUITION FEE
				a(href="https://sna.edu.vn/sites/sna.edu.vn/files/TuitionFees/Tuition%20Fees%202019_%202020%20-%20VN%26EN.pdf")
					img.lazyload.blur-up(data-src="/assets/images/tuition-fees/pdf.jpg", alt="")
			.content-fees-11
				h5.title-content-fees SCHOOL FEE POLICY
				a(href="https://sna.edu.vn/sites/sna.edu.vn/files/Fee/SNA%20School%20Fee%20Policy%202019-2020%20ENG.pdf")
					img.lazyload.blur-up(data-src="/assets/images/tuition-fees/pdf.jpg", alt="")