section.about-content
	.container
		.row.item.text-left.no-limit.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-content
				h2 Accreditations
				.desc.ta-justify
					p On May 28th, International Schools of North America (SNA) was overwhelmed with joy and pride when SNA was formally awarded membership of the Council of International Schools (CIS) - One of the world's leading prestigious international education accreditation organization. It is with enormous pride and delight that we are a CIS member school. This demonstrates our leadership in international education, sharing knowledge, embracing diverse perspectives, and challenging ourselves to continuously improve. Becoming a member of CIS is the first stage of becoming a fully accredited school. This is an important milestone in the journey of offering international education, while being a foundation for SNA to achieve many outstanding achievements in the coming years.
					p Additionally, SNA is a candidate for accreditation approved by the Accrediting Commission for Schools, Western Association of Schools and Colleges. This means that we are in the process of carrying out a self-study that reviews our policies and practices. This is a two-year process and we will submit the findings of our study to WASC in January 2020. Shortly after that, in March, we will receive a verification visit to corroborate our findings. It is then hoped that we can become fully accredited in April of 2020. WASC accreditation demonstrates that we consistently uphold high standards in all aspects of what we offer at SNA and is recognized by universities around the world as a benchmark of high academic standards.
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/index-2/index-2.png", alt="Accreditations")
		.row.item.text-right.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/accreditations-and-authorizations/1.jpg", alt="Authorizations")
			.col-md-6.box-content
				h2 Authorizations
				.desc
					p *SNA is an IB candidate school for the International Baccalaureate (IB) Primary Years Programme, Middle Years Programme, Diploma Programme and pursuing authorization as an IB World School. We are working diligently towards authorization, and we envisage being authorized for the beginning of the 2020 academic year. Regular meetings and information sharing take place within the school, and via various communication channels, allowing all stakeholders to keep abreast of our progress. Please feel free to make an appointment to visit the school and observe an IB class in action.