section.curriculum-ss1
	.container
		.row.list-items
			.col-12.item 
				p Learning in class has never been enough. At SNA, students are allowed to step out of the classroom, interact with the real world outside, truly experience and compare with what they have learned. We call this Educational trip
				p Students take field trips several times during the school year. The purpose and arrangements for a particular field trip will be determined by the teacher.
				p &nbsp;
				hr
				p &nbsp;
			h2.col-12 Program Focus
			.col-md-6.col-sm-12.check-list
				ul.list---items
					li.li---item Enhance the curriculum
					li.li---item Enhance the curriculum
					li.li---item Enhance the curriculum
			.col-md-6.col-sm-12.check-list
				ul.list---items
					li.li---item Enhance the curriculum
					li.li---item Enhance the curriculum
					li.li---item Enhance the curriculum
			h4 Duration: 1 day or half day
			.col-12.item
				p Besides educational trips, students also participate in trips to visit, explore nature, physical training, survival skills, etc. It is important during the trip that students are educated in order to develop interest and the desire to share with the community. Each trip combines visits and does charity at orphanages or nursing homes. Love is nurtured and cultivated for students from these activities.
section.curriculum-ss2
	.container
		.block-title--main(data-title="SNA's Parent")
			h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") SNA's Parent