.summer-1 {
    padding: 100px 0px;

    p {
        line-height: 1.42857143;
        margin-bottom: 20px;
    }
}

.summer-name {
    margin-bottom: -70px;
}

.summer-name-2 {
    margin-bottom: 30px;
}

.summer-2 {
    margin-bottom: 100px;

    .img {
        width: 100%;
        height: 624px;
        background: url(../assets/images/summer-video/summer.jpg);
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}