section.about-content
	.container
		.row.item.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-content
				.desc
					p International Schools of North America offers a safe, reliable cost-effective bus service. There are several customized routes covering in Ho Chi Minh City. All buses have seatbelts, qualified and experienced drivers and a student monitor. Please ask our Admissions Team or Receptionist for more information on the bus routes available, and on our bus service fees.
					p For more information, please contact us via email info@sna.edu.vn
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/transportation/1.jpg", alt="Transportation 1")