section.ss-news
	.container
		.row.news-cover
			.col-md-4.col-sm-6.list-items
				a(href="news-detail.html")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news1.jpg", alt="")
						.content
							h3.lcl.lcl-2 MID-AUTUMN FESTIVAL 2019 
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news2.jpg", alt="")
						.content
							h3.lcl.lcl-2 SNA DAY 2019
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news3.jpg", alt="")
						.content
							h3.lcl.lcl-2 OPENING CEREMONY 2019
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news4.jpg", alt="")
						.content
							h3.lcl.lcl-2  PYP AND MYP WORKSHOPS IN AUGUST 2019 
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news5.jpg", alt="")
						.content
							h3.lcl.lcl-2 SNA OPEN DAY 
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news6.jpg", alt="")
						.content
							h3.lcl.lcl-2 SUMMER 2019 - WEEK 5
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news7.jpg", alt="")
						.content
							h3.lcl.lcl-2 SUMMER 2019 - WEEK 3
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news8.jpg", alt="")
						.content
							h3.lcl.lcl-2 SUMMER 2019 - WEEK 2
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img.lazyload.blur-up(data-src="../assets/images/library-photo/news9.jpg", alt="")
						.content
							h3.lcl.lcl-2 SUMMER 2019 - WEEK 1
