section.ss-news.pb-0
	.container
		.row.news-cover.list-items
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist1/fclist1-0.jpg" data-fancybox="images-1"  data-caption="MID-AUTUMN FESTIVAL 2019 ")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist1/fclist1-0.jpg", alt="MID-AUTUMN FESTIVAL 2019 ")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg" data-fancybox="images-1" data-thumb="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg")
					.content
						h3.lcl.lcl-2 MID-AUTUMN FESTIVAL 2019 
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist2/fclist2-0.jpg" data-fancybox="images-2"  data-caption="SNA DAY 2019 ")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist2/fclist2-0.jpg", alt="SNA DAY 2019")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist2/fclist2-"+i+".jpg" data-fancybox="images-2" data-thumb="./assets/images/library-photo/fclist2/fclist2-"+i+".jpg")
					.content
						h3.lcl.lcl-2 SNA DAY 2019
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist1/fclist1-0.jpg" data-fancybox="images-3"  data-caption="OPENING CEREMONY 2019 ")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist1/fclist1-0.jpg", alt="OPENING CEREMONY 2019 ")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg" data-fancybox="images-3" data-thumb="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg")
					.content
						h3.lcl.lcl-2 OPENING CEREMONY 2019 
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist1/fclist1-0.jpg" data-fancybox="images-4"  data-caption="PYP AND MYP WORKSHOPS IN AUGUST 2019 ")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist1/fclist1-0.jpg", alt="PYP AND MYP WORKSHOPS IN AUGUST 2019 ")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg" data-fancybox="images-4" data-thumb="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg")
					.content
						h3.lcl.lcl-2 PYP AND MYP WORKSHOPS IN AUGUST 2019 
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist1/fclist1-0.jpg" data-fancybox="images-5"  data-caption="SNA OPEN DAY ")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist1/fclist1-0.jpg", alt="SNA OPEN DAY ")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg" data-fancybox="images-5" data-thumb="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg")
					.content
						h3.lcl.lcl-2 SNA OPEN DAY 
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist1/fclist1-0.jpg" data-fancybox="images-6"  data-caption="SUMMER 2019 - WEEK 5")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist1/fclist1-0.jpg", alt="SUMMER 2019 - WEEK 5")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg" data-fancybox="images-6" data-thumb="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg")
					.content
						h3.lcl.lcl-2 SUMMER 2019 - WEEK 5
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist1/fclist1-0.jpg" data-fancybox="images-7"  data-caption="SUMMER 2019 - WEEK 3")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist1/fclist1-0.jpg", alt="SUMMER 2019 - WEEK 3")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg" data-fancybox="images-7" data-thumb="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg")
					.content
						h3.lcl.lcl-2 SUMMER 2019 - WEEK 3
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist1/fclist1-0.jpg" data-fancybox="images-8"  data-caption="SUMMER 2019 - WEEK 2")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist1/fclist1-0.jpg", alt="SUMMER 2019 - WEEK 2")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg" data-fancybox="images-8" data-thumb="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg")
					.content
						h3.lcl.lcl-2 SUMMER 2019 - WEEK 2
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/fclist1/fclist1-0.jpg" data-fancybox="images-9"  data-caption="SUMMER 2019 - WEEK 1")
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/fclist1/fclist1-0.jpg", alt="SUMMER 2019 - WEEK 1")
					.list-img-dsnone
						-for(i=1;i<33;i++)
							a(href="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg" data-fancybox="images-9" data-thumb="./assets/images/library-photo/fclist1/fclist1-"+i+".jpg")
					.content
						h3.lcl.lcl-2 SUMMER 2019 - WEEK 1