section.ss-news
	.container
		.row.news-cover
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news1.jpg", alt="")
						.content
							h3 MID-AUTUMN FESTIVAL 2019
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news2.jpg", alt="")
						.content
							h3 SNA DAY 2019
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news3.jpg", alt="")
						.content
							h3 OPENING CEREMONY 2019
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news4.jpg", alt="")
						.content
							h3  PYP AND MYP WORKSHOPS IN AUGUST 2019
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news5.jpg", alt="")
						.content
							h3 SNA OPEN DAY
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news6.jpg", alt="")
						.content
							h3 SUMMER 2019 - WEEK 5
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news7.jpg", alt="")
						.content
							h3 SUMMER 2019 - WEEK 3
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news8.jpg", alt="")
						.content
							h3 SUMMER 2019 - WEEK 2
			.col-md-4.col-sm-6.list-items
				a(href="")
					.item
						.img
							img(src="../assets/images/library-photo/news9.jpg", alt="")
						.content
							h3 SUMMER 2019 - WEEK 1
		//- .row.page-cover
		//- 	.number-page
		//- 		.number
		//- 			a(href="") 1
		//- 		.number
		//- 			a(href="") 2
		//- 		.number
		//- 			a(href="") 3
		//- 		.number
		//- 			a(href="")
		//- 				img(src="../assets/images/news/next-x1.png", alt="" width="10px")
		//- 		.number
		//- 			a(href="")
		//- 				img(src="../assets/images/news/double-next.png", alt="" width="20px")