section.ss-news.pb-0
	.container
		.row.news-cover.list-items
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news1.jpg"  data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news1.jpg", alt=""  data-caption="SNA DAY 2019")
					.content
						h3.lcl.lcl-2 MID-AUTUMN FESTIVAL 2019 
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news2.jpg" data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news2.jpg", alt="" data-caption="SNA DAY 2019")
					.content
						h3.lcl.lcl-2 SNA DAY 2019
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news3.jpg" data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news3.jpg", alt="" data-caption="OPENING CEREMONY 2019")
					.content
						h3.lcl.lcl-2 OPENING CEREMONY 2019
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news4.jpg" data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news4.jpg", alt="" data-caption=" PYP AND MYP WORKSHOPS IN AUGUST 2019 ")
					.content
						h3.lcl.lcl-2  PYP AND MYP WORKSHOPS IN AUGUST 2019 
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news5.jpg" data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news5.jpg", alt="" data-caption="SNA OPEN DAY ")
					.content
						h3.lcl.lcl-2 SNA OPEN DAY 
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news6.jpg" data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news6.jpg", alt="" data-caption="SUMMER 2019 - WEEK 5")
					.content
						h3.lcl.lcl-2 SUMMER 2019 - WEEK 5
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news7.jpg" data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news7.jpg", alt="" data-caption="SUMMER 2019 - WEEK 3")
					.content
						h3.lcl.lcl-2 SUMMER 2019 - WEEK 3
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news8.jpg" data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news8.jpg", alt="" data-caption="SUMMER 2019 - WEEK 2")
					.content
						h3.lcl.lcl-2 SUMMER 2019 - WEEK 2
			.col-md-4.col-sm-6.item
				a(href="./assets/images/library-photo/news9.jpg" data-fancybox="images").popup
					.img
						img.lazyload.blur-up(data-src="./assets/images/library-photo/news9.jpg", alt="" data-caption="SUMMER 2019 - WEEK 1")
					.content
						h3.lcl.lcl-2 SUMMER 2019 - WEEK 1
