section.working
	.container
		.block-title--main(data-title="Vacancies")
			h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Vacancies
		.working__items
			.row
				.col-md-3
					a(href="working-detail.html").working__item
						.working__text Offices
						.working__title.lcl.lcl-3 School Doctor
						.working__text The International School of North America
						.working__text Full time
						.box-link.wow.fadeInRight(data-wow-duration="1.3s" data-wow-delay=".3s")
							h5 Find out more
				.col-md-3
					a(href="working-detail.html").working__item
						.working__text Teachers
						.working__title.lcl.lcl-3 IBDP Visual Art Teacher
						.working__text The International School of North America
						.working__text Full time
						.box-link.wow.fadeInRight(data-wow-duration="1.3s" data-wow-delay=".3s")
							h5 Find out more
				.col-md-3
					a(href="working-detail.html").working__item
						.working__text Teachers
						.working__title.lcl.lcl-3 IBDP Visual Art Teacher
						.working__text The International School of North America
						.working__text Full time
						.box-link.wow.fadeInRight(data-wow-duration="1.3s" data-wow-delay=".3s")
							h5 Find out more
				.col-md-3
					a(href="working-detail.html").working__item
						.working__text Teachers
						.working__title.lcl.lcl-3 IBDP Visual Art Teacher
						.working__text The International School of North America
						.working__text Full time
						.box-link.wow.fadeInRight(data-wow-duration="1.3s" data-wow-delay=".3s")
							h5 Find out more
		.block-content.max-750px
			h2 How to become SNA Educators
			h3 Qualifications:
			.content
				ul.list--check
					li BA/BSc degree holder, MA/MSc/MBA degree preferable
					li Teaching certificate or teaching credential in the subject or grade to be taught (PGCE, PGDip., etc.)
					li A minimum of two year of full-time teaching experience, prefer candidates with international experience
					li IB experience is desirable
				.note * Candidate must provide evidence clean criminal record/background checks in their country of origin and all countries that they have worked in.
			.content
				h3 Professional Qualities:
				p Employees must conduct themselves with highest degree of ethics and professionalism:
				ul.list--check
					li Be a role model to students and fellow staff alike
					li Have an open attitude towards learning new thing
					li Familiar with using technology in learning and teaching
					li Conduct yourself as a person with good will
					li Accepts responsibility
					li School comes first
					li Professional appearance
					li Committed to the students
					li Positive role models
			.content
				h3 Personal Qualities:
				ul.list--check
					li Be reliable, trustworthy and loyal
					li Strong interpersonal skills
					li Familiar with using technology in learning and teaching
					li Good communication skills both orally and in writing
					li Reliability and integrity
					li School comes first
					li Awareness and sensitivity to Asian culture.
		.block-title--main(data-title="Salary and Benefits")
			h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Salary and Benefits
		.block-content.max-750px
			.content
				p We offer a professional working environment and an attractive remuneration and benefits package that includes competitive salary scale, housing allowance, free education for dependent children (up to 02 children), medical insurance, annual return flights, application fee for work permit and temporary residence card, meals during school time.
				p Exact details will be presented by Human Resources department.
		.block-title--main(data-title="Application Process")
			h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Application Process
		.block-content.max-750px
			.content
				p If you are interested in any future teaching vacancy, please send your information to hr@sna.edu.vn:
				ul.list--check
					li Letter of application;
					li Up-to-date CV;
					li Certified and legalized copy of university degree;
					li Certified and legalized copies of teaching certificate;
					li Legalized of police check;
					li Letters of recommendation from current and/or former employers;
					li Health check-up report attesting to the good health of candidate.
				p We will keep your details on file for one year and contact you should a suitable vacancy arise.