section.about-content
	.container
		.row.item.no-limit.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.col-md-6.box-content
				h2 Professional Development | Training
				.desc
					p.ta-justify SNA encourages staff members to participate in staff development opportunities, including graduate level education courses, subject specific workshops, and IB training workshops (*SNA is a candidate school for the IBDP). SNA provides financial support for professional development opportunities of its professional staff members. SNA recognizes that staff professional development may take a variety of forms: externally and internally provided courses, workshops or conferences, staff development day activities, professional reading, targeted classroom observations, visits to other schools and sharing ideas and best practices with colleagues, and using appropriate networks and forums.
			.col-md-6.box-img
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/working/about-content.jpg", alt="Vision Mission 1")