section.news-detail.bg-section(position-top-right)
    .container
        .inner-news-detail
            .img-news-detail
                img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news-detail/1.jpg", alt="news1")
            .content-news-detail
                h2.title-news-detail DÀNH TẶNG 100 SUẤT HỌC BỔNG 300 TRIỆU ĐỒNG TẠI SNA - CHẮP CÁNH ƯỚC MƠ CON VỚI MÔI TRƯỜNG GIÁO DỤC CHUẨN QUỐC TẾ
                .date-news-detail
                    span.date Date: 
                        span 03-07-2019
                .text-news-detail
                    p Với mong muốn đào tạo những thế hệ công dân toàn cầu tiếp theo, SNA tự hào mang đến 100 suất học bổng lên đến 300 triệu đồng liên tiếp trong 3 năm. Những suất học bổng này không chỉ có ý nghĩa về mặt tài chính, còn đảm bảo:
                    ul
                        li Đảm bảo quyền lợi học tập cho con em mình trong môi trường quốc tế an toàn, cơ sở vật chất hiện đại, chất lượng giảng dạy xuất sắc, chương trình tú tài quốc tế IB được công nhận toàn cầu.
                        li Tạo dựng hành trang vững chắc để con yêu phát triển, trở thành người có tư duy mang tầm vóc quốc tế cùng cơ hội bước chân vào các trường đại học danh tiếng sau này.
                        li Nhiều chương trình học bổng dành cho học sinh SNA tạo điều kiện cho các em có thể đăng ký vào những trường đại học lớn quốc tế.
                    p Nhân dịp kỷ niệm 15 năm thành lập, Trường Quốc tế Bắc Mỹ (SNA) triển khai gói học bổng lên đến 100 TRIỆU ĐỒNG liên tiếp trong 3 năm cho các học sinh mới. Trong lịch sử thành lập trường đến nay, chưa có chương trình nào có giá trị đến thế. Đây là cơ hội để bố mẹ giúp con yêu chuẩn bị nền móng vững chắc, sớm thành công trong tương lai, cũng như nhẹ bớt phần nào gánh nặng tài chính cho quý phụ huynh.
                    p 
                        | Để nhận được tư vấn chi tiết, mời bạn để lại thông tin tại 
                        a(href="https://sna.edu.vn/",style="color:#AD132A") https://sna.edu.vn/ 
                        | hoặc gọi đến Hotline: 0964 466 014
                    .contact-news-detail
                        p Đầu tư cho giáo dục chưa bao giờ là lựa chọn sai lầm, đăng ký tư vấn ngay hôm nay để giúp con bạn hiện thực hóa mọi ước mơ!
                            br
                            | --------------------------
                            br
                            | International Schools of North America - SNA
                            br 
                            | Địa chỉ: Đường 20,Khu vực Him Lam Residential, Bình Chánh, TPHCM
                            br
                            | Hotline: 028.7301.9799 - 0964.466.014
                            br
                            | Website: sna.edu.vn
                            br
                            | Email: info@sna.edu.vn

