section.news-detail.container
    .bg-news
        img.svg(src="./assets/images/news-detail/bg-2.svg", alt="background", srcset="")
    .inner-news-detail
        .img-news-detail
            img(src="./assets/images/news-detail/1.jpg", alt="", srcset="")
        .content-news-detail
            h2.title-news-detail DÀNH TẶNG 100 SUẤT HỌC BỔNG 300 TRIỆU ĐỒNG TẠI SNA - CHẮP CÁNH ƯỚC MƠ CON VỚI MÔI TRƯỜNG GIÁO DỤC CHUẨN QUỐC TẾ
            .date-news-detail
                span.date Date: 
                    span 03-07-2019
            .text-news-detail
                p Với mong muốn đào tạo những thế hệ công dân toàn cầu tiếp theo, SNA tự hào mang đến 100 suất học bổng lên đến 300 triệu đồng liên tiếp trong 3 năm. Những suất học bổng này không chỉ có ý nghĩa về mặt tài chính, còn đảm bảo:
                ul
                    li Đảm bảo quyền lợi học tập cho con em mình trong môi trường quốc tế an toàn, cơ sở vật chất hiện đại, chất lượng giảng dạy xuất sắc, chương trình tú tài quốc tế IB được công nhận toàn cầu.
                    li Tạo dựng hành trang vững chắc để con yêu phát triển, trở thành người có tư duy mang tầm vóc quốc tế cùng cơ hội bước chân vào các trường đại học danh tiếng sau này.
                    li Nhiều chương trình học bổng dành cho học sinh SNA tạo điều kiện cho các em có thể đăng ký vào những trường đại học lớn quốc tế.
                p Nhân dịp kỷ niệm 15 năm thành lập, Trường Quốc tế Bắc Mỹ (SNA) triển khai gói học bổng lên đến 100 TRIỆU ĐỒNG liên tiếp trong 3 năm cho các học sinh mới. Trong lịch sử thành lập trường đến nay, chưa có chương trình nào có giá trị đến thế. Đây là cơ hội để bố mẹ giúp con yêu chuẩn bị nền móng vững chắc, sớm thành công trong tương lai, cũng như nhẹ bớt phần nào gánh nặng tài chính cho quý phụ huynh.
                p 
                    | Để nhận được tư vấn chi tiết, mời bạn để lại thông tin tại 
                    a(href="https://sna.edu.vn/",style="color:#AD132A") https://sna.edu.vn/ 
                    | hoặc gọi đến Hotline: 0964 466 014
                .contact-news-detail
                    p Đầu tư cho giáo dục chưa bao giờ là lựa chọn sai lầm, đăng ký tư vấn ngay hôm nay để giúp con bạn hiện thực hóa mọi ước mơ!
                        br
                        | --------------------------
                        br
                        | International Schools of North America - SNA
                        br 
                        | Địa chỉ: Đường 20,Khu vực Him Lam Residential, Bình Chánh, TPHCM
                        br
                        | Hotline: 028.7301.9799 - 0964.466.014
                        br
                        | Website: sna.edu.vn
                        br
                        | Email: info@sna.edu.vn
    hr
    .related-news
        h2 Related News
        .row
            .col-lg-4
                a.related-item(href="#")
                    .related-img
                        img(src="./assets/images/news-detail/r1.jpg", alt="related1", srcset="")
                    .related-content
                        h4.related-title KIỂM TRA ĐẦU VÀO TRONG MÙA DỊCH, KHÔNG CÒN LÀ KHÓ KHĂN!
                        p.related-text Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
                        span
                            .icon-arrow
                                img.svg(src="./assets/icons/arrow-right-blue.svg", alt="", srcset="")
                            | Read more
            .col-lg-4
                a.related-item(href="#1")
                    .related-img
                        img(src="./assets/images/news-detail/r3.jpg", alt="related3", srcset="")
                    .related-content
                        h4.related-title TIPS CHĂM SÓC CON TRONG MÙA DỊCH COVID-19
                        p.related-text Bố mẹ có biết? Trước khi hoàn tất thủ thục nhập học tại SNA, các “sĩ tử” ở các cấp đều cần tham gia vào bài kiểm tra đầu vào để được khảo sát thực lực, đánh giá khả năng ngôn ngữ của các em, nhằm mang đến một môi trường học tập phù hợp nhất.
                        span 
                            .icon-arrow
                                img.svg(src="./assets/icons/arrow-right-blue.svg", alt="", srcset="")
                            | Read more
            .col-lg-4
                a.related-item(href="#2")
                    .related-img
                        img(src="./assets/images/news-detail/r2.jpg", alt="related2", srcset="")
                    .related-content
                        h4.related-title CÁC BÀ MẸ NỔI TIẾNG HỌC ONLINE CÙNG CON NHƯ THẾ NÀO?
                        p.related-text Nghệ sĩ Ốc Thanh Vân và Người mẫu Thúy Hạnh chia sẻ về quá trình học online cùng con trong mùa dịch Covid-19. Hai bà mẹ nổi tiếng đã luôn ở bên nhắc nhở và giúp đỡ các bé về giờ giấc, đường truyền mạng... trong quá trình học.
                        span 
                            .icon-arrow
                                img.svg(src="./assets/icons/arrow-right-blue.svg", alt="", srcset="")
                            | Read more

