section.ib-program.bg-section(position-top-right)
	.container
		.nav-menu
			ul
				li.active
					a(href="ib-program-pyp.html") PYP
				li
					a(href="ib-program-myp.html") MYP
				li
					a(href="ib-program-dp.html") DP
		h4 International Schools of North America is a candidate school* for the International Baccalaureate (IB) Primary Years Programme
		.about-content.block-padding-40px
			.row.item.text-left.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
				.col-md-6.box-content
					h2 Our Mission
					.desc
						p The Primary Years Program is a curriculum framework applied over 5,000 schools around the world. It is a broad and balanced framework to enhance learning in the critical early years of cognitive development. It puts the student's learning needs at the heart of the whole school community. Accordingly, teaching and learning revolve around developing the IB learner profile, encompassing comprehensive knowledge, critical thinking and international mindedness.
						p Students tackle global and regional issues from an early stage so that they can become the global citizens of tomorrow. Additionally, inquiry-based learning enables students to experience authentic, relevant and challenging content. Especially, 21st century skills are enhanced through the whole program, developing communication, self-management and collaborative skills in our students to prepare them for the challenges of our globalized world.
				.col-md-6.box-img
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/ib-program/pyp-1.jpg", alt="Vision Mission 1")
			.row.item.text-right.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
				.col-md-6.box-img
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/ib-program/pyp-2.jpg", alt="Vision Mission 1")
				.col-md-6.box-content
					h2 Curriculum
					.desc
						p Each year of the program puts some emphasis on our planet through the Sharing the Planet Unit of inquiry, bringing new ways to encourage our students to take better care of our universal home.
						p Besides, the PYP promotes multilingualism and a strong knowledge of the host country 's culture. This is why at SNA, the Vietnamese curriculum is the basis of our program. Vietnamese language and Social studies are taught in Vietnamese following the PYP pedagogy to ensure coherence in students schooling.
						p Especially, the PYP puts a lot of emphasis on monitoring and documenting student's learning. It follows strict learning objectives with a guaranteed curriculum within each grade level. There are no exams mandated by the program as they do not represent a clear representation of student's achievements. Only the triangulation of data constitutes an accurate representation of the student's progress.
		.block-video
			.block-title--main
				h2.lcl.lcl-1.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") Overview - IB Primary Years Programme
		.section-people-said
			.block-content--style_4.bg-50-gray.row.no-gutters
				.img.ov-h.col-md-5.height-550px.wow.fadeInLeft(data-wow-duration="1.3s" data-wow-delay=".3s")
					img.ofcv.lazyload.blur-up(data-src="./assets/images/ib-program/pyp-people.jpg", alt="")
				.block-text.col-md-7.wow.fadeInLeft(data-wow-duration="1.3s" data-wow-delay=".5s")
					.content
						.ib-program-content
							h2 Coordinator
							h3.cl-main CAROLINE FOGIEL
							p IB PYP Coordinator
							p French/Australian
							a(href="#").cl-main-2 carolinef@sna.edu.vn
							p MA Political Science, Paris X Nanterre, 1994
							p Graduate Diploma of Education, Melbourne University, 2001
							p Principal Training Center, 2015
							p.cl-main-2 Experience
							ul
								li Teaching since 2002
								li International experience since 2006 with PYP/MYP/DP Languages A and B
								li Grade level Coordinator, IB Mother Tongue Coordinator, whole school Curriculum
								li Coordinator, International experience in Australia, Singapore, Vienna, Shanghai, Oman.
							.quote
								p My own experiences as a language learner have nurtured and strengthened the belief in offering as many opportunities as possible for my students to express their knowledge and understanding in ways that are timely, relevant, creative and unique. How has this influenced my work? Teaching English as a second, and sometimes third or fourth, language is challenging in itself. Teaching in English, where students are a mixture of near-native English speakers and those who see English more as a foreign language, is exciting. Provocative. Encouraging. Motivating. Frustrating. And rewarding. We live in an information age and schools are the heart of Information Literacy. Access to information is steered by language, making language competency a vital part of student engagement with lifelong learning.