section.school-leadership-team
	.container
		.block-content--style_4
			.img.ov-h
				img.ofcv.lazyload.blur-up(data-src="./assets/images/school-leadership-team/1.jpg", alt="")
			.block-text
				.content
					.desc
						.name Kelsey Rose Irish - English Language Development
						p I work as a ESL support teacher for secondary education courses. I primarily work with grades 6 and 9 and assist with work in and out of the classroom. SNA has many opportunities for me to advance in my career as a teacher. There are many workshops and trainings that have taught me to apply new practices to the classroom and have inspired me to better myself as an educator. There is a great work atmosphere here as well with strong collaboration practices between all teachers. There are wonderful facilities on the campus.
						p I have a great classroom that is supplied with all the necessary facilities and I know I have support from the administration to get additional resources if I need them. The students also have access to all necessary facilities and they are respectful of the resources withy receive from the school. I know I have the flexibility to adapt to whatever my role requires of me. I know I have many opportunities to advance in my career and create the type of curriculum I know will be beneficial for the students. The support from Nguyen Hoang Group is crucial for me to be a better teacher because of the flexibility afforded me as a teacher.