section.school-leadership-team
	.container
		.item-school-leadership-team.block-content--style_4.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.img.ov-h
				img.ofcv.lazyload.blur-up(data-src="./assets/images/school-leadership-team/1.jpg", alt="")
			.block-text
				.content
					.info
						.name Nguyen Thi Thu Thuy
						.country Vietnam
						.position Managing Director
						p.ta-justify Nearly 11 years of experience as Managing Director of renown education centers.
						p.ta-justify “Education is our passport to the future, for tomorrow belongs to the people who prepare for it today ” – Malcom X.
					.desc
						p.ta-justify As former Country Head of Overseas Study Center in ILA Vietnam, Thuy has an outstanding track record of level KPIs and operational excellence through many years in an educational leadership position.
						p.ta-justify As former Country Head of Overseas Study Center in ILA Vietnam, Thuy has an outstanding track record of level KPIs and operational excellence through many years in an educational leadership position.
						p.ta-justify Also, her international experience comes from attaining a Master’s Degree in Business & Marketing Management from the Solvay Business School, Université libre de Bruxelles. She pursues her ambition for raising global citizens, constructing innovative curriculum, and inspiring students to succeed.
						p.ta-justify AThrough providing a holistic array of operation strategies and delivering seamlessly integrated learning and teaching approach, Thuy offers a clear strategic vision which shapes SNA as a leading international student-centric school. She is also a creative, visionary leader who inspires teachers, students, and the community.
		.item-school-leadership-team.block-content--style_4.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.img.ov-h
				img.ofcv.lazyload.blur-up(data-src="./assets/images/school-leadership-team/2.jpg", alt="")
			.block-text
				.content
					.info
						.name Simon Lee
						.country United Kingdom
						.position Head of School
						p.ta-justify 12 years experience in International schools in Italy, Germany, Brazil and Malaysia.
					.desc
						p.ta-justify Mr. Simon Lee was born and raised in the North of England, close to the historic city of Chester.He began his international education career in 2007 and has held senior leadership positions in Italy, Germany, Brazil and, most recently Malaysia where he was Principal of an international school for students aged 3 – 18 years of age.
						p.ta-justify His 12 years of international experience means that Simon has a sound working knowledge and experience of a variety of curricula, including the UK National Curriculum, International Baccalaureate (IB) and the International Primary Curriculum (IPC). He is excited to be relocating to Ho Chi Minh City so that he can enjoy all that Vietnam and Southeast Asia have to offer, as well as sharing experience with the SNA community.
		.item-school-leadership-team.block-content--style_4.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.img.ov-h
				img.ofcv.lazyload.blur-up(data-src="./assets/images/school-leadership-team/3.jpg", alt="")
			.block-text
				.content
					.info
						.name Mike Miller
						.country United Kingdom
						.position Deputy Head of School
						p.ta-justify Nearly 20 years experience in International schools in Europe and Asia.
						p.ta-justify “Education is the most powerful weapon you can use to change the world” – Nelson Mandela.
					.desc
						p.ta-justify Mike is originally from Scotland in the United Kingdom and has been involved in international education and leadership for nearly 20 years. His teaching background includes teaching chemistry, biology and science at all levels. He has worked in schools in his home country, Scotland, Spain, and China before arriving in Vietnam 2 years ago. He has significant and extensive experience in working in IB schools in a variety of roles. In addition to his role at SNA, Mike is also an IB workshop leader, an IB school visiting team member and an accreditation officer with the Council of International Schools. Mike is committed to professional development to complement his Master’s Degree in Educational Leadership and Management. He recently completed IB’s Leadership in Practice certificate. When not busy working, Mike loves to travel, work out at the gym, and cycle.
		.item-school-leadership-team.block-content--style_4.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.img.ov-h
				img.ofcv.lazyload.blur-up(data-src="./assets/images/school-leadership-team/4.jpg", alt="")
			.block-text
				.content
					.info
						.name Caroline Fogiel
						.country French/Australia
						.position Head of Primary
						p.ta-justify Nearly 17 years experience in teaching
						p.ta-justify “Grammar is freedom of speech”
					.desc
						p.ta-justify I have been teaching for 17 years in international schools so I have experienced some of the best practices that can serve learners. As an educator, I continue to work successfully with students and teaching teams to help create environments and learning engagements that support quality teaching and learning. I love the curiosity of students when they discover something new in the world and the exciting face of these students when they share the project or just the information that they just explored. As a PYP coordinator, I understand that children aged 3-12 need to be nurtured and developed as caring, active participants in a lifelong journey of learning. Primary education is a chance to empower young learners to take an active role in local and global issues.
		.item-school-leadership-team.block-content--style_4.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.img.ov-h
				img.ofcv.lazyload.blur-up(data-src="./assets/images/school-leadership-team/5.jpg", alt="")
			.block-text
				.content
					.info
						.name Patric Elder
						.country Sweden/Canada
						.position IB MYP Coordinator
						p.ta-justify Experience teaching in Europe and Asia.
					.desc
						p.ta-justify Education is about Experiences. Students making real world connections through practical applications of knowledge and skills. They identify, analyze and solve problems for the benefit of themselves and others. The best part of this job is helping young people find what they are passionate about and guiding them on the start of their own exciting journey. We are all successful, we just need to discover our path.
		.item-school-leadership-team.block-content--style_4.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s")
			.img.ov-h
				img.ofcv.lazyload.blur-up(data-src="./assets/images/school-leadership-team/6.jpg", alt="")
			.block-text
				.content
					.info
						.name Lauralynn Stefureak
						.country Sweden/Canada
						.position IB DP Coordinator
						p.ta-justify IB-experience in Europe, Asia and the Middle East
					.desc
						p.ta-justify My own experiences as a language learner have nurtured and strengthened the belief in offering as many opportunities as possible for my students to express their knowledge and understanding in ways that are timely, relevant, creative and unique. How has this influenced my work? Teaching English as a second, and sometimes third or fourth, language is challenging in itself. Teaching in English, where students are a mixture of near-native English speakers and those who see English more as a foreign language, is exciting. Provocative. Encouraging. Motivating. Frustrating. And rewarding. We live in an information age and schools are the heart of Information Literacy. Access to information is steered by language, making language competency a vital part of student engagement with lifelong learning.