section.login-SNA
	.container
		.row
			.col-5
				.box-login-SNA
					form(name="login-SNA", method="post")
						input(type="text",placeholder="Username . . .",name="user")
						input(type="password",placeholder="Password . . .")
						input(type="submit", value="Login",name="login")