section.login-SNA
	.container
		.row
			.col-5
				.box-login-SNA
					form(action="", method="post")
						input(type="text",placeholder="Username . . .")
						input(type="text",placeholder="Password . . .")
						input(type="submit", value="Login",name="login")