section.admission-procedures.bg-section(position-top-right)
	.container
		.nav-menu
			ul
				li.active
					a(href="pyp.html") PYP
				li
					a(href="myp.html") MYP
				li
					a(href="dp.html") DP
		.max-750px
			.info
				h3 The IB Primary Years Programme (PYP)
				a(href="#") (*SNA is an IB candidate school)
				.page-desc.pb-0
					p There are 6 steps in our admission process:
			.core--tab-container__style-1
				.item
					.tab-title.lcl.lcl-1 Step 1: Inquiry Form
					.tab-content
						p In order for SNA to remain committed to providing high quality educational service to our students, we recommend that parents begin the admission process with the enquiry form to determine if the applicant is eligible to apply to a particular grade level.
						p Parents are encouraged to send questions about support services, space availability or tuition fees to our admissions officer. Upon receiving your questions, our admissions team gets in touch with the applicant in one or two working days.
				.item
					.tab-title.lcl.lcl-1 Step 2: Application Form
					.tab-content
						p Fill out the application form and submit all the required documents including the student’s confidential report from the former school. Required documents to be uploaded are as follows:
						ul
							li Official or notarized copies of transcript/academic records of all previous schools attended within the last 3 years. (must contain sufficient grades information for performance and placement evaluation)
							li Student’s confidential report filled in by the former schoolteachers and principal for grades 8-12
							li Autobiographical Information
							li Up-to-date immunization records
							li Copies of Birth Certificate
							li If your child is currently receiving Special Education services (SEN) and/or has a current IEP (Individualized Education Plan)
								ul
									li The most current documents must be provided at time of enrollment
									li Required medical check-up performed by the school medical specialists to be done before attendance
							li If the student is not a citizen of Vietnam:
								ul
									li 2 copies of their passport
				.item
					.tab-title.lcl.lcl-1 Step 3: Application Fee
					.tab-content
						p The application fee is 4,500,000 VND for students enrolling in Kindergarten and 5,600,000 VND for students enrolling in Grade 1 to Grade 12 which is a one-time non-refundable fee payable directly to the school. This fee includes all administrative costs such as: admission and placement and entrance assessment charges.
				.item
					.tab-title.lcl.lcl-1 Step 4: SNA Placement Assessments
					.tab-content
						p Upon the appropriate coordinator’s approval, the student is given a time for the placement assessments period. Assessment structure is as follows:
						.block-main-table
							table
								thead
									tr
										th Grade Level
										th Type
										th Content
										th Duration
										th Administrator
								tbody
									tr
										td KG to Grade 1
										td Interview
										td A classroom visit
										td 15 - 30 minutes
										td Child Support Experts
									tr
										td Grade 2 - 5
										td
											p 1- Interview
											p 2- WIDA  assessment
											p 3- Two math questions in English
										td A classroom visit
										td 15 - 30 minutes
										td Child Support Experts
				.item
					.tab-title.lcl.lcl-1 Step 5: Meeting with the Appropriate Programme Coordinator.
					.tab-content
				.item
					.tab-title.lcl.lcl-1 Step 6: Final Registration Status Notification
					.tab-content
						p.cl-main Admitted Status
						p Once the student has been accepted into SNA, payment of school fees and completion of the Application for Admission form are required.
						p.cl-main Pending Status
						p When seats are limited, students may be placed on a waiting list. Please note that a place on the waiting list does not guarantee enrollment. Length of time on the waiting list will vary depending on the number of places available.
						p.cl-main Rejected Status
						p If the student has not met the necessary admissions requirements. This decision will be provided to the parent by the admissions officer. If in the future, the parent believes that the student can meet the necessary requirements to be a successful IB programme student at SNA an additional application can be filed and considered by the school pedagogical team.
						p.cl-main Inclusion and Access
						p As stated clearly in our educational philosophy, we strive to empower our students with the skills, values, and knowledge that enable them to believe in their capacity to lead, walk their own path, and know how it feels to learn, discover, and experience.
						p To serve that purpose, we are committed to ensuring that at SNA we provide that opportunity for all those who join our community whose needs we can accommodate. Our current status in terms of supporting students with special needs is in a developing stage. It is important that students with special learning needs in our school will make progress and grow in confidence in their own abilities, therefore students must be able to access our MYP subjects and DP courses under the accommodations allowed by the International Baccalaureate.
						p For detailed information please refer to the Inclusion policy.
			.desc
				h4 SNA Policies
				p The International Schools of North America’s Admissions Policy works in conjunction with five other policies: Academic Honesty, Assessment, Inclusion, ICT, and Language. These policies establish the foundational beliefs and guidelines for SNA. Please refer to these policies for further information.
				p.cl-main Administration Office Contact Information:
				p
					u
						| Administration Manager:
					|  Nguyen Duong Que Tien  _
					a(href="mailto:tienndq@sna.edu.vn")  tienndq@sna.edu.vn
				p
					u
						| For any further information regarding SNA:
					|  Nguyen Duong Que Tien  _
					a(href="mailto:tienndq@sna.edu.vn")  info@sna.edu.vn
					| , hotline +84 28 730 197 99