section.dormitory
	.container
		.row
			.col-12.content-top
				p To create an international education environment and to have a better understanding of studying away from home, International Schools of North America has established a dormitory that meet the international standard for students who live outside of HCMC or wish to experience a life of an overseas student. SNA dorm is only 150m away from our school with 2 sectors for female students and male students separately. With total 1.460m2, the dorm has 24 rooms (including living rooms, dining rooms, kitchens, laundry rooms, bathrooms, bedrooms)
		.row.list-items
			.col-sm-6.col-lg-6.item
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/dormitory/dormitory1.jpg", alt="")
				.content
					p Bedrooms are well-furnished with bunks, mattresses, pillows, blankets, closets, tables, chairs and refrigerators.	
					p Laundry rooms are for washing and drying students’ daily clothing and bedding and for weekly washing (mattress cover, pillowcase, blankets)
			.col-sm-6.col-lg-6.item
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/dormitory/dormitory2.jpg", alt="")
				.content
					p Spacious modern living rooms are furnished with computers, TV’s, books, magazines, tables, chairs, and couches enabling students to relax and study.
			.col-sm-6.col-lg-6.item
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/dormitory/dormitory3.jpg", alt="")
				.content
					p Spacious dining rooms are for weekend gatherings with friends and teachers or for students to cook what they choose.
			.col-sm-6.col-lg-6.item
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/dormitory/dormitory4.jpg", alt="")
				.content
					p A large and homey lounge for students to meet their families, friends or guests.
			.col-sm-6.col-lg-6.item
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/dormitory/dormitory5.jpg", alt="")
				.content
					p Our dorm provides many board games for students such as ping-pong, foosball, chess. Boarding students can also participate in other sports: swimming, badminton, basketball, skip rope, jogging…
			.col-sm-6.col-lg-6.item
				.img.ov-h
					img.lazyload.blur-up.ofcv(data-src="./assets/images/dormitory/dormitory6.jpg", alt="")
				.content
					p It is always difficult for students living away from home, therefore, the SNA boarding house has experienced supervisors for each group of students. Our boarding parents have great knowledge and understanding regarding students’ mental health from all ages to take care and support students.
					p The boarding house always has a detailed schedule to ensure that all students develop a well-balanced lifestyle between studying and relaxing.