section.class-of-2020.title--common
	.container
		.triangle-down-blue
		.class-of-2020__wrapper
			.title
				h2 Congratulations 
					|
					span Class of 2020
			.sub-title
				p "I would like to say a special thank you to our ISHCMC parents. In my seven years in this role, there has never been a year like this. Thank you for attending the online meetings, reading the many messages about assessments, exams, the cancellations of exams, the calculation of predicted grades and most importantly the wellbeing of your child. The heart of our wonderful community has continued to beat during Covid-19 because of your support. Your tears of joy, relief and pride show what is possible if we stay strong and kind as community. Thank you for trusting me to guide you through this complicated year."
				p.text-right-2020 – Ms. Teresa Foard, Assistant Principal –
section.graduates-student.discover.title--common
	.container
		.triangle-down-blue
		.graduates-student__wrapper
			.title
				h2 Meet some of our 
					|
					span Graduates
			.team__wrapper
				.team__row.row
					-for(var i =0; i<9;i++)
						.team__item.fancybox__getTeam.col-4(data-fancybox, data-src="",data-modal="true", href="javascript:;")
							.item__img.ov-h
								img(src="./assets/who-are-we.jpg", alt="team")
							.item__content
								h3 SNA
								h4 Headmaster
								h5 Trường SNA
							.sub-title--item
								p.lcl.lcl-2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta repellendus quibusdam voluptatum quia aut laudantium provident earum id. Voluptate molestias voluptatem eaque ea eius? Quasi praesentium sint ducimus dolorem cumque.
						.team__popup#id1(style="display:none")
							.popup__body
								.popBody__nameImg
									.img
										img(src="./assets/who-are-we.jpg", alt="team")
									.txt
										h3 SNA
										h4 Headmaster
								.popBody__info
									p Nationality: 
										span British
									p Teaching Experience: 
										span 35 years
									p Qualifications: 
										span BA Economics, MA Educational Management, PGCE Economics and Mathematics, Certificate of International School Leadership.
									p Mr. Manditsch, a British national, has thirty-five years of experience in education, twenty-nine of which internationally. For the last twenty years, he has worked as a Principal or Head of School. This has presented him with the opportunities to work with students and families from a wide range of cultural backgrounds. Bryan has been working with both International Baccalaureate (IB) and Cambridge programmes. As an education pioneer, he has led many schools through the process of establishment, accreditation, training and development successfully. In a career of 35 years, Bryan has worked in England, Kenya, Kuwait, Qatar and China.
							.popup__close(data-fancybox-close)
			.sub-title
				p "We are defined as humans not by the situations put in front of us but by the way we face them, respond to them and overcome them. More than ever, you have faced adversity with courage and resilience in a way we find truly humbling. The future is full of optimism and hope because you are the people shaping it."
				p.text-right-2020 – Mr. Will Hurtado, Secondary Principal –
section.Acceptances.title--common
	.triangle-down-blue
	.title
		h2 University 
			|
			span Acceptances
		p Travel the world visitting our graduates.
		p Scroll to zoom on the map below.
	.iframe__wrapper
		iframe(src="https://www.google.com/maps/d/u/0/embed?mid=19zj2fLJVhFn39V48_eOWAwnjUBD3TZZL", width="100%" height="600px" frameborder="0")
	.content__wrapper.row
		.content-column.col-lg-3.col-md-6.col-sm-12
			p
				strong Asia
				br
				| Ateneo de Manila University
				br
				| Chinese University of Hong Kong
				br
				| Chulalongkorn University
				br
				| Chung-Ang University
				br
				| City University of Hong Kong
				br
				| Inha University
				br
				| Keio University
				br
				| LASALLE College of the Arts
				br
				| National Chiao Tung University
				br
				| National Chung Cheng University
				br
				| National Institute of Technology - India
				br
				| National Tsing Hua University
				br
				| Nayang Technological University
				br
				| RMIT University Vietnam
				br
				| Savannah College of Art and
				br
				| Design - SCAD, Hong Kong
				br
				| Sophia University
				br
				| The Hong Kong
				br
				| Polytechnic University
				br
				| The Hong Kong University of
				br
				| Science and Technology
				br
				| The University of Hong Kong
				br
				| Universiti Brunei Darassalum
				br
				| University of the Philippines
				br
				| Waseda University
				br
				| School of International Liberal Studies
				br
				| Yale-NUS College
				br
				br
				strong Australia
				br
				| Australian National University
				br
				| Blue Mountains International
				br
				| Hotel Management School
				br
				| Bond University
				br
				| Curtain University
				br
				| Deakin University
				br
				| Griffith University
				br
				| La Trobe University
				br
				| Macquarie University
				br
				| Monash University
				br
				| Murdoch University
				br
				| RMIT University
				br
				| Swinburne University of Technology
				br
				| The University of Melbourne
				br
				| University of Newcastle
				br
				| University of Southern Queensland
				br
				| University of Tasmania
				br
				| University of Technology Sydney
				br
				| University of Wollongong
				br
				| UNSW Australia
				br
				br
				strong Canada
				br
				| Capilano University
				br
				| Dalhousie University
				br
				| Emily Carr University of Art + Design
				br
				| MacEwan University
				br
				| McGill University
				br
				| McMaster University
				br
				| Memorial University
				br
				| Mt. Alison University
				br
				| Ontario College of Art &amp; Design University
				br
				| Ryerson University
				br
				| Simon Fraser University
				br
				| St Mary&rsquo;s University
				br
				| Trent University
				br
				| University of Alberta
				br
				| University of British Columbia
				br
				| University of British Columbia,
				br
				| Okinagan
				br
				| University of Calgary
				br
				| University of Northern British Columbia
				br
				| University of Saskatchewan
				br
				| University of Toronto
				br
				| University of Waterloo
				br
				| Western University
				br
				| Wilfrid Laurier University
				br
				| York University
				br
				br
				strong Europe (Non-UK)
				br
				| BI Norweigan Business School
				br
				| Bocconi University
				br
				| Cattolica del Sacro Cuore University
				br
				| Cesar Ritz Colleges Switzerland
				br
				| Ecole H&ocirc;teli&egrave;re de Lausanne
				br
				| EDHEC Business School
				br
				| Erasmus University Rotterdam
				br
				| ESSEC Business School
				br
				| EU Business School Barcelona
				br
				| European University of Madrid
				br
				| Glion Institute of Higher Education
				br
				| Hanze University
				br
		.content-column.col-lg-3.col-md-6.col-sm-12
			p
				| Hotelschool The Hague
				br
				| IED Milano
				br
				| IE University
				br
				| IHTTI School of Hotel Management
				br
				| Istituto Europeo di Design
				br
				| Jacobs University
				br
				| Leiden University
				br
				| Les Roches International School of
				br
				| Hotel Management
				br
				| Maastricht University
				br
				| NYU, Shanghai
				br
				| The Hague University of
				br
				| Applied Sciences
				br
				| Tilburg University
				br
				| Universiteit Utrecht
				br
				| University College Groningen
				br
				| University College Roosevelt
				br
				| University of Amsterdam
				br
				| Van Hal Laurenstein University
				br
				| Vrije Universiteit Amsterdam
				br
				| Wageningen University &amp; Research
				br
				br
				strong Korea
				br
				| Hanyang University
				br
				| Kacheon University
				br
				| KAIST - Korea Advanced Institute of
				br
				| Science &amp; Technology
				br
				| Kookmin University
				br
				| Korea University
				br
				| Kyonggi University
				br
				| Seoul National University
				br
				| Sogang University
				br
				| Sookmyung Women&rsquo;s University
				br
				| Sungkyunkwan University
				br
				| Sungshin Women&rsquo;s University
				br
				| The State University of New York, Korea
				br
				| Yonsei University
				br
				br
				strong United Kingdom
				br
				| Aberystwyth University
				br
				| Arts University Bournemouth
				br
				| Aston University
				br
				| Belfast University
				br
				| Birkbeck University
				br
				| Bournemouth University
				br
				| Brunel University London
				br
				| Cardiff University
				br
				| City, University of London
				br
				| Coventry University
				br
				| Durham University
				br
				| Falmouth University
				br
				| Goldsmiths University
				br
				| Greenwich School of Management
				br
				| Kingston University London
				br
				| King&rsquo;s College London
				br
				| Lancaster University
				br
				| London Metropolitan University
				br
				| London Southbank University
				br
				| Middlesex University
				br
				| Newcastle College
				br
				| Newcastle University
				br
				| Northampton University
				br
				| Nottingham Trent University
				br
				| Oxford Brookes University
				br
				| Pomona College
				br
				| Queen Mary University of London
				br
				| Queens University Belfast
				br
				| Regent&rsquo;s University London
				br
				| Royal Holloway, University of London
				br
				| Sheffield Hallam University
				br
				| St Mary&rsquo;s University, Twickenham
				br
				| The University of Edinburgh
				br
				| The University of Manchester
				br
				| The University of Nottingham
				br
				| The University of Warwick
				br
				| University College Birmingham
				br
				| University College London
				br
				| University of the Arts London
				br
				| University of Aberdeen
				br
				| University of Bath
				br
				| University of Birmingham
				br
				| University of Bristol
				br
				| University of Chester
				br
				| University of East Anglia
				br
				| University of Essex
				br
				| University of Exeter
				br
				| University of Glasgow
				br
				| University of Greenwich
				br
				| University of Hertfordshire
				br
				| University of Huddersfield
				br
				| University of Kent
				br
		.content-column.col-lg-3.col-md-6.col-sm-12
			p
				| University of Leeds
				br
				| University of Plymouth
				br
				| University of Portsmouth
				br
				| University of Reading
				br
				| University of Roehampton
				br
				| University of Sheffield
				br
				| University of Southampton
				br
				| University of St Andrews
				br
				| University of Surrey
				br
				| University of the West of England
				br
				| University of Westminster
				br
				| University of York
				br
				br
				strong United States
				br
				| American University
				br
				| Arizona State University
				br
				| Baylor University
				br
				| Bay Path University
				br
				| Bentley University
				br
				| Boston College
				br
				| Boston University
				br
				| Bradley University
				br
				| Brown University
				br
				| Butler University
				br
				| California College of the Arts
				br
				| California Institute of the Arts
				br
				| California Lutheran University
				br
				| California State University, Sacramento
				br
				| Campbell University
				br
				| Carnegie Mellon University
				br
				| Case Western Reserve University
				br
				| Chapman University
				br
				| Clarkson University
				br
				| Clark University
				br
				| Cleveland University of Art
				br
				| College for Creative Studies
				br
				| College of Charleston
				br
				| College of Marin
				br
				| Colorado School of Mines
				br
				| Concordia University
				br
				| Cornell College
				br
				| Cornell University
				br
				| Dallas Baptist University
				br
				| DePaul University
				br
				| Dickinson College
				br
				| Drexel University
				br
				| Eberly College of Science
				br
				| Elon University
				br
				| Emory University
				br
				| Florida Institute of Technology
				br
				| Fordham University
				br
				| Franklin &amp; Marshall College Georgetown
				br
				| George Mason University
				br
				| Georgetown University
				br
				| Georgia Institute of Technology
				br
				| Gettysburg College
				br
				| Gordon College
				br
				| Hampshire College
				br
				| Hult International Business School
				br
				| Indiana University at Bloomington
				br
				| Ithaca College
				br
				| Kalamazoo College
				br
				| Kent State University
				br
				| Kenyon College
				br
				| Kettering University
				br
				| Knox College
				br
				| Lehigh University
				br
				| Loyola Marymount University
				br
				| Loyola University Maryland
				br
				| Lynchburg College
				br
				| Maryland Institute of Art
				br
				| Massachusetts College of
				br
				| Art &amp; Design
				br
				| Massachusetts College of
				br
				| Pharmacy &amp; Health Sciences
				br
				| Merrimack College
				br
				| Miami University, Oxford
				br
				| Minnesota Twin Cities University
				br
				| New York University
				br
				| Northeastern University
				br
				| Northern Arizona University
				br
				| Northwestern University
				br
				| Notre Dame
				br
				| Oberlin College of Arts and Sciences
				br
				| Ohio Wesleyan University
				br
				| Oregon State University
				br
				| Pace University
				br
				| Pace University, New York City
				br
				| Parsons School of Design
				br
				| Pennsylvania State University
				br
				| Pepperdine University
				br
		.content-column.col-lg-3.col-md-6.col-sm-12
			p
				| Pratt Institute
				br
				| Purdue University
				br
				| Quinnipiac University
				br
				| Reed College
				br
				| Rensselaer Polytechnic Institute
				br
				| Rose Hulman Institute of Technology
				br
				| Saint Mary&rsquo;s College of California
				br
				| San Diego State University
				br
				| San Francisco State University
				br
				| Santa Clara University
				br
				| Santa Monica College
				br
				| Savannah College of Art and Design
				br
				| School of the Art Institute 
				br
				|  of Chicago
				br
				| School of Visual Arts
				br
				| Seattle University
				br
				| Southern California Institute 
				br
				|  of Architecture
				br
				| Southern Methodist University
				br
				| St. John&rsquo;s University - Queens Campus
				br
				| St. Mary&rsquo;s College of Maryland
				br
				| State University of New York 
				br
				|  at Plattsburgh
				br
				| Stony Brook University
				br
				| Suffolk University
				br
				| Syracuse University
				br
				| Texas A&amp;M University
				br
				| Texas Christian University
				br
				| Texas Tech University
				br
				| The College of Wooster
				br
				| The George Washington University
				br
				| The New School
				br
				| The University of Texas, Austin
				br
				| The University of Texas, Dallas
				br
				| Trinity College
				br
				| Trinity University
				br
				| Tufts University
				br
				| Tulane University
				br
				| United States Air Force Academy
				br
				| United States Military Academy 
				br
				|  West Point
				br
				| University of Arizona
				br
				| University of California, Berkeley
				br
				| University of California, Davis
				br
				| University of California, Irvine
				br
				| University of California, Los Angeles
				br
				| University of California, Riverside
				br
				| University of California, 
				br
				|  San Diego
				br
				| University of California, 
				br
				|  Santa Barbara
				br
				| University of California, Santa Cruz
				br
				| University of Chicago
				br
				| University of Cincinatti
				br
				| University of Colorado at Boulder
				br
				| University of Denver
				br
				| University of Hartford
				br
				| University of Houston
				br
				| University of Illinois, Chicago
				br
				| University of Illinois at 
				br
				|  Urbana-Champaign
				br
				| University of La Verne
				br
				| University of Massachusetts, Amherst
				br
				| University of Massachusetts, Boston
				br
				| University of Miami
				br
				| University of Michigan
				br
				| University of New Hampshire
				br
				| University of North Carolina, Chapel Hill
				br
				| University of Oregon
				br
				| University of Pittsburgh
				br
				| University of Rhode Island
				br
				| University of Richmond
				br
				| University of Rochester
				br
				| University of San Diego
				br
				| University of San Francisco
				br
				| University of South Carolina
				br
				| University of Southern California
				br
				| University of Texas, Dallas
				br
				| University of Tulsa
				br
				| University of Virginia
				br
				| University of Washington
				br
				| University of Wisconsin, Madison
				br
				| Utica College
				br
				| Virginia Tech
				br
				| Washington &amp; Lee University
				br
				| Washington University in St. Louis
				br
				| Western Carolina University
				br
				| Western Washington University
				br
				| Wheaton College MA
				br
				| Wofford College
				br
				br