.index-2 {
    // .block-title--main {}
    .container {
        .img-sticker {
            display: flex;
            margin-top: -160px;
            position: relative;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            .img-sr {
                img {
                    // display: inline-block;
                    width: 350px;
                }
            }
            @media (max-width: 1024.98px) {
                margin-top: 0;
            }
        }
     @media (max-width: 767.98px) {
        .block-title--main {
            &::after {
                content: none;
            }
        }
     }
    }
}