.index-3 {
	padding: 100px 0;

	.list-item-index-3 {
		.item {
			margin-bottom: 30px;
		}
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;
	}

	@media (max-width: 575.98px) {
		padding: 25px 0;

		.list-item-index-3 {
			.item {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.list-item-index-3 {
		.item {
			margin-bottom: 15px;
		}
	}
}

// inedex 4 
.partner-section{ 
	background-color: map-get($mau, main);
		width: 100%;
		height: auto;
		border : none ;
		margin-bottom: -1px;
		padding : 50px 0 ;
}
p {
	margin-bottom: 20px;
	color : white;
}