section.working-detail.bg-section(position-top-left)
	.container
		.block-content
			.working_dt_title__wrapper.max-750px
				a(href="working.html").working_dt__back
					.box-link.wow.fadeInRight(data-wow-duration="1.3s" data-wow-delay=".3s")
						h5 Back
				h1.working_dt__title School Doctor
				.working_dt__date 2020-06-15
			.content
				p Objective of the position:
				ul.workingDetail__list
					li Examining, prescribing medication for students and teachers
					li Providing first aid for accidents at school
					li Delivering expert opinion and counseling
					li Keep track of psychological and health abnormalities for students.
					li Providing training of student care to nannies, boarding parents, bus drivers and academic team.
				p Requirements:
				ul.workingDetail__list
					li Holding a degree from a recognized medical university with a specialty in internal medicine.
					li Having a medical practice certificate.
					li Having at least 03 years of experience.
					li Experience working in school clinics is an advantage.
					li Steady in professional knowledge.
					li Having knowledge and skills in handling emergencies.
					li Abilities to handle situations and communicate effectively and flexibly.
					li Communicating well in English.
				p Benefits:
				ul.workingDetail__list
					li Health insurance and social insurance.
					li Breakfast and lunch at school.
					li Welfare according to company policy.
					li Experience working in school clinics is an advantage.
					li Salary: negotiable
				p -------------------------
				p Vị Trí: Bác sĩ/Y sĩ
				p Nội dung công việc:
				ul.workingDetail__list
					li Khám và điều trị bệnh cho học sinh và GVNV
					li Kê thuốc điều trị cho học sinh
					li Sơ cấp cứu cho học sinh khi bị tai nạn tại trường
					li Tư vấn bệnh cho học sinh, GVNV và phụ huynh
					li Theo dõi những bất thường về tâm lý và sức khỏe cho học sinh
					li Training kiến thức chăm sóc học sinh cho Bảo Mẫu, Giám Thị, Tài Xế và Học Vụ
					li Kiểm tra vệ sinh an toàn thực phẩm bếp ăn
					li Lên kế hoạch và thực hiện các công tác y tế dự phòng
				p Yêu cầu:
				ul.workingDetail__list
					li Tốt nghiệp bác sĩ chuyên khoa I – Nội tổng quát.
					li Có chứng chỉ hành nghề khám chữa bệnh.
					li Có ít nhất 03 năm kinh nghiệm.
					li Tư vấn bệnh cho học sinh, GVNV và phụ huynh
					li Có kinh nghiệm làm việc tại các phòng y tế trường học là một ưu thế.
					li Vững vàng trong kiến thức chuyên môn.
					li Có kiến thức, kỹ năng xử trí cấp cứu nội ngoại khoa
					li Xử lý tình huống và giao tiếp hiệu quả, linh hoạt.
					li Giao tiếp tốt bằng tiếng Anh.
				p Quyền lợi:
				ul.workingDetail__list
					li Được tham gia BHYT, BHXH đầy đủ.
					li Có chứng chỉ hành nghề khám chữa bệnh.
					li Ăn sáng và trưa tại trường.
					li Phúc lợi theo chính sách công ty.
					li Lương: thương lượng.
				p Please send your CV to 
					a.cl-main-2(href="mailto:hr@sna.edu.vn") hr@sna.edu.vn
					| , or contact Ms. Anna (0901 425 362), Ms. Mia (0918 874 974).
		.related-jobs
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="working-detail.html").item_related_job
							h3 School Doctor
							time 2020-06-15
					.swiper-slide
						a(href="working-detail.html").item_related_job
							h3 School Doctor
							time 2020-06-15
					.swiper-slide
						a(href="working-detail.html").item_related_job
							h3 School Doctor
							time 2020-06-15