.cal1
.container.calendar-home
	.link-data-calendar
		h5.title-calendar Calendar
		.images
			a(href="https://sna.edu.vn/sites/sna.edu.vn/files/Calendar/SNA_calendar.pdf")
				img.blur-up.lazyload(data-src="./assets/images/tuition-fees/pdf.jpg", alt="pdf-calendar")
	.list-event
		#monthNow 
		.data-calendar
