section.children-protect {
    .box-content {
        .title-protect {
            position: relative;
            color: map-get($mau, main-2);
            font-size: 30px;
            margin-bottom: 20px;
        }
        .desc-title {
            color: map-get($mau, main);
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}