section.activities 
    .container
            .content-top
                p In keeping with SNA’s philosophy of providing a well-rounded education, the extensive Extra-Curricular Activities programme enables students to participate in activities outside the academic arena. This gives students a terrific opportunity to try something new.
                p SNA encourages all students to push beyond their limits through the Extra-Curricular Activities (ECAs) programme, which offers many activities such as sports, music, art, technology, language, and social
                p The diversity of activities encourages students to excel by challenging themselves and growing both as individuals and as a part of a whole. This affirmative approach motivates them to see failure as something not to be avoided, but rather to be used as a learning experience.
                p Students have the opportunity to participate in Extra - Curricular Activity (ECAs) sessions that are held at the end of their school day. The programme includes a range of music, art, and sporting activities
                
                p &nbsp;
                hr
                p &nbsp;
                h2 What ECAs Are Offered at SNA?
                p Students may select from a range of activities based on the time of year, and their ages, schedules, and interests. SNA structures the ECA programme in two sessions:
                p Session 1:
                    span September to December
                p Session 2: 
                    span January to May
                p This approach enables students to experiment with different activities and discover new abilities and interests. Prior to each session, the ECAs department will inform a full list of available activities such as Golf, Badminton, Swimming, Popping Club, Aerobics, Soccer Club, Roller Skate, Basketball, Taekwondo, Aikido, Defense skill, Chess, Piano, Ukulele, Vocal Training, MC…
                h2 Sign up information
                p Students are given a registration form by head teacher and sign up is limited to a maximum of 3 ECAs
                h2 ECAs Alterations
                p Students are not allowed to make changes or drop out after 2 weeks of the ECA Session.


