section.activities-ss2
    .container
        .row.activities-cover
            .col-md-6.col-sm-6.col-12.list-item
                .img    
                    img.lazyload.blur-up(src="../assets/images/activities/activiti-img-1.jpg", alt="")
                .text
                    h3  Music
                    p.lcl.lcl-4 "Music is a language that doesn't speak in particular words it speaks in emotion" - Keith Richards Are you a thinker that loves games? Chess club is for you! While playing, club members are always developing thinking skills and strengthening mental prowess. The game helps individuals think rationally, develop patience and increase cognitive skills! Chess also helps players think before acting, which is a strong skill for any leader to develop. While developing a team spirit, by being a member of the club, player's also learn the importance and ability of an individual.
                  
            .col-md-6.col-sm-6.col-12.list-item 
                .img    
                    img.lazyload.blur-up(src="../assets/images/activities/activiti-img-3.jpg", alt="")
                .text
                    h3  Chess
                    p.lcl.lcl-4 Are you a thinker that loves games? Chess club is for you! While playing, club members are always developing thinking skills and strengthening mental prowess. The game helps individuals think rationally, develop patience and increase cognitive skills! Chess also helps players think before acting, which is a strong skill for any leader to develop. While developing a team spirit, by being a member of the club, player's also learn the importance and ability of an individual.
            .col-md-6.col-sm-6.col-12.list-item 
                .img    
                    img.lazyload.blur-up(src="../assets/images/activities/activiti-img-2.jpg", alt="")
                .text
                    h3  Dance Club
                    p “Dance is the hidden language of the soul.” - Martha Graham
                    p.lcl.lcl-4 Dance club may just seem like dancing, but there is so much more to the club and what can be learned. It improves more than your flexibility and builds more than your strength. Some of the skills picked up are teamwork, self-confidence, determination, precision, and talent. Also, it’s FUN! Dance class allows you to express yourself. It’s a great stress reliever too! In dance class, you make new friends, learn from mistakes and gain the confidence to achieve anything you want!
            .col-md-6.col-sm-6.col-12.list-item 
                .img    
                    img.lazyload.blur-up(src="../assets/images/activities/activiti-img-4.jpg", alt="")
                .text
                    h3  Soccer
                    p.lcl.lcl-4 Soccer, or football, is one of the most popular sports played, watched and celebrated around the world. Through soccer, our young leaders learn to work together as a team and always do their best. Soccer is competitive but also teaches the fundamental values of fair play. It is great exercise and promotes diversity and global citizenry. A game that dates back over 2000 years, and proven to have its merits, there is no question as to why it is one of SNA’s most popular clubs! Let’s keep the ball rolling!
            .col-md-6.col-sm-6.col-12.list-item 
                .img    
                    img.lazyload.blur-up(src="../assets/images/activities/activiti-img-5.jpg", alt="")
                .text
                    h3  Basketball Club
                    p.lcl.lcl-4 Basketball is a valuable tool, not only in school, but for the rest of each player’s life. The sport teaches a variety of skills that are not necessarily developed in the classroom. It teaches you to be a good team player and is a great social sport. Also, it is a fantastic full body workout! After a long day in the classroom, there is no better way to deal with stress! So, let’s dribble, pass and slam dunk into the new year!
    .img-bottom-right
        img.lazyload.blur-up(src="../assets/images/activities/bottom-right.svg", alt="")
    