.main-banner__slider {
    .item-banner-fullscreen {
        position: relative;
        img {
            pointer-events: none;
        }
        video {
            // position: absolute;
            overflow: hidden;
            min-width: 100%;
            object-fit: cover;
            // top: 50%;
            // left: 50%;
            min-height: 100%;
            // transform: translate(-50%, -50%);
            @media (max-width: 1024.98px) {
                width: 100%;
                height: auto;
                max-height: 400px;
                min-width: unset;
                min-height: unset;
            }
            @media (max-width: 767.98px) {
                height: 100%;
            }
        }
        &.video {
            position: relative;
            display: flex;
            align-content: center;
            // @media (max-width: 1024.98px) {
			// 	height: 45vh;
            // }
            // @media (max-width: 575.98px) {
            //     height: 25vh;
            // }
        }
        // &.img {
        //     @media (max-width: 1024px) {
        //         max-height: 45vh;
        //     }
        // }
    }
    .youtube-responsive {
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }
    .btn-read-more {
        z-index: 5;
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        text-align: right;
        transition: 0.3s all ease-in-out;
        .btn {
            position: relative;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            color: #fff;
            background-color: map-get($mau, main-2);
            line-height: 50px;
            height: 50px;
            padding: 0 25px;
            text-transform: uppercase;
            @media (min-width: 1025px) {
                &:hover {
                    background: map-get($mau, main);
                }
            }
        }
    }
    .swiper-slide {
        // @media (max-width: 1024.98px) {
        //     height: 30vh;
        // }
        // @media (max-width: 575.98px) {
        //     height: 25vh;
        // }
        >a {
            display: block;
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            cursor: pointer;
            width: 15px;
            height: 15px;
            opacity: 1;
            border-radius: 50%;
            background-color: #d3d3d3;
            transition: all 0.2s ease-in-out;
            margin: 0 6px;
            &.swiper-pagination-bullet-active {
                background-color: map-get($mau, main-2);
            }
        }
	}
	// @media (max-width: 1350.98px) {
    //     .swiper-container-autoheight, 
    //     .swiper-container-autoheight 
    //     .swiper-slide {
	// 		height: 45vh;
	// 		overflow: hidden;
    //     }
    // }
    
    // @media (max-width: 1024.98px) {
    //     .swiper-container {
    //         height: 100vh;
    //         .swiper-wrapper {
    //             height: 100vh;
    //             .swiper-slide {
    //                 height: 100vh;
    //                 video {
    //                     height: 100vh;
    //                 }
    //             }
    //         }
    //     }
    // }
    @media (max-width: 767.98px) {

        .swiper-container {
            max-height: 400px;
            height: 100%;
            .swiper-wrapper {
                max-height: 400px;
                height: 100%;
                .swiper-slide {
                    max-height: 400px;
                    height: 100%
                    video {
                        max-height: 400px;
                        height: 100%;
                    }
                }
            }
        }
        .btn-read-more {
            bottom: 15px;
            .btn {
                font-size: 10px;
                line-height: 25px;
                height: 25px;
                padding: 0 15px;
            }
        }
        .swiper-pagination {
            display: none;
        }
    }
    @media (max-width: 575.98px) {
        .swiper-container {
                max-height: 200px;
                height: 100%;
            .swiper-wrapper {
                max-height: 200px;
                height: 100%;
                .swiper-slide {
                    max-height: 200px;
                    height: 100%;
                    video {
                        max-height: 200px;
                        height: 100%;
                    }
                }
            }
        }
    }
}