.main-banner {
	position: relative;

	.block-img {
		height: 485px;
		background: #dfdfdf;
	}

	.title-page {
		z-index: 5;
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;

		h1 {
			font-size: 55px;
			color: #ffffff;
			font-family: "lora", sans-serif;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: map-get($mau, main);
		opacity: .2;
		pointer-events: none;
	}


	@media (max-width: 1024.98px) {
		.block-img {
			height: auto;
		}
	}

	@media (max-width: 767.98px) {
		.title-page {
			bottom: 15px;

			h1 {
				font-size: 24px;
			}
		}
	}

}