.booking-fixed {
	cursor: pointer;
	position: fixed;
	right: 0px;
	top: 50%;
	margin-top: -90px;
	float: none;
	z-index: 200;
}

.fancybox-slide--iframe {
	.fancybox-content {
		width: 480px;
		height: 85%;
		padding-top: 32px;
	}
}

.fancybox-iframe {
	top: 32px;
}

.custom-close-fancybox-booking {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(to bottom, #c5cdcf 50%, #e5edf0 50%);
	background-size: 100% 200%;
	background-position: bottom left;
	transition: all .5s ease-out;
	color: #757575;

	@media (min-width: 1025px) {
		&:hover {
			background-position: top left;
			color: #000000;
		}
	}
}

@media (max-width: 575.98px) {
	.fancybox-slide {
		padding: 20px;
	}
}