.discover {
	position: relative;
	padding: 100px 0;
	background-color: #f3f4f5;

	.wrap-rotate-text {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		h2 {
			transform: rotate(-90deg);
			font-size: 80px;
			color: #0A1F44;
			font-weight: 700;
			opacity: 0.2;
			white-space: nowrap;
			font-family: "lora", sans-serif;
		}
	}

	.title-discover {
		position: relative;
		font-size: 30px;
		font-weight: 700;
		font-family: "lora", sans-serif;
		color: map-get($mau, main);
		padding-left: 50px;
		transition: .3s all ease-in-out;

		&.top {
			margin-bottom: 20px;
		}

		&.bottom {
			margin-top: 20px;
		}

		&:after {
			content: '';
			width: 35px;
			height: 35px;
			background: map-get($mau, main);
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			transition: .5s all ease-in-out;
		}

		&:before {
			content: '\e87a';
			font-family: 'Linearicons-Free';
			color: #ffffff;
			font-size: 18px;
			position: absolute;
			top: 50%;
			left: 7px;
			transform: translateY(-50%);
			transition: .5s all ease-in-out;
			z-index: 1;
		}
	}

	.img {
		height: 295px;
		background: #dfdfdf;

		img {
			transition: .3s all ease-in-out;
			transform: scale(1);
		}
	}

	.item {
		@media (min-width: 1200px) {
			&:hover {
				.img {
					img {
						transform: scale(1.1);
					}
				}

				.title-discover {
					color: map-get($mau, main-2);

					&:after {
						background: map-get($mau, main-2);
					}
				}
			}
		}
	}

	@media (min-width: 1200px) {
		.row {
			// margin-right: -100px;
			// margin-left: -100px;
		}

		.col-sm-6 {
			padding-right: 100px;
			padding-left: 100px;
		}
	}

	@media (max-width: 1199.98px) {
		padding: 50px 0;

		.row {
			// margin-right: -50px;
			// margin-left: -50px;
		}

		.col-sm-6 {
			padding-right: 50px;
			padding-left: 50px;
		}

		.wrap-rotate-text {
			h2 {
				font-size: 42px;
			}
		}

		.img {
			height: 190px;
		}
	}

	@media (max-width: 767.98px) {
		.title-discover {
			font-size: 18px;
			padding-left: 35px;

			&:after {
				width: 25px;
				height: 25px;
			}

			&:before {
				font-size: 12px;
				left: 6px;
			}
		}
	}

	@media (max-width: 575.98px) {
		padding: 25px 0;

		.row {
				// margin-right: -10px;
				// margin-left: -10px;
		}

		.col-sm-6 {
			padding-right: 10px;
			padding-left: 10px;
		}

		.img {
			height: 200px;
		}

		.wrap-rotate-text {
			position: static;
			transform: unset;
			margin-bottom: 30px;

			h2 {
				transform: unset;
				font-size: 32px;
			}
		}

		.col-sm-6+.col-sm-6 {
			margin-top: 10px;
		}
	}
}