header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
}

.row.no-gutters.ai-c {
	padding-left: 120px;
}

.block-logo {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);

	.logo {
		img {
			max-width: 100px;
		}
	}
}

// TOP HEADER

.top-header {
	display: flex;
	align-items: center;
	padding-left: 120px;
	border-bottom: 1px solid map-get($mau, main);

	.icon {
		cursor: pointer;
		position: relative;
		width: 20px;
		height: 20px;

		svg,
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		svg {
			path {
				transition: .3s all ease-in-out;
			}
		}

		@media (min-width: 1025px) {
			&:hover {
				svg {
					path {
						fill: map-get($mau, main-2);
					}
				}
			}
		}
	}

	.text {
		color: map-get($mau, main);
		transition: .3s all ease-in-out;
	}

	ul {
		list-style-type: none;
		padding-left: 0;

		li {
			@media (min-width: 1025px) {
				&:hover {
					svg {
						path {
							fill: map-get($mau, main-2);
						}
					}

					.text {
						color: map-get($mau, main-2);
					}
				}
			}
		}
	}
}

.t_header--list-contact {
	line-height: 50px;

	ul {
		display: flex;

		li+li {
			margin-left: 15px;
		}

		li {
			color: map-get($mau, main);

			>a {
				display: flex;
				align-items: center;

				.text {
					margin-left: 5px;
				}
			}
		}
	}
}

.t_header--list-social {
	position: relative;
	padding-left: 15px;
	margin-left: 15px;
	height: 50px;

	ul {
		display: flex;
		height: 100%;
		align-items: center;

		li+li {
			margin-left: 10px;
		}
	}

	&:after {
		content: '';
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		position: absolute;
		height: 50%;
		width: 1px;
		background: map-get($mau, main);
	}
}

.t_header--list-link {
	margin-left: auto;
	line-height: 50px;

	>ul {
		display: flex;

		li {
			position: relative;

			&.hasSub {
				padding-right: 20px;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					border-top: 5px solid map-get($mau, main);
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
					transition: .3s all ease-in-out;
				}
			}

			@media (min-width: 1025px) {
				&:hover {
					>a {
						color: map-get($mau, main-2);
					}

					&.hasSub {
						&:after {
							border-top: 5px solid map-get($mau, main-2);
						}
					}
				}
			}
		}

		>li+li {
			margin-left: 15px;
		}

		>li {
			>ul {
				position: absolute;
				transition: all 0.3s ease-in-out;
				opacity: 0;
				visibility: hidden;
				box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
				background-color: #fff;
				left: 0;
				width: 220px;
				padding: 10px 0;
				z-index: 10;

				>li {
					>a {
						display: block;
						line-height: normal;
						padding: 10px 20px;
					}
				}
			}

			@media (min-width: 1025px) {
				&:hover {
					>ul {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	a {
		color: map-get($mau, main);
		transition: .3s all ease-in-out;
	}
}

.t_header--search {
	margin-left: 15px;
}

.t_header--login {
	margin: 0 20px;
}

.t_header--language {
	ul {
		display: flex;

		li {
			&.active {
				a {
					color: map-get($mau, main-2);
				}
			}

			a {
				color: map-get($mau, main);
			}

			&:first-child {
				&:after {
					content: '/';
					padding: 0 5px;
				}
			}
		}
	}
}

// BOTTOM HEADER

.bottom-header {
	display: flex;
	align-items: center;
	padding-left: 120px;
}

.b_header--list-menu {
	position: relative;
	width: 100%;
	height: 80px;

	ul {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-left: 0;
		list-style-type: none;

		>li {
			>a {
				position: relative;
				font-size: 15px;
				color: map-get($mau, main);
				text-transform: uppercase;
				padding-bottom: 5px;

				&:after {
					content: '';
					position: absolute;
					width: 0;
					height: 1px;
					bottom: 0;
					left: 0;
					background: map-get($mau, main);
					transition: .3s all ease-in-out;
				}
			}

			&:hover {
				>a {
					color: map-get($mau, main-2);

					&:after {
						width: 100%;
					}
				}
			}
		}
	}
}