header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background: #ffffff;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
}

.row.no-gutters.ai-c {
	@media (min-width: 1200px) {
		padding-left: 120px;
	}
}

// LOGO
.block-logo {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);

	.logo {
		img {
			max-width: 100px;
		}
	}
}

// BUTTON MOBILE
.toggle-menu-moblie {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);

	&.active {
		.menu-btn {
			&::before {
				transform: translateY(12px) rotate(-45deg);
			}

			span {
				background: none !important;
			}

			&::after {
				transform: translateY(-12px) rotate(45deg);
			}
		}
	}
}

.menu-btn {
	display: block;
	width: 42px;
	height: 42px;
	position: relative;
	text-align: center;
	overflow: hidden;
	line-height: 42px;
	font-size: 32px;
	cursor: pointer;
	color: #5F4B5B;

	span {
		position: absolute;
		height: 2px;
		background-color: #5F4B5B;
		left: 5px;
		right: 5px;
		top: calc(50% - 1px);
		transition: all 0.2s ease-in-out;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 2px;
		background-color: #5F4B5B;
		left: 5px;
		right: 5px;
		transition: all 0.2s ease-in-out;
	}

	&::before {
		top: 8px;
	}

	&::after {
		top: calc(100% - 10px);
	}
}

// TOP HEADER
.top-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 120px;
	border-bottom: 1px solid map-get($mau, main);

	.icon {
		cursor: pointer;
		position: relative;
		width: 20px;
		height: 20px;

		svg,
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		svg {
			path {
				transition: .3s all ease-in-out;
			}
		}

		@media (min-width: 1200px) {
			&:hover {
				svg {
					path {
						fill: map-get($mau, main-2);
					}
				}
			}
		}
	}

	.text {
		color: map-get($mau, main);
		transition: .3s all ease-in-out;
	}

	ul {
		list-style-type: none;
		padding-left: 0;

		li {
			@media (min-width: 1200px) {
				&:hover {
					svg {
						path {
							fill: map-get($mau, main-2);
						}
					}

					.text {
						color: map-get($mau, main-2);
					}
				}
			}
		}
	}
}

.t_header--list-contact {
	line-height: 50px;

	ul {
		display: flex;

		li+li {
			margin-left: 15px;
		}

		li {
			color: map-get($mau, main);

			>a {
				display: flex;
				align-items: center;

				.text {
					margin-left: 5px;
				}
			}
		}
	}
}

.t_header--list-social {
	position: relative;
	padding-left: 15px;
	margin-left: 15px;
	height: 50px;

	ul {
		display: flex;
		height: 100%;
		align-items: center;

		li+li {
			margin-left: 10px;
		}
	}

	&:after {
		content: '';
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		position: absolute;
		height: 50%;
		width: 1px;
		background: map-get($mau, main);
	}
}

.t_header--list-link {
	margin-left: auto;
	line-height: 50px;

	>ul {
		display: flex;

		li+li {
			border-top: 1px solid #dedede;
		}

		li {
			position: relative;

			&.hasSub {
				padding-right: 20px;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					border-top: 5px solid map-get($mau, main);
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
					transition: .3s all ease-in-out;
				}
			}

			@media (min-width: 1200px) {
				&:hover {
					>a {
						color: map-get($mau, main-2);
					}

					&.hasSub {
						&:after {
							border-top: 5px solid map-get($mau, main-2);
						}
					}
				}
			}
		}

		>li+li {
			margin-left: 15px;
		}

		>li {
			>ul {
				position: absolute;
				transition: all 0.3s ease-in-out;
				opacity: 0;
				visibility: hidden;
				background-color: #fff;
				left: 0;
				width: 220px;
				z-index: 10;

				>li {
					>a {
						display: block;
						line-height: normal;
						padding: 10px 20px;
					}
				}
			}

			@media (min-width: 1200px) {
				&:hover {
					>ul {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	a {
		color: map-get($mau, main);
		transition: .3s all ease-in-out;
	}
}

.t_header--search {
	margin-left: 15px;
}

.t_header--login {
	margin: 0 20px;
}

.t_header--language {
	ul {
		display: flex;

		li {
			&.active {
				a {
					color: map-get($mau, main-2);
				}
			}

			a {
				color: map-get($mau, main);
			}

			&:first-child {
				&:after {
					content: '/';
					padding: 0 5px;
				}
			}
		}
	}
}

// BOTTOM HEADER
.bottom-header {
	display: flex;
	align-items: center;
	padding-left: 120px;
}

.b_header--list-menu {
	position: relative;
	width: 100%;
	height: 80px;

	.activeMenu {
		border-bottom: 2px solid map-get($mau, main);
	}

	ul {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-left: 0;
		list-style-type: none;

		>li {
			position: relative;

			&.active {
				>li {
					&.active {
						>a {
							color: map-get($mau, main-2);
						}
					}
				}

				>a {
					color: map-get($mau, main-2);
				}
			}

			>a {
				position: relative;
				font-size: 15px;
				color: map-get($mau, main);
				text-transform: uppercase;
				padding-bottom: 5px;

				&:after {
					content: '';
					position: absolute;
					width: 0;
					height: 1px;
					bottom: 0;
					left: 0;
					background: map-get($mau, main);
					transition: .3s all ease-in-out;
				}
			}

			// SUBMENU
			>ul {
				top: 52px;
				transform: none;
				left: 0;
				width: 290px;
				flex-direction: column;
				background: #ffffff;
				opacity: 0;
				visibility: hidden;
				transition: .3s all ease-in-out;

				>li+li {
					border-top: 1px solid #dedede;
				}

				>li {
					padding: 10px 5px 10px 20px;

					&.hasSub {
						padding-right: 20px;

						&:after {
							content: '';
							position: absolute;
							top: 50%;
							right: 10px;
							transform: translateY(-50%) rotate(-90deg);
							border-top: 5px solid map-get($mau, main);
							border-right: 5px solid transparent;
							border-left: 5px solid transparent;
							transition: .3s all ease-in-out;
						}
					}

					>ul {
						left: 100%;
						top: 0;
					}

					>a {
						display: block;
						text-transform: unset;
						width: 100%;
						line-height: 30px;

						&::after {
							content: none;
						}
					}
				}
			}

			@media (min-width: 1200px) {
				&:hover {
					>ul {
						opacity: 1;
						visibility: visible;
					}

					>a {
						color: map-get($mau, main-2);

						&:after {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1199.98px) {
	header {
		height: 70px;

		.container {
			height: 100%;
		}
	}

	// LOGO
	.block-logo {
		left: 50%;
		transform: translate(-50%, -50%);

		.logo {
			img {
				max-width: 70px;
			}
		}
	}

	// TOP HEADER
	.top-header {
		position: fixed;
		height: 12vh;
		max-width: 400px;
		width: 100%;
		bottom: 0;
		left: -100%;
		background: #ffffff;
		padding: 10px 15px !important;
		border-top: 1px solid #f1f1f1;
		transition: .5s all ease-in-out;

		&.active {
			left: 0;
		}
	}

	.t_header--list-contact {
		line-height: unset;
		margin-left: auto;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;

		ul {
			justify-content: flex-end;

			li {
				&:last-child {
					display: none;
				}
			}
		}
	}

	.t_header--list-link {
		display: none;
	}

	.t_header--login {
		display: none;
	}

	.t_header--list-social {
		height: auto;
		margin-left: 0;
		padding-left: 0;

		&:after {
			content: none;
		}
	}

	.t_header--language {
		margin-left: auto
	}

	.t_header--search {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		align-self: center;
		order: -1;
		margin-left: 0;
	}

	// BOTTOM HEADER
	.bottom-header {
		position: fixed;
		top: 70px;
		left: -100%;
		max-width: 400px;
		width: 100%;
		height: calc(88vh - 70px);
		align-items: unset;
		background: #ffffff;
		transition: .5s all ease-in-out;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		z-index: 1000;

		&.active {
			left: 0;
		}
	}

	.b_header--list-menu {
		height: 100%;

		.btn-back {
			text-align: right;
			padding-right: 20px;
			color: map-get($mau, main-2);
			user-select: none;
			cursor: pointer;
		}

		ul {
			display: block;
			flex-direction: column;
			position: unset;
			top: unset;
			left: unset;
			transform: unset;
			height: 100%;

			>li+li {
				border-top: 1px solid #dedede;
			}

			>li {
				line-height: 50px;

				&:last-child {
					border-bottom: 1px solid #dedede;
				}

				&.hasSub {
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						right: 10px;
						transform: translateY(-50%) rotate(-90deg);
						border-top: 5px solid #0a1f44;
						border-right: 5px solid transparent;
						border-left: 5px solid transparent;
						transition: .3s all ease-in-out;
					}
				}

				>a {
					display: block;
					padding-left: 20px;
					padding-right: 5px;
					padding-bottom: 0;
				}

				>ul {
					position: fixed;
					top: 70px;
					height: calc(80vh - 70px);
					left: -100%;
					width: 100%;
					max-width: 400px;
					z-index: 10;
					visibility: visible;
					opacity: 1;
					transition: .5s all ease-in-out;

					>li {
						>ul {
							left: -100%;
							top: 70px;
						}
					}

					&.active {
						left: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 767.98px) {
	.toggle-menu-moblie {
		&.active {
			.menu-btn {
				&::before {
					transform: translateY(8.5px) rotate(-45deg);
				}

				&::after {
					transform: translateY(-8.5px) rotate(45deg);
				}
			}
		}
	}

	.menu-btn {
		width: 35px;
		height: 35px;
	}

	.b_header--list-menu {
		ul {
			>li {
				>ul {
					>li {
						&:first-child {
							padding: 0;
						}
					}
				}

				>a {
					font-size: 13px;
				}
			}
		}
	}
}