.pdf__slider {
	padding: 100px 0;

	.block__pdf-slider {
		position: relative;
		padding: 50px;
		background: #f3f4f5;
	}

	.max-950px {
		max-width: 950px;
	}

	.link-download {
		user-select: none;
		margin-bottom: 30px;
		background-color: #f3f4f5;
		padding: 15px;
		text-align: center;
		border-top: 2px solid #ffffff;

		a {
			display: block;
			font-size: 20px;
			color: map-get($mau, main);
			font-family: "lora", sans-serif;
			font-weight: 700;
			transition: .3s all ease-in-out;
			text-decoration: underline;
			transition: .3s all ease-in-out;

			@media (min-width: 1025px) {
				&:hover {
					color: map-get($mau, main-2);
				}
			}
		}
	}

	.swiper-container {
		max-width: 750px;
		margin: 0 auto;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: map-get($mau, main);
		transition: .3s all ease-in-out;

		&:after {
			font-size: 32px;
			font-weight: 700;
		}

		@media (min-width: 1025px) {
			&:hover {
				color: map-get($mau, main-2);
			}
		}
	}

	.swiper-button-prev {
		left: 50px;
	}

	.swiper-button-next {
		right: 50px;
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;
	}

	@media (max-width: 575.98px) {
		.block__pdf-slider {
			padding: 0;
		}

		.link-download {
			padding: 10px;
			margin-bottom: 10px;

			a {
				font-size: 16px;
			}
		}
	}
}