.activities {
	padding: 100px 0px;
	@media (max-width: 1024.98px) {
		padding: 50px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 25px 0px;
		p{
			font-size: 14px;
		}
	}

    .container {
        padding: 0px 15px;

        .content-top {
            max-width: 950px;
        }
    }

    p {
        text-align: justify;
        margin: 0 0 20px;
        font-style: 16px;
    }

    hr {
        margin: 20px 0;
        display: block;
    }

    h2 {
        font-weight: 700;
        font-family: "lora", sans-serif;
        margin-bottom: 20px;
        font-size: 30px;
        color: map-get($mau, main);
    }
}