.activities-ss2 {
	position: relative;

	.container {
		.activities-cover {
			.list-item {
				margin-bottom: 30px;
				padding: 0px 15px;

				.img {
					// position: relative;
					margin-bottom: 15px;
					width: 100%;
					height: 351.75px;
					overflow: hidden;

					// &::after {
					//     content: '';
					//     position: absolute;
					//     top: 0;
					//     left: 0;
					//     width: 100%;
					//     height: 100%;
					//     background: black;
					//     opacity: .3;
					//     transition: .0s all;
					//     display: none;

					// }

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						// display: block;
						// transition: .3s all;
						// transform: scale(none);
					}

					// &:hover {
					//     img {
					//         transform: scale(1.1);
					//     }

					//     &::after {
					//         display: block;
					//         transition: .3s all;
					//     }
					// }
				}

				.text {
					h3 {
						color: #AD132A;
						font-size: 30px;
						font-weight: 700;
						font-family: "lora", sans-serif;
						margin-bottom: 20px;
					}

					p {
						color: #000;
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size: 16px;
						line-height: 1.42857143;
						text-align: justify;
						margin: 0 0 20px;
					}
				}

				@media (max-width: 1024.98px) {
					padding: 0 15px;
				}

				@media (max-width: 767.98px) {
					padding: 0 10px;
				}
			}
		}
	}

	.img-bottom-right {
		position: absolute;
		bottom: 30px;
		right: 0;

		// img {
		//     position: absolute;
		//     right: 0;
		//     bottom: 0;
		// }
		@media (max-width: 1439.98px) {
			img {
				float: right;
				margin-left: auto;
				width: 85%;
			}
		}

		@media (max-width: 1024.98px) {
			img {
				float: right;
				margin-left: auto;
				width: 60%;
			}
		}

		@media (max-width: 767.98px) {
			display: none;
		}
	}
}