section.related {
    .related-news {
        padding-top: 100px;
        h2 {
            margin-bottom: 20px;
        }
        .related-item {
            max-width: 500px;
            padding-right: 15px;
            .related-img {
                height: 214px;
                img {
                    width: 100%;
                    transition: all .5s;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .related-content {
            .related-title {
                font-weight: bold;
                display: block;
                position: relative;
                text-transform: uppercase;
                color: #AD132A;
                margin: 10px 0;
                font-size: 18px;
            }
            .related-text {
                font-size: 15px;
            }
            span.icon-more {
                display: flex;
                position: relative;
                color: #0A1F44;
                padding-top: 10px;
                float: right;
                font-size: 13px;
                height: 100%;
                &::after {
                    z-index: 1;
                    position: absolute;
                    top: 72%;
                    left: -34%;
                    transform: translateY(-50%);
                    color: #fff;
                    font-family: Linearicons-Free;
                    font-size: 12px;
                    content: '\e87a';
                    transition: .5s all ease-in-out;
                }
                &::before {
                    position: absolute;
                    top: 70%;
                    left: -40%;
                    width: 20px;
                    height: 20px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: #0a1f44;
                    content: '';
                    transition: .5s all ease-in-out;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .related-news {
        .col-lg-4 {
            margin-top: 3rem !important;
        }
        .related-item {
            .related-img {
                height: 500px !important;
            }
        }
    }
}