section.related {
    .related-news {
        .block-title--main {
            &::after {
                display: block;
                margin-top: -80px;
                font-size: 7rem;
                line-height: normal;
                content: attr(data-title);
                opacity: .05;
            }
        }
        padding-top: 100px;
        h2 {
            position: relative;
            margin-bottom: 20px;
            color: #0a1f44;
            font-family: lora, sans-serif;
            font-size: 45px;
            span {
                position: absolute;
                font-size: 18px;
                color: map-get($mau, main);
                font-weight: normal;
                top: 0;
                right: 0;
                &::after {
                    z-index: 1;
                    position: absolute;
                    top: 50%;
                    left: -36%;
                    transform: translateY(-50%);
                    color: #fff;
                    font-family: Linearicons-Free;
                    font-size: 18px;
                    content: '\e87a';
                    transition: .5s all ease-in-out;
                }
                &::before {
                    position: absolute;
                    top: 50%;
                    left: -45%;
                    width: 35px;
                    height: 35px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: #0a1f44;
                    content: '';
                    transition: .5s all ease-in-out;
                }
            }
        }
        .related-item {
            max-width: 500px;
            padding-right: 15px;
            &:hover {
                .related-img {
                    img {
                        transition: all .3s ease-in-out;
                        transform: scale(1.2);
                    }
                }
                .related-content {
                    .related-title {
                        color: map-get($mau, main);
                    }
                }
            }
            .related-img {
                height: 214px;
                img {
                    width: 100%;
                    transition: all .5s;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .related-content {
            .related-title {
                font-weight: bold;
                display: block;
                position: relative;
                text-transform: uppercase;
                color: map-get($mau, main-2);
                margin: 10px 0;
                font-size: 18px;
            }
            .related-text {
                >p {
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                }
                font-size: 18px;
            }
            span.icon-more {
                display: flex;
                position: relative;
                color: #0A1F44;
                padding-top: 10px;
                float: right;
                font-size: 13px;
                &:hover {
                    transition: all .5s ease-in-out;
                    color: map-get($mau, main-2);
                    &::before {
                        background: map-get($mau, main-2);
                    }
                }
                &::after {
                    z-index: 1;
                    position: absolute;
                    top: 72%;
                    left: -34%;
                    transform: translateY(-50%);
                    color: #fff;
                    font-family: Linearicons-Free;
                    font-size: 12px;
                    content: '\e87a';
                    transition: .5s all ease-in-out;
                }
                &::before {
                    position: absolute;
                    top: 70%;
                    left: -40%;
                    width: 20px;
                    height: 20px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: #0a1f44;
                    content: '';
                    transition: .5s all ease-in-out;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .related-news {
        .col-lg-4 {
            margin-top: 3rem !important;
        }
        .related-item {
            .related-img {
                height: 500px !important;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .related-news {
        .block-title--main {
            &::after {
                font-size: 3rem !important;
                display: none !important;
            }
        }
        h2 {
            font-size: 32px !important;
            span {
                font-size: 15px !important;
                top: 80% !important;
                &::after {
                    font-size: 14px !important;
                }
                &::before {
                    width: 25px !important;
                    height: 25px !important;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .related-news {
        .related-item {
            .related-img {
                height: 154px !important;
            }
        }
        .related-content {
            .related-title {
                font-size: 18px;
            }
        }
    }
}