.book-a-visit {
    background: url(../assets/bg-book-a-visit.jpg);
    background-size: cover;
    background-position: center;
    .content-book-visit {
        display: block;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        .col-7,
        .col-5 {
            margin: 0;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
        width: 800px;
        height: 460px;
        .col-BAV-form {
            background: white;
            .box-BAV-form {
                padding: 50px;
                .form-BAV-group {
                    width: 100%;
                    display: flex;
                    .left {
                        position: relative;
                        width: 50%;
                        padding-right: 20px;
                    }
                    .right {
                        position: relative;
                        width: 50%;
                        padding-left: 20px;
                    }
                }
            }
            input {
                width: 100%;
                height: 35px;
                border-bottom: 1px solid map-get($mau, main);
                border: none;
                margin-bottom: 20px;
            }
            select {
                height: 35px;
                border-bottom: 1px solid map-get($mau, main);
                border: none;
                margin-bottom: 15px;
                position: relative;
                outline: none;
                width: 100%;
            }
            textarea {
                border-bottom: 1px solid map-get($mau, main);
                border: none;
                margin-bottom: 20px;
            }
            input[type="button"] {
                height: 50px;
                background: map-get($mau, main-2);
                border: none;
                color: white;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                &:hover {
                    background: map-get($mau, main);
                    transition: all .5s ease-in-out;
                }
            }
        }
        .col-BAV-contact {
            position: relative;
            img.logo-squad {
                position: absolute;
                bottom: 0;
                right: 0;
            }
            width: 100%;
            height: 460px;
            &::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: map-get($mau, main);
                opacity: .8;
                z-index: -1;
            }
            .box-BAV-contact {
                padding: 50px;
                color: white;
                h4 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                .text-contact {
                    .item-BAV {
                        display: flex;
                        padding: 5px 0;
                        margin-bottom: 20px;
                        .icon {
                            width: 30px;
                            margin-right: 10px;
                        }
                    }
                }
                .social-contact {
                    display: flex;
                    .item-social {
                        padding-right: 10px;
                        svg {
                            &:hover {
                                path {
                                    fill: map-get($mau, main-2);
                                }
                            }
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    section.book-a-visit {
        .content-book-visit {
            top: 35% !important;
            .col-7,
            .col-5 {
                max-width: 100% !important;
                flex: 0 0 100% !important;
            }
        }
    }
}

@media (max-width: 575.98px) {
    section.book-a-visit {
        .content-book-visit {
            top: 35% !important;
            width: 100% !important;
            height: 428px !important;
            .col-7,
            .col-5 {
                max-width: 100% !important;
                flex: 0 0 100% !important;
            }
            .col-BAV-form {
                .col-BAV-form {
                    padding: 25px !important;
                }
            }
            .col-BAV-contact {
                height: 240px !important;
                .box-BAV-contact {
                    padding: 20px 50px !important;
                }
            }
        }
    }
}