extends _templates/_layout/_layout.pug

block var
	- let title = 'Annual Calendar | SNA';
	- let bodyClass = 'annual-calendar-page';
	- let linkBanner = './assets/images/banner/annual-calendar.jpg';
	- let titleBanner = 'Annual Calendar';

block banner,breadcrumb
	include _templates/_layout/_banner
block main
	include _templates/annual-calendar/a-1
block discover
	include _templates/_layout/_discover
block scripts
	script(src="./js/Toan.min.js")
