extends _templates/_layout/_layout

block var
	- let title = 'Child Protection and Safeguarding | SNA';
	- let bodyClass = 'children-protection-and-safeguarding-page';
	- let linkBanner = '/assets/images/banner/children-protect.jpg';
	- let titleBanner = 'Child Protection and Safeguarding';

block banner,breadcrumb
	include _templates/_layout/_banner
block main
	include _templates/children-protection-and-safeguarding/c-1
block discover
	include _templates/_layout/_discover