extends _templates/_layout/_layout.pug

block var
	- let title = 'Counseling Sevice | SNA';
	- let bodyClass = 'sna-counseling-page';
	- let linkBanner = './assets/images/banner/sevice.png';
	- let titleBanner = 'Counseling Sevice';
block banner,breadcrumb
	include _templates/_layout/_banner
block main
	include _templates/counseling/c-1
block discover
	include _templates/_layout/_discover
block scripts
