extends _templates/_layout/_layout.pug

block var
	- let title = 'Faculty | SNA';
	- let bodyClass = 'faculty-page';
	- let linkBanner = '/assets/images/banner/faculty.jpg';
	- let titleBanner = 'Faculty';

block banner,breadcrumb
	include _templates/_layout/_banner
block discover
	include _templates/_layout/_discover
block main
block scripts
