extends _templates/_layout/_layout.pug

block var
	- let title = 'Manage Bac | SNA';
	- let bodyClass = 'manage-bac-page';
	- let linkBanner = './assets/images/banner/manage-bac.jpg';
	- let titleBanner = 'Manage Bac';

block loading
block banner,breadcrumb
	include _templates/_layout/_banner
block main
	include _templates/manage-bac/m-1
block discover
	include _templates/_layout/_discover
block scripts
	script(src="./js/YoutubeController.min.js")