extends _templates/_layout/_layout.pug

block var
	- let title = 'SNA Staffs | SNA';
	- let bodyClass = 'sna-staffs-page';
	- let linkBanner = './assets/images/banner/staffs.jpg';
	- let titleBanner = 'SNA Staffs';
block banner,breadcrumb
	include _templates/_layout/_banner
block main	
	include _templates/story-staffs/s-1
	include _templates/_layout/_quote-slider
	include _templates/story-staffs/s-2
block discover
	include _templates/_layout/_discover
block scripts
