extends _templates/_layout/_layout.pug

block var
	- let title = 'Tuition Fees | SNA';
	- let bodyClass = 'Tuition-fees-page';
	- let linkBanner = './assets/images/banner/tuition-fees.jpg';
	- let titleBanner = 'Tuition Fees';
block banner,breadcrumb
	include _templates/_layout/_banner
block main	
	include _templates/tuition-fees/f-1
block discover
	include _templates/_layout/_discover
block scripts