[hidden],
.d-n,
.hidden {
	display: none !important;
}

.dekstop {
	@media (max-width: 1024px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 1200px) {
		display: none !important;
	}
}

.full-screen {
	overflow: hidden;
	height: calc(100vh - 70px);

	@media (min-width: 1200px) {
		height: calc(100vh - 132px);
	}
}

.max-750px {
	max-width: 750px;
	margin: 0 auto;
}

.max-850px {
	max-width: 850px;
	margin: 0 auto;
}

.mb-25px {
	margin-bottom: 25px;
}

.cl-main {
	color: map-get($mau, main);
}

.cl-main-2 {
	color: map-get($mau, main-2);
}

.pb-0 {
	padding-bottom: 0 !important;
}

.d-b {
	display: block;
}

.d-ib {
	display: inline-block;
}

.d-f {
	display: flex;
}

.d-if {
	display: inline-flex;
}

.fw-w {
	flex-wrap: wrap;
}

.ai-c {
	align-items: center;
}

.ai-fe {
	align-items: flex-end;
}

.as-c {
	align-self: center;
}

.as-fe {
	align-self: flex-end;
}

.jc-c {
	justify-content: center;
}

.jc-fe {
	justify-content: flex-end;
}

.jc-sb {
	justify-content: space-between;
}

.fcc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ta-justify {
	text-align: justify;
}

// List, ul, ol, dl
.lst-n {
	list-style-type: none;
}

// Margin
.ml-at {
	margin-left: auto;
}

.mr-at {
	margin-right: auto;
}

.mx-at {
	margin-right: auto;
	margin-left: auto;
}

.ov-h {
	overflow: hidden;
}

.fs-i {
	font-style: italic;
}

.tt-u {
	text-transform: uppercase;
}

.tt-c {
	text-transform: capitalize;
}

.ta-c {
	text-align: center;
}

.td-u {
	text-decoration: underline;
}

.cl-main-2 {
	color: map-get($mau, main-2);
}