::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius: 2.5px;
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: map-get($mau, main);
}

body {

	// overflow-x: hidden;
	&.disabled {
		overflow: hidden;
	}
}

#overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	transition: .3s all ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}
}

.ps>.ps__scrollbar-y-rail {
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 20px;
}

input,
select,
textarea {
	&.input-validation-error {
		color: red !important;
		border: 1px solid red !important;
		transition: .3s all ease-in-out;

		&::placeholder {
			color: red !important;
		}
	}
}

.list--check {
	list-style-type: none;
	padding-left: 0;

	li+li {
		margin-top: 35px;
	}

	li {
		position: relative;
		padding-left: 50px;

		&:after {
			content: '';
			width: 35px;
			height: 35px;
			background: map-get($mau, main-2);
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 7px;
			width: 20px;
			height: 20px;
			background-image: url(../assets/icons/checked.svg);
			background-size: cover;
			transform: translateY(-50%);
			z-index: 1;
		}
	}

	@media (max-width: 575.98px) {
		li+li {
			margin-top: 20px;
		}

		li {
			font-size: 14px;
			padding-left: 35px;

			&:after {
				content: '';
				width: 25px;
				height: 25px;
			}

			&:before {
				width: 12px;
				height: 12px;
			}
		}
	}
}

.field-validation-error {
	display: inline-block;
	margin: .5rem 0;
	font-size: 12px;
	color: red;
}

.tab-container {
	.list-tab {
		.item {
			cursor: pointer;

			&.active {
				color: map-get($mau, main);
			}
		}
	}

	.tab-content {
		.content {
			display: none;
			opacity: 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}
}

.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}

	&-8 {
		-webkit-line-clamp: 8;
	}
}

.block-title--main {
	position: relative;

	&.text-left {
		h2 {
			text-align: left;
		}

		&:after {
			text-align: left;
		}
	}

	&.after-absolute {
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			margin-top: 0;
		}
	}

	h2 {
		color: #0A1F44;
		font-size: 45px;
		text-align: center;
		font-family: "lora", sans-serif;
		line-height: 60px;
	}

	&[data-title] {
		&:after {
			content: attr(data-title);
			display: block;
			margin-top: -60px;
			font-size: 7rem;
			opacity: 0.05;
			text-align: center;
			line-height: normal;
		}
	}

	@media (max-width: 1024.98px) {
		h2 {
			font-size: 32px;
		}

		&[data-title] {
			&:after {
				font-size: 5rem;
			}
		}
	}

	@media (max-width: 575.98px) {
		h2 {
			-webkit-line-clamp: unset;
		}

		&[data-title] {
			&:after {
				content: none
			}
		}
	}
}

.block-main-table {
	table {
		width: 100%;

		thead {
			tr {
				background: map-get($mau, main);
			}

			th {
				text-align: center;
				padding: 10px;
				color: #ffffff;
				border: 1px solid #ffffff;
			}
		}

		tbody {
			tr {
				background-color: #f3f4f5;
			}

			td {
				padding: 10px;
				vertical-align: middle;
				border: 1px solid #fff;
			}
		}
	}
}

.block-content--style_1 {
	display: block;

	.img {
		height: 235px;
		background: #dfdfdf;

		img {
			opacity: 0.8;
			transition: opacity 0.35s, transform 0.35s;
			transform: scale(1.15);
		}
	}

	.content {
		padding: 20px;
		transition: .35s all linear;
		background: map-get($mau, main-2);
	}

	.title {
		font-size: 22px;
		margin-bottom: 10px;
	}

	.desc,
	.title {
		color: #ffffff;
	}

	@media (min-width: 1025px) {
		&:hover {
			.img {
				img {
					opacity: 1;
					transform: scale(1);
				}
			}

			.content {
				background: map-get($mau, main);
			}
		}
	}
}

.block-content--style_2 {
	display: block;
	text-align: center;
	padding: 20px 10px;
	border-radius: 5px;
	transition: .3s all ease-in-out;

	.icon {
		margin: 0 auto;
		height: 110px;
		width: 110px;

		svg,
		img {
			width: 100%;
			height: 100%;
			transition: .3s all ease-in-out;
		}
	}

	.text {
		margin-top: 20px;
	}

	@media (min-width: 1025px) {
		&:hover {
			box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .3);

			.icon {

				svg,
				img {
					transform: scale(1.1);
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.text {
			max-width: 90%;
			margin: 20px auto 0;
		}
	}
}

.block-content--style_3 {
	.img {
		height: 500px;
		background: #ffffff;

		img {
			transition: .3s all ease-in-out;
			transform: scale(1);
		}
	}

	.text {
		font-size: 22px;
		text-transform: uppercase;
		color: #ffffff;
		text-align: center;
		line-height: 100px;
		background: linear-gradient(to right, map-get($mau, main-2) 50%, map-get($mau, main) 50%);
		background-size: 200% 100%;
		background-position: right bottom;
		transition: all .5s ease-in-out;
	}

	@media (min-width: 1025px) {
		&:hover {
			.img {
				img {
					transform: scale(1.1);
				}
			}

			.text {
				background-position: left bottom;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.img {
			height: 350px;
		}

		.text {
			font-size: 16px;
			line-height: 75px;
		}
	}
}

.block-content--style_4 {
	position: relative;

	&.bg-50-gray {
		&:after {
			content: "";
			top: 70px;
			bottom: 0;
			right: 0;
			left: 20%;
			background-color: #f3f4f5;
			position: absolute;
			z-index: -2;
		}
	}

	.img {
		height: auto;

		&.height-810px {
			height: 810px;
		}

		&.height-550px {
			height: 550px;
		}

		background: #dfdfdf;
	}

	.block-text {
		position: relative;

		&.height-810px {
			min-height: calc(810px + 70px);
		}

		&.height-550px {
			min-height: calc(500px + 70px);
		}

		&:after {
			position: absolute;
			top: 70px;
			bottom: 0;
			right: 0;
			width: 100%;
			background-color: #f3f4f5;
			content: "";
			z-index: -1;
		}
	}

	.content {
		background: #f3f4f5;
		margin-top: 70px;
		padding: 50px 30px;
	}

	.desc {
		p+p {
			margin-top: 20px;
		}
	}

	.info {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;

		p {
			color: map-get($mau, main);
		}

		p+p {
			margin-top: 10px;
		}

		&:after {
			content: '';
			width: 30%;
			height: 2px;
			background: map-get($mau, main);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.name {
		font-size: 30px;
		color: map-get($mau, main-2);
		margin-bottom: 10px;
	}

	.position {
		color: map-get($mau, main);
		font-size: 22px;
		margin-bottom: 20px;
	}

	.country {
		color: map-get($mau, main);
		margin-bottom: 10px;
	}

	.ib-program-content {
		h2 {
			font-size: 45px;
			margin-bottom: 20px;
		}

		h3 {
			font-size: 30px;
			margin-bottom: 20px;
		}

		a {
			display: inline-block;
			margin-bottom: 20px;
		}

		p+p {
			margin-top: 20px;
		}

		p {
			margin-bottom: 10px;
		}

		.quote {
			position: relative;
			padding-left: 50px;
			margin-top: 50px;

			p {
				font-style: italic;
			}

			&:after {
				content: '';
				width: 35px;
				height: 35px;
				position: absolute;
				background-image: url(../assets/icons/quote.svg);
				background-size: cover;
				background-repeat: no-repeat;
				top: 0;
				left: 0;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.content {
			margin-top: 0;
			padding: 20px;
			overflow-y: auto;
		}

		.img {
			&.height-810px {
				height: 600px;
			}

			&.height-550px {
				height: 350px;
			}
		}

		.block-text {
			&.height-810px {
				min-height: unset;

				.content {
					max-height: 600px;
				}
			}

			&.height-550px {
				min-height: unset;

				.content {
					max-height: 350px;
				}
			}

			&:after {
				content: none;
			}
		}

		.ib-program-content {
			h2 {
				font-size: 32px;
				margin-bottom: 10px;
			}

			h3 {
				font-size: 28px;
				margin-bottom: 10px;
			}

			a {
				margin-bottom: 10px;
			}

			p+p {
				margin-top: 10px;
			}

			.quote {
				margin-top: 25px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.img {

			&.height-810px,
			&.height-550px {
				height: auto;
			}
		}

		.block-text {

			&.height-810px,
			&.height-550px {
				min-height: unset;

				.content {
					max-height: unset;
				}
			}
		}

		&.bg-50-gray {
			&:after {
				content: none;
			}
		}

		.ib-program-content {
			h2 {
				font-size: 24px;
			}

			h3 {
				font-size: 18px;
			}

			p {
				font-size: 14px;
			}

			ul {
				li {
					font-size: 14px;
				}
			}

			.quote {
				padding-left: 35px;

				&:after {
					width: 25px;
					height: 25px;
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.name {
			font-size: 24px;
		}

		.country {
			margin-bottom: 5px;
		}

		.position {
			font-size: 18px;
			margin-bottom: 10px;
		}

		.info {
			p {
				font-size: 14px;
			}

			p+p {
				margin-top: 5px;
			}

			&:after {
				width: 50%;
			}
		}

		.desc {
			p {
				font-size: 14px;
			}

			p+p {
				margin-top: 10px;
			}
		}
	}
}

.block-content--style_5 {
	background-color: map-get($mau, main);
	padding: 50px;

	h2 {
		color: #ffffff;
		font-size: 45px;
	}

	.item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		background: #ffffff;
		padding: 15px 25px;
	}

	.item+.item {
		margin-top: 15px;
	}

	.img {
		-ms-flex: 0 0 70px;
		flex: 0 0 70px;
		max-width: 70px;
	}

	.content {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		padding-left: 15px;

		p+p {
			margin-top: 10px;
		}
	}

	@media (max-width: 1024.98px) {
		h2 {
			font-size: 36px;
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px;

		h2 {
			margin-bottom: 25px;
		}
	}

	@media (max-width: 575.98px) {
		padding: 10px;

		h2 {
			font-size: 24px;
			margin-bottom: 15px;
		}

		.item {
			padding: 10px;
		}

		.item+.item {
			margin-top: 10px;
		}

		.content {
			p {
				font-size: 14px;
			}
		}
	}
}

.page-desc {
	padding-bottom: 50px;

	p {
		font-size: 22px;
		color: map-get($mau, main);
	}

	p+p {
		margin-top: 10px;
	}

	@media (max-width: 575.98px) {
		padding-bottom: 25px;

		p {
			font-size: 14px;
		}
	}
}

.about-content {
	padding: 100px 0;

	@media (min-width: 1200px) {
		&.block-padding-40px {
			.row {
				margin-right: -40px;
				margin-left: -40px;
			}

			div[class*="col-"] {
				padding-right: 40px;
				padding-left: 40px;
			}
		}
	}

	.item {
		align-items: center;

		&.no-limit {
			.box-content {
				max-height: unset !important;
			}
		}
	}

	.item+.item {
		margin-top: 50px;
	}

	.box-content {
		max-height: 350px;
		overflow-y: auto;

		h2 {
			font-size: 45px;
			font-family: "lora", sans-serif;
			color: map-get($mau, main);
			margin-bottom: 20px;
		}

		p+p {
			margin-top: 10px;
		}
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;

		.box-content {
			max-height: 300px;

			h2 {
				font-size: 32px;
				margin-bottom: 10px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.item {
			&.text-right {
				.box-img {
					order: 2;
				}

				.box-content {
					order: 1;
				}
			}
		}

		.item+.item {
			margin-top: 25px;
		}

		.box-content {
			max-height: unset;
			margin-bottom: 10px;
		}
	}

	@media (max-width: 575.98px) {
		padding: 25px 0;

		.box-content {
			h2 {
				font-size: 24px;
				margin-bottom: 5px;
			}

			p {
				font-size: 14px;
			}
		}
	}
}

.community,
.school-leadership-team,
.dormitory-2 {
	padding: 100px 0;

	.item-school-leadership-team+.item-school-leadership-team {
		margin-top: 100px;
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;

		.item-school-leadership-team+.item-school-leadership-team {
			margin-top: 50px;
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		.item-school-leadership-team+.item-school-leadership-team {
			margin-top: 25px;
		}

		.item-community+.item-community {
			margin-top: 25px;
		}
	}

	@media (max-width: 575.98px) {
		.item-school-leadership-team+.item-school-leadership-team {
			margin-top: 10px;
		}

		.item-community+.item-community {
			margin-top: 10px;
		}
	}
}

.working {
	padding-top: 100px;

	.block-content {
		margin-bottom: 50px;

		.content+.content {
			margin-top: 35px;
		}

		h2 {
			font-size: 45px;
			position: relative;
			text-align: center;
			color: #0A1F44;
			margin-bottom: 30px;
		}

		h3 {
			font-size: 30px;
			margin-bottom: 25px;
		}

		.note {
			margin-top: 30px;
		}

		p {
			margin: 15px 0;
		}
	}

	@media (max-width: 1024.98px) {
		padding-top: 50px;

		.block-content {
			h2 {
				font-size: 32px;
				margin-bottom: 20px;
			}

			h3 {
				font-size: 24px;
			}
		}
	}

	@media (max-width: 767.98px) {
		padding-top: 25px;

		.block-content {
			margin-bottom: 25px;
		}
	}

	@media (max-width: 575.98px) {
		.block-content {
			.content+.content {
				margin-top: 25px;
			}

			h2 {
				font-size: 24px;
				position: relative;
				text-align: center;
				color: #0A1F44;
				margin-bottom: 30px;
			}

			h3 {
				font-size: 18px;
			}

			.note {
				font-size: 12px;
				margin-top: 30px;
			}

			p {
				font-size: 14px;
				margin: 15px 0;
			}
		}
	}
}

.bg-section {
	position: relative;

	&[position-top-left] {
		&:after {
			top: 0;
			left: 0;
			background-image: url(../assets/bg-left.svg);
		}
	}

	&[position-top-right] {
		&:after {
			top: 0;
			right: 0;
			background-image: url(../assets/bg-right.svg);
		}
	}

	&:after {
		content: '';
		position: absolute;
		background-size: cover;
		width: 350px;
		height: 250px;
		background-repeat: no-repeat;
		z-index: -1;
	}

	@media (max-width: 575.98px) {
		&:after {
			content: none;
		}
	}
}

.nav-menu {
	margin-bottom: 50px;

	ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		padding-left: 0;
	}

	li {
		width: 100%;

		&.active {
			>a {
				&:after {
					background: #1E1E1E;
				}
			}
		}

		>a {
			position: relative;
			text-align: center;
			display: block;
			line-height: 25px;
			padding: 20px 5px;
			text-align: center;
			font-family: "lora", sans-serif;
			color: #1E1E1E;
			font-size: 30px;
			font-weight: 700;
			transition: .3s all ease-in-out;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 3px;
				background: #C5C5C5;
			}

			@media (min-width: 1025px) {
				&:hover {
					color: map-get($mau, main-2);
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-bottom: 25px;

		li {
			>a {
				font-size: 24px;
			}
		}
	}

	@media (max-width: 575.98px) {
		li {
			>a {
				font-size: 18px;
				padding: 10px 5px;
			}
		}
	}
}

.core--tab-container__style-1 {
	border-top: 1px solid rgba(0, 0, 0, 0.5);

	.item {
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		padding: 20px 0;

		&.active {
			.tab-title {
				&:after {
					transform: translateY(-50%) rotateX(180deg);
				}
			}
		}
	}

	.tab-title {
		position: relative;
		cursor: pointer;
		user-select: none;
		font-size: 18px;
		font-weight: 700;
		color: map-get($mau, main-2);
		padding-right: 50px;

		&:after {
			content: '\e874';
			font-family: 'Linearicons-Free';
			position: absolute;
			right: 0;
			top: 50%;
			font-size: 28px;
			font-weight: 700;
			transform: translateY(-50%);
			color: map-get($mau, main);
			transition: .3s all ease-in-out;
		}
	}

	.tab-content {
		display: none;
		margin-top: 20px;

		p+p {
			margin-top: 20px;
		}

		ul {
			margin-top: 10px;

			li+li {
				margin-top: 10px;
			}
		}

		.block-main-table {
			margin-top: 10px;

			table {
				p+p {
					margin-top: 5px;
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.tab-title {
			&:after {
				font-size: 18px;
			}
		}

		.tab-content {
			p {
				font-size: 14px;
			}

			p+p {
				margin-top: 10px;
			}

			ul {
				li {
					font-size: 14px;
				}
			}
		}
	}
}

.virtual-tour {
	background: map-get($mau, main);
}

.copy-right-full-screen {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #0A1F44;

	p {
		font-size: 14px;
		color: #ffffff;
		text-align: right;
		line-height: 40px;
	}
}

.max-950px {
	max-width: 950px;
}

.fancybox-show-thumbs .fancybox-thumbs {
	display: block;
}

.fancybox-thumbs__list {
	font-size: 0;
	height: 100%;
	list-style: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: relative;
	white-space: nowrap;
	width: 100%;
}

.fancybox-thumbs__list a {
	backface-visibility: hidden;
	background-color: rgba(0, 0, 0, .1);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	float: left;
	height: 75px;
	margin: 2px;
	max-height: calc(100% - 8px);
	max-width: calc(50% - 4px);
	outline: none;
	overflow: hidden;
	padding: 0;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	width: 100px;
}