section.index-1
	.container
		.block-title--main(data-title="IB Program")
			h2.wow.fadeInDown(data-wow-duration="1.3s" data-wow-delay=".3s") IB Program
		.row.list-item-index-1
			-for(i=1;i<4;i++)
				.col-md-4.col-sm-6.item.wow.fadeIn(data-wow-duration="1.3s" data-wow-delay=".3s")
					a(href="#").block-content--style_1
						.img.ov-h
							img.ofcv.lazyload.blur-up(data-src="./assets/images/index-1/item-index-1__0"+i+".jpg", alt="ITEM-INDEX-1")
						.content
							.title.lcl.lcl-1 PYP
							.desc.lcl.lcl-8 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid facilis totam eum nostrum maiores itaque deleniti laudantium, placeat incidunt mollitia fuga omnis necessitatibus asperiores ea assumenda id quibusdam fugiat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro officiis beatae voluptate, velit repellat ipsa perferendis ullam architecto assumenda ad alias laborum modi labore vitae qui mollitia, odit magni. Quidem!