section.news.container
    h2 Features
    .features.row.list-items
        .col-sm-6.item
            a(href="")
                .img
                    img.lazyload.blur-up(data-src="../assets/images/news/news1.jpg", alt="")
                .content
                    h3.lcl.lcl-2 DÀNH TẶNG 100 SUẤT HỌC BỔNG 300 TRIỆU ĐỒNG TẠI SNA - CHẮP CÁNH ƯỚC MƠ CON VỚI MÔI TRƯỜNG GIÁO DỤC CHUẨN QUỐC TẾ
                    p.lcl.lcl-4 Với mong muốn đào tạo những thế hệ công dân toàn cầu tiếp theo, SNA tự hào mang đến 100 suất học bổng lên đến 300 triệu đồng liên tiếp trong 3 năm. Những suất học bổng này không chỉ có ý nghĩa về mặt tài chính, còn đảm bảo:
                    span.read-more
                        .icon-arrow
                            img.svg(src="./assets/icons/arrow-right-blue.svg", alt="", srcset="")
                        | Read more   
        .col-sm-6.item
            a(href="")
                .img
                    img.lazyload.blur-up(data-src="../assets/images/news/news2.jpg", alt="")
                .content
                    h3.lcl.lcl-2 NEW EXPERIENCE WITH COMPUTER APPLICATION CLASS AT SNA
                    p.lcl.lcl-4 Students of 9th grade, the International Schools of North America (SNA) for the first time have access to a complete innovative way of studying in computer application class, which brings happy time to learn and experience.
                    span.read-more
                        .icon-arrow
                            img.svg(src="./assets/icons/arrow-right-blue.svg", alt="", srcset="")
                        | Read more

section.news-all.container
    .related-news
            h3 All
            .row
                .col-lg-4.col-sm-6
                    a.related-item(href="#")
                        .related-img
                            img(src="./assets/images/news-detail/r1.jpg", alt="related1", srcset="")
                        .related-content
                            .related-title.lcl.lcl-2 KIỂM TRA ĐẦU VÀO TRONG MÙA DỊCH, KHÔNG CÒN LÀ KHÓ KHĂN!
                            div.related-text.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
                            span
                                .icon-arrow
                                    img.svg(src="./assets/icons/arrow-right-blue.svg", alt="", srcset="")
                                | Read more
                .col-lg-4.col-sm-6
                    a.related-item(href="#1")
                        .related-img
                            img(src="./assets/images/news-detail/r3.jpg", alt="related3", srcset="")
                        .related-content
                            .related-title.lcl.lcl-2 TIPS CHĂM SÓC CON TRONG MÙA DỊCH COVID-19
                            .related-text.lcl.lcl-4 Bố mẹ có biết? Trước khi hoàn tất thủ thục nhập học tại SNA, các “sĩ tử” ở các cấp đều cần tham gia vào bài kiểm tra đầu vào để được khảo sát thực lực, đánh giá khả năng ngôn ngữ của các em, nhằm mang đến một môi trường học tập phù hợp nhất.
                            span 
                                .icon-arrow
                                    img.svg(src="./assets/icons/arrow-right-blue.svg", alt="", srcset="")
                                .text Read more
                .col-lg-4.col-sm-6
                    a.related-item(href="#2")
                        .related-img
                            img(src="./assets/images/news-detail/r2.jpg", alt="related2", srcset="")
                        .related-content
                            .related-title.lcl.lcl-2 CÁC BÀ MẸ NỔI TIẾNG HỌC ONLINE CÙNG CON NHƯ THẾ NÀO?
                            .related-text.lcl.lcl-4 Nghệ sĩ Ốc Thanh Vân và Người mẫu Thúy Hạnh chia sẻ về quá trình học online cùng con trong mùa dịch Covid-19. Hai bà mẹ nổi tiếng đã luôn ở bên nhắc nhở và giúp đỡ các bé về giờ giấc, đường truyền mạng... trong quá trình học.
                            span 
                                .icon-arrow
                                    img.svg(src="./assets/icons/arrow-right-blue.svg", alt="", srcset="")
                                | Read more

