section.news
	.container
		h2 Features
		.features.row.list-items
			.col-sm-6.item
				a(href="news-detail.html")
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news1.jpg", alt="")
					.related-content
						h3.lcl.lcl-2 HỌC SINH SNA SẼ TỐT NGHIỆP CHƯƠNG TRÌNH TÚ TÀI QUỐC TẾ IB
						p.lcl.lcl-4 Từ năm học 2020-2021, học sinh Trường Quốc tế Bắc Mỹ (SNA) sẽ theo học chương trình Tú tài Quốc tế (International Baccalaureate Diploma Programme - IBDP), dự kiến tốt nghiệp khóa đầu tiên vào tháng 6-2022.
						span.icon-more Read more 
			.col-sm-6.item
				a(href="news-detail.html")
					.img.ov-h
						img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news2.jpg", alt="")
					.related-content
						h3.lcl.lcl-2 TIPS CHĂM SÓC CON TRONG MÙA DỊCH COVID-19
						p.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
						span.icon-more Read more
		h2 ALL
		.features.row.list-items
			.col-lg-4.item
				a.related-item(href="news-detail.html")
					.img.ov-h.related-img
						img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news/newsall1.jpg" alt="news all 1")
					.related-content
						h3.lcl.lcl-2 TIPS CHĂM SÓC CON TRONG MÙA DỊCH COVID-19
						div.related-text.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
						span.icon-more Read more
			.col-lg-4.item
				a.related-item(href="news-detail.html")
					.img.ov-h.related-img
						img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news/newsall.jpg" alt="news all 2")
					.related-content
						h3.lcl.lcl-2 KIỂM TRA ĐẦU VÀO TRONG MÙA DỊCH, KHÔNG CÒN LÀ KHÓ KHĂN!
						div.related-text.lcl.lcl-4 Bố mẹ có biết? Trước khi hoàn tất thủ thục nhập học tại SNA, các “sĩ tử” ở các cấp đều cần tham gia vào bài kiểm tra đầu vào để được khảo sát thực lực, đánh giá khả năng ngôn ngữ của các em, nhằm mang đến một môi trường học tập phù hợp nhất.


						span.icon-more Read more
			.col-lg-4.item
				a.related-item(href="news-detail.html")
					.img.ov-h.related-img
						img.blur-up.ls-is-cached.lazyload(data-src="./assets/images/news/newsall3.jpg" alt="news all 3")
					.related-content
						h3.lcl.lcl-2 KIỂM TRA ĐẦU VÀO TRONG MÙA DỊCH, KHÔNG CÒN LÀ KHÓ KHĂN!
						div.related-text.lcl.lcl-4 Mùa dịch này khiến ai ai cũng trở nên hoang mang, lo lắng, đặc biệt là cuộc sống của cả gia đình bị đảo lộn khi con không thể đến trường, bố mẹ phải làm việc tại nhà.
						span.icon-more Read more