section.community
	.container
		.page-desc
			p The International School of North America (SNA) has an outstanding faculty. Our teachers are truly multi-national and come from all corners of the globe, adding to our cultural diversity. Additionally, we select teachers with rich teaching experiences in international education and a track record of inspiring children to do their best. In line with IB philosophy, we seek teachers who can demonstrate commitment to professional development and can actively role model IB learner profile attributes.
		.row
			.col-md-6.item-community
				a(href="#").block-content--style_3
					.img.ov-h
						img.ofcv.lazyload.blur-up(data-src="./assets/images/community/1.jpg", alt="")
					.text.lcl.lcl-1 SCHOOL LEADERSHIP TEAM
			.col-md-6.item-community
				a(href="#").block-content--style_3
					.img.ov-h
						img.ofcv.lazyload.blur-up(data-src="./assets/images/community/2.jpg", alt="")
					.text.lcl.lcl-1 FACULTY